[2013-10-23 21:16] ykessler opened #10 "Preventing shipping address prompt"
How do you prevent the shipping address prompt on the paypal payments page? Is there a no_shipping flag somewhere?

[2013-12-12 21:20] gersmann opened #14 "Amount / Details / Fee missing in transactions / authorizations / capture"
The amount object has a _details.fee_ field according to the official paypal REST API documentation at https://developer.paypal.com/webapps/developer/docs/api/#amount-object.

The field is missing in the response to authorization / payment requests. It is mandatory to capture paypal fees for proper bookkeeping. This is an oversight, right?

[2014-10-30 15:10] lws68825 opened #47 "Transaction object documentation missing payee property"
Hi, I noticed the payee attribute of transaction class and tested in the sandbox environment, it worked greatly. But the document on developer.paypal.com is not updated. Please update the document.

[2014-12-12 11:18] sjmog opened #66 "Response from Agreement creation does not include Agreement ID"
After making a call like this:

[code]

`@agreement` still has no `id` method. So you cannot retrieve Agreements or subsequently execute them.

[2014-12-15 05:40] yoonwaiyan opened #68 "Agreement issues on new gem release(0.8.1)"
1.
I want to search for transactions for an agreement. After getting the bill information(`bill = Paypal::Agreement.find("<agreement_id>")`), I called the transactions method like this:
[code]

but it returns an error:
[code]

2.
I want to charge users by setting outstanding balance manually by using the set_balance method in the newest gem release. I searched for an agreement(`bill = Paypal::Agre

[2015-01-02 10:04] morgoth opened #73 "billing agreement during payment API"
Currently I'm using classic PayPal API and I would like to migrate to REST one.

I cannot find option in REST API to execute payment altogether with billing agreement.
Is it supported in REST API?

From Express Checkout description about billing agreement: "The buyer can agree during the Express Checkout flow"

[2015-01-02 11:35] PaulDaviesC opened #74 "Error in billing plan update"
When I try to use the update method in class Plane it is giving me error as below :

NameError: uninitialized constant PayPal::SDK::REST::DataTypes::Plan::PatchRequest
from /home/pauldc/.rvm/gems/ruby-2.1.2/gems/paypal-sdk-rest-0.9.1/lib/paypal-sdk/rest/data_types.rb:1277:in `update'

I believe this is a bug. If not a bug, then what I am doing wrong?

[2015-01-02 15:08] juwlee commented on #74
@PaulDaviesC thanks for reporting. This is the same kind of issue as #68 and will be fixed in the next release.

[2015-01-02 15:08] #74 closed

[2015-01-02 15:50] juwlee commented on #73
@morgoth by "execute payment altogether with billing agreement", do you mean to have the first payment taken immediately as part of billing agreement execution? If so, please refer to [the issue raised on PHP SDK](https://github.com/paypal/PayPal-PHP-SDK/issues/180#issuecomment-66811384).

[2015-01-02 16:02] morgoth commented on #73
No, it looks as follows:

I'm redirecting user to Express Checkout page when he pays for product, but also agrees to future payments made by our platform.

This is possible in classic API by specifing `BillingAgreementDetails` and XML is like:

[code]

[2015-01-02 17:00] juwlee commented on #73
@morgoth payment and billing agreement are two separate resources on REST. So, the payment execution would need to be placed separately from billing agreement transaction.

[2015-01-02 17:00] #73 closed

[2015-01-05 07:21] lws68825 opened #75 "chained payments api"
Hi, when will chained payments rest api available?

[2015-01-07 19:52] juwlee commented on #68
@yoonwaiyan fixes and code samples have been released. Can you try it?

[2015-01-07 22:28] tomwhipple commented on #75
@lws68825 that's a good question. We'd hoped to have released this update by now, but unfortunately work on a key dependency has been delayed. I don't have an updated estimate.

[2015-01-07 22:28] #75 closed

[2015-01-08 04:33] yoonwaiyan commented on #68
@juwlee yup, transactions and agreement issues are solved, thanks. There's another issue on the new release though, I'll open another issue ticket.

[2015-01-08 04:33] #68 closed

[2015-01-08 04:38] yoonwaiyan opened #76 "Agreement issue in v0.10.0"
Was testing the new release on this gem by trying out the set balance function of Paypal Agreement but I've received an internal server error on this. This is a new agreement so there's no outstanding balance at the moment.

[code]

[code]

[2015-01-13 19:40] juwlee commented on #76
@yoonwaiyan can you please try again and share the debug ID? Also, it would help if the retrieved agreement (ID: I-MYNYLVTWTYU2) is posted here.

[2015-01-19 17:44] kukula opened #78 "500 Error while payment execute in sandbox mode"
Gems versions:
paypal-sdk-core (0.3.1)
paypal-sdk-rest (0.9.1, 0.7.3)

[code]

Looks like this code worked fine few weeks ago.
Could someone please help?

[2015-01-20 12:40] Caffe1neAdd1ct commented on #14
@jziaja Any update on this one yet?

[2015-01-20 15:55] juwlee commented on #78
@kukula can you try this again and see if it prints out debug_id along with the error message? If it still does not, please try curl and post your request/response.

[2015-01-20 16:45] juwlee commented on #76
Closing for now. Please re-open with a debug ID and the retrieved agreement so that I can look deeper into it.

[2015-01-20 16:45] #76 closed

[2015-01-20 18:02] kukula commented on #78
Same :(
[code]

[2015-01-20 18:03] kukula commented on #78
Create payment goes ok, fail only in execute

[2015-01-20 19:33] juwlee commented on #78
@kukula have you tried curl for the same request? Can you share the request and the response?

[2015-01-23 00:03] cannapages opened #79 "500 Internal Error with rest SDK payment creation"
Hello I am trying to solve a cryptic error when I submit a payment in my sandbox environment.

Here is a gist of our implementation code
https://gist.github.com/cannapages/d06a3470cf7bba5ab7b4

The error I am about to describe happens at line 33 of the above mentioned implementation code

When I try to create a payment with incorrect credentials such as an expired card your server serves back a 20

[2015-01-23 03:10] ppmtscory commented on #79
@cannapages This has to do with the card number (41111...) you are using.  This test number is so overused within our sandbox environment that you'll get the Internal Server Error 98% of the time.  We clear it out of our system every so often, but it doesn't take long to get overused and fail again.  To remedy this, you can either use a card number from one of your sandbox accounts or you can use

[2015-01-23 03:10] #79 closed

[2015-01-23 12:05] geomobile-haptimap opened #80 "Refresh Tokens in Future Payments"
Hi all,

according to the documentation for Future Payments the server immediately has to exchange short-lived Authorization Code for long-lived Refresh / Access Tokens.

But the code from Future Payment example

access_token  = FuturePayment.exch_token(auth_code)

only returns access token and NOT the additional information such as refresh token, expires_in, etc.

Did I miss something?

Thanks in

[2015-01-23 15:41] juwlee commented on #80
@geomobile-haptimap thanks for pointing it out. We are working on a fix which will be released soon.

[2015-01-24 05:23] pencilcheck opened #81 "401 Error while payment execute in sandbox mode"
Never changed anything, the rspec tests were passing a few months ago now they aren't.

[code]

Using latest PayPal-Ruby-SDK (0.10.0)
[code]

[2015-01-26 09:28] Ghanimaid commented on #78
I have allready a ticket at paypal for that issue.
They confirmed an API-Problem in december and answered they work on it.

[2015-01-26 20:37] juwlee commented on #81
@pencilcheck can you tell me which rspec test used to pass but is now failing? (I do not see a failure from rspec payment test suite on my local environment.) Does your request work with sample credentials? Also, have you tried curl?

[2015-01-26 23:30] pencilcheck commented on #81
Sorry, it's not paypal's rspec, but in our project we uses factory_girls to create users with credit cards and the offending lines:
[code]
Is the second line here when I call create. The fake attributes are taking from the paypal's create credit card sample:
[code]

[2015-01-27 19:02] juwlee commented on #81
@pencilcheck can you clarify so I can understand the issue correctly? Did you get the unauthorized error from CreditCard.create(), not from payment.execute() as described in the subject? Also, have you got a chance to try the sample credentials and curl?

[2015-01-27 19:02] juwlee commented on #78
Closing issue. @kukula please re-open when the curl request and response are ready.

[2015-01-27 19:02] #78 closed

[2015-01-27 23:36] pencilcheck commented on #81
Unless the sample credentials have changed, the error comes from the .create() method. I'm on the latest version, so is it really necessary to test it on curl?

[2015-01-28 17:29] sameerf3 opened #82 "How to generate an authorization code using PayPal-Ruby-SDK for future payment?"
I am trying to generate access token for paypal for future payment using  PayPal-Ruby-SDK [example][1].

    it "Exchange Authorization Code for Refresh / Access Tokens" do
        # put your authorization code for testing here
        auth_code = ''
        if auth_code != ''
          access_token  = FuturePayment.exch_token(auth_code)
          access_token.should_not be_nil
        end
    end

[2015-01-28 19:17] jaypatel512 commented on #82
You need to have Mobile SDK integration to get authorization code for doing future payments.
It is explained in detailed in [PayPal-IOS-SDK](https://github.com/paypal/PayPal-iOS-SDK/blob/master/docs/future_payments_server.md).

Similar documentation would apply for [PayPal-Android-SDK](https://github.com/paypal/PayPal-Android-SDK/blob/master/docs/future_payments_server.md)

[2015-01-28 19:28] juwlee commented on #82
@sameerf3 please see [this doc](https://developer.paypal.com/webapps/developer/docs/integration/mobile/make-future-payment/) on how future payment works.

[2015-01-28 19:28] #82 closed

[2015-01-28 20:12] juwlee commented on #81
@pencilcheck I tested credit card creation but did not see 401. If you are using the sample credentials, please create and try your own. If your own credentials throw 401, that probably means an account issue and PayPal MTS should be able to handle the issuer better.

[2015-01-28 20:12] #81 closed

[2015-01-28 21:59] pencilcheck commented on #81
@juwlee ok, then the most likely issue might be the latter. I'm using my credential when I was running rspec. How do I contact PayPal MTS to my account looked at?

[2015-01-29 02:05] lws68825 opened #83 "Payee attribute"
Hi, I just read the latest source code of Payment, I find that there is no attribute defined in the Payee class. Why?
      class Payee < Base
        def self.load_members
        end
      end

[2015-01-29 04:22] juwlee commented on #81
@pencilcheck here is a link to [PayPal Merchant Technical Services](https://ppmts.custhelp.com/).

[2015-01-29 08:39] sameerf3 commented on #82
Thanks @jaypatel512 @juwlee , Actually I wanted to use future payment from website, but got to know that currently Paypal only support future payment for mobile sdks.

[2015-01-29 11:21] colszowka opened #84 "Coveralls declared as runtime dependency instead of development"
In the latest release 1.0.0, coveralls has [been added](https://github.com/paypal/PayPal-Ruby-SDK/commit/064d97d2e49e89433ef84fcf8b9b25af74842544) as a runtime dependency and hence will be installed on production environments for all users of the sdk, even though it's a development tool. The declaration should be changed to `add_development_dependency`.

[2015-01-29 12:04] colszowka opened #85 "FuturePayment class not available in version 1.0"
The class `PayPal::SDK::REST::DataTypes::FuturePayment` is not available when using the v1.0 gem because it is hidden in the file `extended_data_types.rb` which is defined as an autoload ExtendedDataTypes in https://github.com/paypal/PayPal-Ruby-SDK/blob/master/lib/paypal-sdk/rest.rb

One has to do `require 'paypal-sdk/rest/extended_data_types'` to get it loaded.

Referencing `PayPal::SDK::REST::E

[2015-01-29 15:56] juwlee commented on #84
@colszowka thanks for pointing it out. It has been fixed in 360facf554b9397b8134030f0395b0a98f4d32f2 . Also, lease feel free to submit a pull request for this type of patch/suggestion.

[2015-01-29 15:56] #84 closed

[2015-01-29 16:01] juwlee commented on #83
@lws68825 looks like it was missed in the last code generation. I have added the missing properties in 3d3a21c0b44e513207b0414c5d0722b9d1c15e17 . Thanks for the catch!

[2015-01-29 16:01] #83 closed

[2015-01-31 01:32] pencilcheck commented on #81
@juwlee just upgraded to the latest version (was at 0.10.0)

This is the log when I call `paypal_card.create`

[code]

Can you tell me how to report to MTS for this specific problem? Because seems like the server doesn't tell much about what's going on in the background and seems like requesting for a access token (the line where it requests https://api.sandbox.paypal.com/v1/oauth2/token) seems to

[2015-02-01 01:24] johnkolen opened #86 "paypal.crt not included in gem"
data/paypal.crt isn't tagged for inclusion in gemspec. Given that Core::Util:HTTPHelper#default_ca_file hard codes this file, it's a good idea to add it to the gemspec.

[2015-02-03 10:04] jgauby opened #87 "401 with credentials of classic API (username/password/signature)"
The gem merchant-sdk-ruby will be deprecated in the future (https://github.com/paypal/merchant-sdk-ruby). I need to use credentials for Classic APIs, with username/password/signature. Nothing in the documentation. But, this feature seems to be possible, some hints in the code :
* https://github.com/paypal/PayPal-Ruby-SDK/blob/master/lib/paypal-sdk/core/authentication.rb#L29
* https://github.com/pa

[2015-02-03 15:23] juwlee commented on #87
@jgauby this SDK works with REST APIs but not with Classic. I have removed the unnecessary code in 31eaf8cbc7e597e8000105f4c5a69c2fd523402b . Thanks for pointing it out.

[2015-02-03 15:23] #87 closed

[2015-02-03 15:46] juwlee commented on #86
@johnkolen thanks for the suggestion. Would you send it in the form of pull request?

[2015-02-03 15:51] juwlee commented on #85
@colszowka thanks for bringing it to our attention. It seems the future payment class is better placed in data_types.rb along with other data models. I will move it back there along with some other fixes.

[2015-02-05 05:12] trantorLiu opened #90 "Payment.new generates OpenSSL::SSL::SSLError (certificate verify failed)"
I have got `OpenSSL::SSL::SSLError`s since 1/28/2015. Before that day, it worked fine. I then updated this gem, which didn't work.

[code]

Here's my code:
[code]

[2015-02-05 06:53] jhilden commented on #90
we seem to be having the same issue upgrading from paypal-sdk-rest `0.7.2` to `1.x` :(

[2015-02-05 07:23] jhilden commented on #90
the issue seems to be that the `paypal.crt` has not been packaged in recent versions of the gem as described in #86  Using the fork from this PR `gem 'paypal-sdk-rest', github: 'johnkolen/PayPal-Ruby-SDK', ref: '59c881d96936b443690f5cbfbcca5accd7d700be'` solved the ssl verficiation for us.

@paypal Please release a fix for this critical bug as soon as possible

[2015-02-05 07:25] jhilden commented on #86
@juwlee I can't believe this is tagged as an "enhancement" :(   As far as I see it this is a ciritical bug, see #90
I wonder why there haven't been more users reporting issues yet.

thanks for the fix @johnkolen

[2015-02-05 08:35] trantorLiu commented on #90
@jhilden Thank you so much! But finally I solved the problem by downloading the `data/paypal.crt` to my `config` dir, and specifying it in my `config/paypal.yml` like this:
[code]

[2015-02-05 16:11] juwlee commented on #86
@jhilden @johnkolen I have reviewed and merged the PR. The updated gem has been released.

[2015-02-05 16:11] #86 closed

[2015-02-05 16:13] juwlee commented on #90
@jhilden @trantorLiu a new version with the fix from #86 has been released. Please try it out and let us know if it persists.

[2015-02-05 16:13] #90 closed

[2015-02-06 02:34] trantorLiu commented on #90
@juwlee Thank you!

[2015-02-08 18:57] johnkolen opened #92 "OpenIDConnect::API:VERSION doesn't autoload"
[code]
Above code fragment fails with
1.1.1
/usr/local/rvm/gems/ruby-2.1.2/gems/paypal-sdk-rest-1.1.1/lib/paypal-sdk/core/openid_connect/api.rb:42:in `user_agent': uninitialized constant Class::VERSION (NameError)
	from lib/paypal.rb:6:in `<main>'

Remove the comment symbol and it works as expected.
1.1.1
PayPalSDK/openid-connect-ruby 1.1.1 (paypal-sdk-core 1.1.1; ruby 2.1.2p95-x86_64-linux)

[2015-02-09 15:44] jziaja commented on #92
`PayPal::SDK::OpenIDConnect::API.user_agent` [references](https://github.com/paypal/PayPal-Ruby-SDK/blob/master/lib/paypal-sdk/core/openid_connect/api.rb#L42) the `VERSION` property assuming it's part of a known namespace (which is how the SDK was designed).  In order for this to work, you'll need to add the following `include` directive so the properties and classes defined in the `PayPal::SDK::R

[2015-02-09 16:36] jziaja commented on #92
Upon further inspection, it looks like the code should probably be changed so the `include` directive isn't required.  Changing the following line in [`lib/paypal-sdk/core/openid_connect/api.rb`](https://github.com/paypal/PayPal-Ruby-SDK/blob/v1.1.1/lib/paypal-sdk/core/openid_connect/api.rb#L42) will allow the above code fragment to work without needing the additional `include`:

**Current Code**

[2015-02-10 14:52] kukula commented on #78
@juwlee what do you mean?

@Ghanimaid  could you please share a link to that ticket?

[2015-02-10 15:06] jziaja commented on #78
@kukula, @juwlee was asking if you tried using cURL to execute the payment.  If you can provide the full request and response you're receiving, that would help us out greatly.  We'd like to see if we can reproduce the issue on our end.  Also, if the server response contains a `debug_id`, that would also help us out as we can use that to look into the logs and find out what specifically is causing

[2015-02-10 15:20] Ghanimaid commented on #78
@kukula I can give you the referenz_id from that ticket (141218-000064) mybe it helps you.
I don't think i can share this link from paypal technical support. I think this Ticket is accorded to my account. So you won't get access. But I may be wrong.

[2015-02-10 15:30] kukula commented on #78
@Ghanimaid oh, I thought it public, and I could track status. thank you!

[2015-02-10 15:36] Ghanimaid commented on #78
I keep you informed about the status. At present its pending fix.
If you need any data, maybe i can help you.

[2015-02-11 07:50] lws68825 opened #94 "chained payments"
Hi, is chained payments rest api available now?

[2015-02-11 09:25] juwlee commented on #94
@lws68825 it is not available yet. Unfortunately, we do not have a time table.

[2015-02-11 09:25] #94 closed

[2015-02-11 21:04] jgonera opened #95 "Travis runs only two examples"
https://travis-ci.org/paypal/PayPal-Ruby-SDK/jobs/50389401

Why are we running only specs that have a `unit` tag?

[2015-02-11 21:23] juwlee commented on #95
Hi @jgonera , we want to separate ```integration``` tests from ```unit``` tests to ensure builds do not fail on API system instability. There is [rspec execution guide](https://github.com/paypal/PayPal-Ruby-SDK/blob/master/spec/README.md) if you want to try it yourself. Please make sure to put credentials with the right scopes enabled in config.

[2015-02-11 21:23] #95 closed

[2015-02-12 02:01] jgonera commented on #95
@juwlee I understand that you don't want to run some of the integration tests in Travis, but 2 specs doesn't seem like the right number to run in CI. For example, when I run tests locally with `bundle exec rspec` tests for `PayPal::SDK::Core::Config` run and they don't seem to be integration tests.

In other words, are you sure that these:

[code]

are the only tests that should run in Travis? I c

[2015-02-13 20:05] joelbarker2011 opened #96 "Constantly getting INTERNAL_SERVICE_ERROR on payment.create"
Over the last couple of days or so, I have repeatedly been getting INTERNAL_SERVICE_ERROR responses from the PayPal Rest API when making calls to https://api.sandbox.paypal.com/v1/payments/payment. The latest response:

    {"name":"INTERNAL_SERVICE_ERROR","message":"An internal service error has occurred","information_link":"https://developer.paypal.com/webapps/developer/docs/api/#INTERNAL_SERVIC

[2015-02-13 20:23] jziaja commented on #96
Have you tried changing the credit card number you're testing with?

[2015-02-13 20:28] juwlee commented on #96
@joelbarker2011 as @jziaja suggested, please try a different card number. [credit card number generator](https://ppmts.custhelp.com/app/answers/detail/a_id/750) may come handy.

[2015-02-13 21:20] joelbarker2011 commented on #96
Besides the number above, I've been using 4111111111111111 (visa), 5555555555554444 (mastercard), and 4417119669820331 (visa). The CVV2 code has varied from "123" to "874" to random 3-digit codes. The expiration month and year have usually been random months in 2018, but I've used others too.

Thanks for the number generator; using a new (visa) number just worked. Does the Rest API have a known pr

[2015-02-23 16:54] nicolo commented on #14
@jziaja @Caffe1neAdd1ct  +1

[2015-02-23 18:36] jziaja commented on #14
Apologies for not responding back in January.  The API team has decided to move the `fee` to a newer, top-level property called `transaction_fee` in both the `sale` and `capture` resources.  The `transaction_fee` property was included with a number of other newer REST payments features that were pushed to the live service last week.  Unfortunately, it appears that the sandbox service has not yet b

[2015-02-24 14:17] Caffe1neAdd1ct commented on #14
@jziaja Thanks for the update :+1:

I can see using the existing PHP SDK the fee is coming back using:

[code]

I take it the fee property on transactions->amount->details will be deprecated in the SDKs when the new `transaction_fee` element is implemented?

[2015-02-24 16:18] jziaja commented on #14
Yes, that's correct.

Also, are you able to see the `fee` when retrieving the transaction details on sandbox or is that a call against the live service?  In my testing on sandbox, I'm only seeing the `fee` returned from the payment execution response.  Subsequent calls to get the payment resource details are missing the `fee` (on sandbox).

[2015-02-24 16:27] Caffe1neAdd1ct commented on #14
@jziaja  Now thats interesting, my code for storing payments does the following:

 - executes
 - re-fetches the payment object
 - matches both and stores

Just done a quick test on our dev environment with paypal sandbox and `fee` appears on the executed payment response but not further calls to collect the payment details. Can also see this in the paypal.log being generated by the PHP SDK.

[2015-02-24 16:34] Caffe1neAdd1ct commented on #14
@jziaja Our renewal payment route uses the initial payment response and has the fee storing correctly on dev.

The initial purchase route re-collects and has no fee available ... definitely an update missing on sandbox. Well spotted :+1:

When i see an initial purchase on our live system i'll double check and confirm if the fee is storing from the re-collected payment response from paypal live.

[2015-02-24 18:02] jziaja commented on #14
The Sandbox/Live services discrepancy has been escalated internally and is being tracked with ticket# **SRE-27862**.  We'll keep you posted here on its status.

[2015-02-26 14:53] jziaja commented on #14
**Update:** I'm seeing `transaction_fee` on sandbox now.  We'll be rolling out newer updates to all the SDKs very soon.  There's a handful of other new features, including support for providing FMF details for REST payments, and we want to make sure everything's working as expected before we push out a new release.

Also, just so everyone's aware, the public documentation is in the process of bein

[2015-02-26 16:49] simo2409 opened #98 "How to get shipping address?"
I'm using payment_details(:payKey => @response.payKey) method to retrieve payment details but there is not the payer's shipping address. Looking at documentation I couldn't find a way to get it via accountId or any other data.

Am I missing anything?

Thank you

[2015-02-26 17:24] juwlee commented on #98
@simo2409 please see #17 for reference. Specifically, "according to https://developer.paypal.com/webapps/developer/docs/api/#execute-an-approved-paypal-payment, when you execute a paypal payment that has been approved by the payer, the payer_info object in the response has a shipping_address object which is the shipping address for the payer paypal account."

[2015-02-26 18:25] simo2409 commented on #98
Thank you juwlee

[2015-02-26 18:25] #98 closed

[2015-03-03 11:29] yoonwaiyan opened #99 "Payment with non US currencies are not working"
I've tried to charge a user by credit card using Payment method, but it seems like the system does not accept currency other than USD. I've tried on MYR and SGD and both payments are failed but payment with USD works. Is there any limitation on credit card charging where cards can be charged based on the card issuance country? Is there any inner problem with the API?

This is my Payment request to

[2015-03-03 15:08] lws68825 commented on #99
Hi, @yoonwaiyan . Maybe you should read this documentation, https://developer.paypal.com/webapps/developer/docs/integration/direct/rest_api_payment_country_currency_support/#direct-credit-card-payments

[2015-03-03 15:47] jziaja commented on #99
Hi @yoonwaiyan , thanks for reporting this issue!  I was able to reproduce this error using a vaulted credit card along with an unsupported currency (as @lws68825 pointed out - thanks!):

![image](https://cloud.githubusercontent.com/assets/8227966/6465941/e45ddc5a-c189-11e4-9633-adb98615240c.png)

I'm guessing what should be returned in this case is the error you get when you provide new credit ca

[2015-03-03 17:14] jziaja commented on #99
Quick update regarding credit card payments using unsupported currencies.  I'm seeing the following errors being returned:

| Currency | Funding Source | API Error |
| ----------- | --------------------- | ------------ |
| `SGD` | `credit_card` | `UNKNOWN_ERROR` |
| `SGD` | `credit_card_token` | `UNKNOWN_ERROR` |
| `MYR` | `credit_card` | `VALIDATION_ERROR` |
| `MYR` | `credit_card_token` | `UNKNO

[2015-03-05 16:01] jhilden commented on #90
a bit late to the party, but still thanks a lot for fixing this so quickly.

[2015-03-09 14:42] tbhockey opened #101 "Use REST SDK alongside Adaptive Payments?"
Is there anyway to use the REST SDK and Adaptive Payments (https://github.com/paypal/adaptivepayments-sdk-ruby) in the same app? We've been using Adaptive Payments but want to switch some payment processes to the REST API, but currently if we simply add the rest sdk gem to the gemfile and try to use adaptive payments we run into are conflicts.

[code]

You can see in the trace above it attempts to

[2015-03-09 15:14] jziaja commented on #101
Hi @tbhockey , thanks for reporting this!  This sounds like a bug with this SDK as it should be allowed to work alongside the Adaptive Payments SDK since support for that API is not yet available via REST.

Just curious, but can you share what module namespacing changes you attempted with both this SDK and Adaptive Payments that didn't work?  The conflict you mentioned looks to be originating from

[2015-03-09 15:19] tbhockey commented on #101
We've tried various namespaces, what I have at the moment is:

[code]

[2015-03-09 15:22] tbhockey commented on #101
Perhaps it's worth mentioning that using this SDK works fine, it's just using the Adaptive Payments SDK is where it chokes.

[2015-03-09 15:25] jwilsjustin commented on #101
This issue seems related to #92

[2015-03-09 16:50] tbhockey commented on #101
@jwilsjustin @jziaja This fork https://github.com/jwilsjustin/PayPal-Ruby-SDK appears to fix the problem.

[2015-03-10 20:15] rharishan opened #103 "Internal server error for single payout in sandbox"
Hi,
I'm trying to do a single payout using sandbox accounts. I'm getting "Internal server error" continuously.
Following are the couple of debug ids :+1:
d9064142765c9 , 23fb2682789e7 , e46e471b086fe, 37e27429b0a32.

It would be great if I can get the reason for this behaviour.

Thank you.

[2015-03-10 20:26] jaypatel512 commented on #103
Few things to check :

1. Can you confirm if you are seeing the same behavior in samples too ?

2. Also, do you have a PayPal balance of given amount and currency ?

3. Also, make sure you have enabled payout in your app in developer dashboard.

We will look into that debugIds and get back to you !

[2015-03-11 08:04] jaypatel512 commented on #103
Hey @rharishan ! We were able to reproduce the issue on Sandbox. I have created an internal ticket `PPPLBUS-8749` for further investigation and remedy.

[2015-03-11 10:15] rharishan commented on #103
Hey @jaypatel512 !
Thank you for your timely response. Are there any way to skip this issue and test payouts?

[2015-03-11 16:24] jaypatel512 commented on #103
Hey @rharishan !

Unfortunately, there is no other path that I am aware of. However, this is a high priority bug, and will be resolved as soon as possible.

[2015-03-11 17:05] jaypatel512 commented on #103
Hey @rharishan !

I was able to see a success on Payouts now. The issue was found, and is getting resolved. However, the sandbox seems to be up and going. Let me know if you are still seeing this error. Please re-open this issue if so.

[2015-03-11 17:05] #103 closed

[2015-03-11 22:36] rharishan commented on #103
Hi @jaypatel512 !

Yes. It worked. Thank you.

[2015-03-13 16:26] tbhockey opened #104 "Create payment immediately"
Is there a way to create a payment that would indicate to the buyer that they will be charged immediately? Currently I'm setting the `intent ` of the payment to `sale`, which the documentation for the API says `Payment intent. Must be set to sale for immediate payment, authorize to authorize a payment for capture later, or order to create an order.`

However, when the user is directed to PayPal to

[2015-03-13 16:54] jziaja commented on #104
Hi @tbhockey , this is possible by appending `&useraction=commit` to the `approval_url` when redirecting the buyer to PayPal.  Can you try that out and see if it displays in the manner you're wanting?

([Related issue from .NET SDK](https://github.com/paypal/PayPal-NET-SDK/issues/68))

[2015-03-13 16:59] tbhockey commented on #104
@jziaja you rock! :metal:  Thank for your help. Wish I'da found this in the docs somewhere.

[2015-03-13 17:03] jziaja commented on #104
Glad to help!  The info on using it is available at the very bottom of the [Customizing Express Checkout](https://developer.paypal.com/docs/classic/express-checkout/integration-guide/ECCustomizing/) page.  I'll talk to the rest of the SDK team to see if we can add this info to the new SDK docs we're currently working on so it's much easier to find. :)

[2015-03-13 17:03] #104 closed

[2015-03-15 14:19] JensC opened #105 "Webhooks testing"
Hi PayPal,
I just have a suggestion for improving the testing of your webhooks. As RoR developer it would be very convenient to test the webhooks on localhost. A service like http://www.ultrahook.com/ does make this possible, but they do only http connections (unfortunatelly no https).
Would it be possible to allow the webhook url in test mode to support http?

Thanks a lot

[2015-03-15 23:25] holodigm commented on #105
Perhaps use https://github.com/realestate-com-au/pact or https://github.com/vcr/vcr ?

[2015-03-16 13:11] jziaja commented on #105
Hi @JensC , unfortunately, support for testing webhooks against a localhost endpoint is not currently planned.  You'll need to investigate alternate solutions like what @holodigm posted to get that support.

I'll forward your feedback to the Webhooks team so they are aware of this request.  Thanks!

[2015-03-16 13:11] #105 closed

[2015-03-16 15:52] JensC commented on #105
Thanks for the suggestions. For a quick test I would prefer a localhost endpoint. Stripe does support this and it is great because you have an immediate feedback from the api.

[2015-03-16 16:20] jaypatel512 commented on #105
One other option that I ask people to consider is to use http://requestb.in/.
Also, the request bin by default is http. However, by manually changing the URL to https, would work.

What I do is, generate a URL, add it to paypal sandbox configurations. Run one of our samples, that creates a sale, or anything that generates a webhook. And check out the data you would receive.

Bonus: You could save

[2015-03-16 16:26] JensC commented on #105
Thanks @jaypatel512 that seems to be close to what I had in mind. I'll give that a try.

[2015-03-18 17:26] nicolo opened #106 "Unable To Get Refunded Fee Amount"
I'm looking up payments made in my system. My admin staff is refunding payments through the paypal online portal. I want to get the amount refunded and the amount of the fee refunded.

I get the payment and I get the sale made. The sale has the state of refunded. It shows the transaction fee as the pre-refunded amount. I need to get the amount refunded and the amount of the fee refunded.

Is there

[2015-03-20 09:12] estepan opened #107 "Payment date filtration"
When trying to get a list of payments filtered by start_time or end_time, API responds with validation error, because ISO8601 time is url encoded.
/lib/paypal-sdk/core/api/base.rb:84

[2015-03-20 09:44] estepan commented on #107
Rails Time.iso8601 is not appropriate instead use strftime('%Y-%m-%dT%H:%M:%SZ')

[2015-03-20 09:44] #107 closed

[2015-03-23 15:10] nicolo opened #108 "Transaction Fee Not Available For Unregistered Users"
Transaction fee seems to return nil for any payment made from an unregistered paypal user. I believe this is the case when the user does not log in, but they instead just make a payment with their credit card.

Typically transaction_fee returns the fee amount, but in this case it returns nil

[2015-03-23 17:00] jaypatel512 commented on #108
I tried to complete the flow where I used a sandbox credit card to complete the transaction instead of logging into the account (guest/unregistered paypal user), and on execute, I got the following data:

[code]

Can you please confirm if I missed any steps here? If not, can you please provide us with the debug_id (part of header information) to retrieve internal information about the data you are

[2015-03-24 19:10] nicolo commented on #108
Here is an example payment id PAY-02K44502CM4294050KUI3JMI for sandbox where this problem occurs.

The json you have above appears to not be an unregistered user because you can see the response has full payer information. I could be wrong.
[code]

[2015-03-26 15:36] juwlee commented on #101
@tbhockey this should have been fixed with #102 merge. (Thanks @jwilsjustin !)

[2015-03-26 15:36] #101 closed

[2015-03-28 17:03] preechan opened #109 "PayPal::SDK::Core::Exceptions::ServerError in Production for Paypal Payouts"
Hi,
I am trying to implement Paypal payouts and this is the error i get in production.
PayPal::SDK::Core::Exceptions::ServerError (Failed.  Response code = 500.  Response message = Internal Server Error.  Response debug ID = fc37950b1ad7a.):

[2015-04-07 10:09] rhugo opened #110 "Failed. Response code = 500. Response message = Internal Server Error. (payment execute in sandbox mode)"
gem version:
paypal-sdk-rest (1.1.2)

Log:
<pre>07-04-2015 11:54:51.439 [INFO ] Parameters: {"paymentId"=>"PAY-4BR02067NY649320AKUR2RSY", "token"=>"EC-5TN535386W163330D", "PayerID"=>"H84KEDYWJ7ZC4", "id"=>"177"}
07-04-2015 11:54:51.587 [DEBUG] Shop::Order Load (0.1ms)  SELECT `shop_orders`.* FROM `shop_orders` WHERE `shop_orders`.`id` = 177 LIMIT 1
07-04-2015 11:54:51.614 [WARN ] undefined method

[2015-04-07 13:43] jziaja commented on #110
Hi @rhugo , in your code, change `:payment_id` to just [`:id`](https://github.com/paypal/PayPal-Ruby-SDK/blob/master/lib/paypal-sdk/rest/data_types.rb#L41) when you create the `@payment` object.

[code]

Give that a try and let me know if you still encounter the error.  Regardless, this looks like an API bug for improper error mapping.  The API should not be returning a 500 - it should return a 40

[2015-04-07 13:49] rhugo commented on #110
Solved! Thanks!!!

[2015-04-07 13:49] #110 closed

[2015-04-07 13:49] jziaja commented on #109
Hi @preechan , sorry for the delay in responding.  Are you still encountering this error?  Is this reproducible on sandbox? Do you have a more recent error response with debug ID?  Thanks!

[2015-04-07 13:59] jziaja commented on #106
Hi @nicolo , sorry for the delay in responding.  If the payments were made via REST, then you should be able to search the [payment history](https://github.com/paypal/PayPal-Ruby-SDK/blob/master/lib/paypal-sdk/rest/data_types.rb#L88) for the payments associated with those transactions.  The payments will include the refunded sale transactions in their list of [related_resources](https://github.com

[2015-04-07 14:04] jziaja commented on #14
Closing as this should now be resolved.

[2015-04-07 14:04] #14 closed

[2015-04-07 14:07] jziaja commented on #85
This fix should be available in the current release. Please reopen if you still encounter a problem. Thanks!

[2015-04-07 14:07] #85 closed

[2015-04-07 14:10] jziaja commented on #80
This should be fixed in the latest release, as `exch_token` now returns a `tokeninfo` object that contains both the access & refresh token along with the expiration time and other information.  Please reopen this issue if you still encounter a problem  Thanks!

[2015-04-07 14:10] #80 closed

[2015-04-07 14:11] jziaja commented on #92
This should be resolved in the latest version thanks to the PR from @jwilsjustin.  Please reopen if you still encounter this problem. Thanks!

[2015-04-07 14:11] #92 closed

[2015-04-09 09:06] ksylvest opened #112 "Uninitialized Constant VERSION"
Works:

    PayPal::SDK::OpenIDConnect::Tokeninfo.authorize_url()

Fails:

    PayPal::SDK::OpenIDConnect::Tokeninfo.create("...")

	from /Users/kevin/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/paypal-sdk-rest-1.1.2/lib/paypal-sdk/core/openid_connect/api.rb:42:in `user_agent'
	from /Users/kevin/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/paypal-sdk-rest-1.1.2/lib/paypal-sdk/core/api/base.rb

[2015-04-09 13:06] jziaja commented on #112
Hi @ksylvest , I see you're using version 1.1.2 of the SDK.  Have you tried updating to the most recent version, 1.1.3?  There was [an issue that was fixed](https://github.com/paypal/PayPal-Ruby-SDK/commit/e284f0dd2ff727c05582ec1f56ccc1d1b4eebac6) related to generating the user-agent string.

[2015-04-09 16:15] ksylvest commented on #112
@jziaja Thanks that fixed it.

[2015-04-09 16:15] #112 closed

[2015-04-09 20:44] jackphelps opened #113 "changelog version number behind gem?"
https://github.com/paypal/PayPal-Ruby-SDK/blob/master/CHANGELOG.txt
https://rubygems.org/gems/paypal-sdk-rest/versions/1.1.3

Might want to bump that and update changelog. I'd make you a pull request but don't know what should be listed.

Thanks as always for the gem :)

[2015-04-09 20:54] juwlee commented on #113
Thanks @jackphelps for the catch. Fixed in 06aafd4524096efc0af25b918d9fca1d1cca09ec . It will be pushed out in the next release.

[2015-04-09 20:54] #113 closed

[2015-04-15 14:12] Igorpollo opened #114 "Where I get my client_id and client_secret?"
Sorry,
I can't find.

[2015-04-15 14:32] jziaja commented on #114
* Login to your [dashboard on PayPal Developer](https://developer.paypal.com/developer/applications)
* In the list of REST apps, click on the one you're wanting to use
* By default, your sandbox credentials will be shown.  If you want to switch to your live credentials, just click the 'Live' button in the top right corner of the page.

[2015-04-15 14:32] #114 closed

[2015-04-15 20:24] defmsy opened #115 "Bug on credit card number validation"
I'm currently trying to implement credit card payment in sandbox mode.

I have made some tests but I always get the same result.
[code]
[code]
[code]

[code]

[2015-04-15 23:15] juwlee commented on #115
@defmsy [credit card number should be string](https://github.com/paypal/PayPal-Ruby-SDK/blob/master/lib/paypal-sdk/rest/data_types.rb#L145). Please refer to [sample code](https://github.com/paypal/PayPal-Ruby-SDK/tree/master/spec) to see how it works.

[2015-04-15 23:15] #115 closed

[2015-04-20 16:15] rami85 opened #116 "WebHooks for agreements"
Hi Paypal,

I would like to know if webhooks for recurring payments is supported actually.

I have read in the documentation how to create a webhook (https://developer.paypal.com/webapps/developer/docs/api/#create-a-webhook). It seems easy but I don't know if they are supported. In rubydoc (http://www.rubydoc.info/github/paypal/PayPal-Ruby-SDK/PayPal/SDK/REST/DataTypes/Notification) I don't see an

[2015-04-20 17:45] kikrahau opened #117 "Paypal Gem raises method_missing error in production"
After pushing to production, I received the following error. In development everything works fine.
I can't get it running. Anyone knows how to fix it? Help is very much appreciated!

config/initializers/paypal.rb
----

[code]
Stack trace:
----
[code]

[2015-04-20 18:12] jziaja commented on #117
Hi @kikrahau , try changing line 11 in your script to the following:

[code]

Also, I noticed you're using version 1.1.1.  You may want to upgrade to the latest version **1.1.3** as it fixes a few bugs that were present in the previous versions.

[2015-04-20 18:40] jziaja commented on #116
Hi @rami85 , the Subscriptions API team is still working on getting webhooks support added. We're tracking this enhancement over on the [Python SDK](https://github.com/paypal/PayPal-Python-SDK/issues/69).  For the time being, the service uses IPN.

Regarding your question about creating a webhook, it looks like this SDK hasn't been updated to support Webhooks just yet.  We'll make sure to get the

[2015-04-20 18:42] kikrahau commented on #117
Updated the gem and replaced the line as you suggested, but I still a similar error. Slightly different now
[code]

[2015-04-21 13:14] kikrahau commented on #117
As it turned out (as so often), it had nothing to do with the gem itself, but with a wrong defined variable somewhere else. I still don't know, why it raised such an error. Thanks for your help though!

[2015-04-21 13:36] jziaja commented on #117
Interesting, and glad you got it figured out!  Just curious, but was the wrongly defined variable something related to the SDK?  If so, we'd love to know what it was so we can provide better documentation on how to correctly use the SDK.

(_Closing this issue since the problem was resolved._)

[2015-04-21 13:36] #117 closed

[2015-04-21 17:01] uishaq opened #118 "Getting BadRequest Exception on Tokeninfo.create"
I receive an OAuth2 token from client similar to this:

**oauth2_code = "4HPw6I0gKxZCTVUVI2bUcLf6mOUn9Upc9eJWu5l1vJXLp3jRjNyzYyIypztY4Ez3uAoK-h0hK3IerprOqKQVEVBKN5nuN4RrkFwi9G_DvWITR-wW4ywbpY7htK2U2FLnmlE0caDWWiRcFp27pgtu933xsABcE7ZIahdkg1hLbDttP7XigpLGdgws5Ka4JdI5WJy-9E9t17gbgh8b"**

When I use it to get a refresh token:

**token_info = Tokeninfo.create_from_authorization_code(oauth2_code)**

Thi

[2015-04-22 10:58] uishaq commented on #118
Seems I'm already using the latest version (1.1.2) of gem. Any idea what may have got wrong? I'm using Rails 4.2.0 and trying to use Future Payments.

[2015-04-22 12:44] jziaja commented on #118
Hi @uishaq , sorry for not responding sooner.  Is there a body included with the 400 response that you can share?  Also, the latest version is [1.1.3](https://rubygems.org/gems/paypal-sdk-rest/versions/1.1.3).

[2015-04-24 13:52] mateuszgorniak opened #119 "ID of cancelled transaction"
Hi! I wanted to ask about request sent to `cancel_url` - it includes `token` only. In my opinion `id` of payment is necessary too.
If I good understood entire process from your example code, It should look this way:
- sending request to Paypal with all data
- creating/updating object in database and redirection to paypal page
- user uses `cancel` button
- paypal sends request to `cancel_url` with

[2015-04-24 14:34] jziaja commented on #119
By `transaction_id`, do you mean `paymentId`?

Just to clarify, these are the current URL parameters included with the redirect back to the merchant after a buyer has opted to approve or cancel a PayPal payment:

* Buyer **approves** the payment:
  * `paymentId` - the ID of the payment resource
  * `token` - the generated EC token used to approve the payment
  * `PayerID` - the PayPal ID of the pa

[2015-04-24 14:37] mateuszgorniak commented on #119
I thought about `paymentId`. Sorry for unclear question.

[2015-04-24 14:38] jziaja commented on #119
No worries! Just wanted to make sure I understood the question correctly. :)

I'll forward this question to the API team and get back to you once I have an answer. :+1:

[2015-04-24 14:39] mateuszgorniak commented on #119
Thx! :+1:

[2015-04-25 18:51] madraju commented on #119
Hi @mateuszgorniak, how would it help you including the paymentId in the cancel URL? Thanks.

[2015-04-25 19:01] mateuszgorniak commented on #119
Hi @madraju . I'd like to set the state of payment after clicking 'cancel' button on checkout page. I know that there's a token returned but I don't see the reason, why Paypal returns transactionId for accepted transaction and sends only token for canceled one. It's not a big problem but it would be nice feature.

[2015-04-25 19:06] madraju commented on #119
Thanks @mateuszgorniak. We will look into this improvement.

[2015-04-27 23:48] ksylvest opened #120 "For a Failed PayPal::SDK::REST::Payout Lookup by sender_item_id or sender_batch_id Fails"
I had a few failed payouts and now trying to re-process them returns `duplicate batch request`. I'm trying to lookup the requests to see if they went through or not, but I'm getting a 404:

[code]

[code]

[code]

How can you lookup a payout by `sender_item_id` or `sender_batch_id` to see if it went through?

[2015-04-28 13:55] jziaja commented on #120
@ksylvest , you should be able to look up a Payout Item by calling [`PayPal::SDK::REST::PayoutItem.get("...")`](https://github.com/paypal/PayPal-Ruby-SDK/blob/master/lib/paypal-sdk/rest/data_types.rb#L1051) with the `payout_item_id`.  This will return the `transaction_status`, as well as the `payout_batch_id` you can then use to make the `PayPal::SDK::REST::Payout.get("...")` call to get more deta

[2015-04-28 16:19] ksylvest commented on #120
How can you get the `payout_item_id`? Is it the `debug_id` returned on a subsequent call?

[2015-04-28 16:37] jziaja commented on #120
Ah, I didn't realize you were trying to lookup a Payout using the returned `debug_id`.  The `debug_id` is a PayPal-internal ID used for tracking specific requests.  Instead of using the `debug_id`, you should lookup the Payout Batch status using the `payout_batch_id` for the batch.  The returned Payout will include its list of items and their transaction statuses.

[2015-04-28 16:39] ksylvest commented on #120
How can I get a `payout_batch_id` from my `sender_item_id ` or `batch_item_id`?

[2015-04-28 16:49] jziaja commented on #120
By "`batch_item_id`", are you referring to a `payout_item_id` or a different ID?

[2015-04-28 16:50] ksylvest commented on #120
Sorry, meant: `sender_batch_id`.

[2015-04-28 17:09] jziaja commented on #120
Gotcha, and unfortunately, no.  You'll need a `payout_batch_id` in order to lookup details about a Payout.  Do you have access to the `payout_batch_id` or any of the associated `payout_item_id`s?

The error you're getting indicates that a Payout has already been processed that's associated with the `sender_batch_id` you specified.  Unfortunately, there's no way to lookup the details of that payout

[2015-04-28 17:31] ksylvest commented on #120
@jziaja Nope, these requests most likely failed without a response being returned.

[2015-04-28 17:35] jziaja commented on #120
Do you have the original failure response?  Or are all the failures (including the first failure) responding with `USER_BUSINESS_ERROR` and `{"field"=>"SENDER_BATCH_ID", "issue"=>"Duplicate batch request"}`?

[2015-04-28 17:49] ksylvest commented on #120
@jziaja I don't have the original failure (which probably would happen if it timed out). Then each subsequent response is a `USER_BUSINESS_ERROR`. It seems a bit strange that this error is raised if the request isn't processed.

[2015-04-28 17:58] jziaja commented on #120
Are you seeing payments being made from your account dashboard related to the payout?  I'm going to reclassify this as an API enhancement (though could be convinced it's a bug) in that the API doesn't provide any way to retrieve the details of a payout that timed out.

Out of curiosity, when you call `Payout.create()`, are you defining `sync_mode`?  The default should be `false` if not specified,

[2015-04-28 18:28] ksylvest commented on #120
I'm sending in the `sync_mode` as true, but we only ever use the payout API for paying a single user at a time.

[2015-04-28 19:08] jziaja commented on #120
I've forwarded this question to the Payouts API team to see if they know the best way to find the `payout_batch_id` for payouts that have timed out and will followup here once I have a response from them.

Something else you can try is setting `http_timeout` in your application's config to something higher than 30 seconds (maybe a minute or two?) and see if that helps to reduce the chance of encou

[2015-04-30 14:26] flori opened #122 "Issue with configuring and using different accounts in the same ruby process"
I have found a problem when changing configurations by calling `PayPal::SDK.configure` with a hash. I have two different accounts configured in two hashes `config1` and `config2`. If I first configure with `config1` and _then_ query a payment with `id1` from the REST Api (successfully) and after that change the configuration to `config2` and query a payment with `id2` I receive a 404 http result c

[2015-05-04 08:41] mohit167 opened #123 "Paypal error: PayPal::SDK::Core::Exceptions::ServerError"
Failed. Response code = 500. Response message = Internal Server Error. Response debug ID = dddf5378947d2.

[2015-05-04 08:43] mohit167 commented on #123
please tell me the cause of this error....

[2015-05-04 13:46] jziaja commented on #123
Hi @mohit167, was this from a call on sandbox or live?  What SDK call were you making?  Can you share some code that can reproduce the issue?

[2015-05-04 13:54] mohit167 commented on #123
Hi jziaja, thanks for the reply, this was form sandbox account. I am using Sdk for Ruby on Rails, but now i have resolved this problem causing the invalid credit card number

[2015-05-04 13:54] #123 closed

[2015-05-07 16:18] uishaq commented on #118
Below is a snapshot of my rails console and the error I get as a result. You can see there's not much information in the exception except for the one I've posted before:

- Rails console
![5](https://cloud.githubusercontent.com/assets/6950378/7520214/7df5d10e-f4fe-11e4-8463-4080450ac792.png)

After that, I tried the following (using   https://developer.paypal.com/docs/api/#grant-token-from-authori

[2015-05-07 16:58] jaypatel512 commented on #118
Hey @uishaq ! Can you please do me one favor. Can you please try making the same curl call, but remove the redirect_uri parameter in the body. I think it feels like the issue is with improper encoding to the URL data.

Let me know if that works.

[2015-05-08 14:38] uishaq commented on #118
Tried without redirect_uri, still the same result:

![6](https://cloud.githubusercontent.com/assets/6950378/7538487/b4ea57f0-f5b9-11e4-855c-6deee7732eff.png)

[2015-05-08 15:27] jaypatel512 commented on #118
I just realized, you are using two different clientIds for both operations. In your earlier message, you mentioned the URL that has clientId as : `AblpaM2E-...` but in your curl request, it starts with `AacIrRAVdkZ....`

Please use the same clientId for both operations and you should be fine. Please re-open the issue if you still see this error.

[2015-05-08 16:51] uishaq commented on #118
It's just that I was using a different account for experimenting. Here I'm posting both the URL and cURL request which use the same Client ID. Just to be clear, cURL call uses Client ID and Secret from the same sandbox account as used by the URL:

https://www.sandbox.paypal.com/webapps/auth/protocol/openidconnect/v1/authorize?client_id=AacIrRAVdkZ4dVkt0udJqk7kZvcg_DQ-VJW--UUwoxAg7PaCFbzCqLRzTQii&r

[2015-05-08 19:07] juwlee commented on #118
@uishaq can you try another request without whitespace or new line between ```grant_type=authorization_code``` and ```&code=``` ? Looks like it might be what the API is complaining about.

[2015-05-11 10:45] uishaq commented on #118
@juwlee yes, cURL worked when I trimmed whitespace/new line  between parameters. But that's not the reason why I raised this issue. My original problem stands as it is. I can't use the same OAuth2 code in my rails console using:

**token_info = Tokeninfo.create_from_authorization_code(oauth2_code)**

It gives me **400 Bad Request** error like I've posted earlier. Is there a change in the Ruby API?

[2015-05-12 12:06] uishaq commented on #118
Can we this issue reopened please? I have the cURL call working but that hasn't solved my original Rails issue so far.

[2015-05-12 13:37] juwlee commented on #118
@uishaq thanks for confirming. I understand why you opened this issue, but wanted to make sure curl works first because SDK will not work for sure if curl does not. Trying curl will tell whether it is an SDK issue or API issue.

With that said, I am re-opening this issue to investigate the initially mentioned 400 error.

[2015-05-13 17:07] dscataglini opened #124 "Any plans for support of the recurring payment apis?"
Are there any plans for support of the recurring payment apis?
I implemented the support for recurring payments apis in active merchants.
Unfortunately active merchant is going to remove all of recurring apis from the gem.
Is in the plan for paypal-ruby-sdk to support recurring payments?

I'm currently using the now legacy web payments pro api to make CreateRecurringPaymentsProfile and similar cal

[2015-05-13 19:00] ksylvest opened #125 "OpenID Connect Returning 'invalid_scope' Error"
I'm trying to do a login to PayPal integration. I'm creating my redirect URI using:

[code]

However, this returns to my redirect URI with:

[code]

If I remove `profile` from the scope everything works (but I need that scope). I added in all the permissions for my sandbox account:

![screen shot 2015-05-13 at 11 54 08 am](https://cloud.githubusercontent.com/assets/73432/7618547/96c0bdb2-f967-11e4

[2015-05-15 18:41] nicolo commented on #108
@jaypatel512 Any update on this? Did you get a chance to look at the payment id I posted?

[2015-05-15 19:12] nicolo commented on #106
@jziaja I'm not seeing any of the refunds in the transaction history on a partially refunded payment. After I get the payment object, can you provide the method chain I'd need to use to get this information? I honestly don't think it's being exposed via this gem unless I'm missing something.

[2015-05-19 02:33] dballona opened #126 "Payout returns 500 in production"
Hello everyone,

I keep getting this response in production mode. Things seem to work in development/test environments.
`Failed. Response code = 500. Response message = Internal Server Error. Response debug ID = 7769369de4270.`

Currently trying to achieve this by doing:

[code]

Thanks for your time.

[2015-05-19 06:45] uishaq commented on #118
@juwlee, Thanks for reopening the issue, but I see the activity on this thread has declined since then. Anything you've investigated so far?

[2015-05-19 13:21] jziaja commented on #106
@nicolo , it does look like the `refund` resource from the API is missing any details related to the refunded fee amount.  I'm currently following up with the API team to see if this is something they plan to add.  Once I have more information, I'll share it here.

(cc [PayPal-NET-SDK Issue #100](https://github.com/paypal/PayPal-NET-SDK/issues/100))

[2015-05-19 14:32] dballona commented on #126
Recent debug id: `c0e948f75080e`

[2015-05-19 14:56] dballona commented on #126
New debug ID `431b1610089bc` using exactly the [samples provided in here](https://github.com/paypal/PayPal-Ruby-SDK/blob/05cd192a89ab38b3c06f66e9d127cfd3846f3366/samples/payouts/create.rb)

[code]

[2015-05-19 15:06] juwlee commented on #126
@dballona is payouts enabled for the account?

[2015-05-19 15:07] dballona commented on #126
@juwlee, yes! for the one which provides the client_id and client_secret...
Not sure about `root@dballona.com`. Taking a look now.

[2015-05-19 15:11] dballona commented on #126
Nevermind, @juwlee... Payouts wasn't enabled for the account.
Can I add Payouts to the project's README?

[2015-05-19 15:14] #126 closed

[2015-05-20 11:38] sandeepsharma-tudip opened #129 "Not able to fetch payment or user data using PayPal-Ruby-SDK"
When i use my Paypal app client id and secret key (Sandbox account) do not get any data using any API calls
Following result i got with different API calls:

We are able to get token and refresh token from authorize code but after that we are not getting any data using following API calls.

#  Not Getting Userinfo by using access token, even i have used schema as openid
userinfo = Userinfo.get("Re

[2015-05-20 13:17] juwlee commented on #129
@sandeepsharma-tudip can you give [curl](https://developer.paypal.com/webapps/developer/docs/api/) a try and see what the API returns?

[2015-05-21 07:04] sandeepsharma-tudip commented on #129
we tried with curl call too but same response we get from both ways.
Not able to find out the way how access token is going to use to fetch paypal payment records

[2015-05-21 07:24] uishaq commented on #118
Do I need to open a separate issue?

[2015-05-21 13:19] jziaja commented on #116
Webhooks support was added to this SDK in [this commit](https://github.com/paypal/PayPal-Ruby-SDK/commit/5280d27b789f90269b60bed2101440c4fccfdf4e).

Concerning webhook support for subscriptions, we'll continue tracking that feature in the Python SDK's [Issue #69](https://github.com/paypal/PayPal-Python-SDK/issues/69).  We're in the process of requesting a status update on that feature from the API

[2015-05-21 13:19] #116 closed

[2015-05-21 14:53] juwlee commented on #129
CURL returning the same response indicates that SDK is working as designed. I wonder if all user info fields are set correctly and if you can see payment transaction history from UI. Please contact [PayPal MTS](http://www.paypal.com/mts) to verify.

[2015-05-21 14:53] #129 closed

[2015-05-21 16:17] juwlee commented on #118
@uishaq I cannot seem to reproduce the issue as I get token info successfully. Just to confirm,

- does the SDK token info call fail with the same authorization code with which a cURL call succeeds?
- when did it stop working? Did you upgrade SDK then?
- A new version was just released. It may not resolve your issue, but it should print out a Debug ID along with error message "Bad Request". Could

[2015-05-22 06:36] indie-rok opened #130 "undefined method `include' when trying to do a payment"
I am trying to use the gem.

First  I install the gem:

    gem 'paypal-sdk-rest', :git => 'https://github.com/paypal/PayPal-Ruby-SDK.git'

Then I run

    bundle

Also I tried

'bundle install'  and 'bundle update'

Then I include my gem into the controller and include the REST Lib to make it Work

    def doPayment
	    require 'paypal-sdk-rest'
	    include PayPal::SDK::REST
    end

But when i

[2015-05-22 13:09] juwlee commented on #130
Hi @indie-rok [Main readme docs](https://github.com/paypal/PayPal-Ruby-SDK#paypal-rest-api-ruby-sdk-) include setup guide. Also, stackoverflow might be more suitable for general questions related to language syntax.

With that said, I think this may help explain the error: http://ithaca.arpinum.org/2010/07/29/ruby-dynamic-includes.html

[2015-05-22 13:09] #130 closed

[2015-05-23 00:05] ksylvest opened #131 "API Returning Transaction Was Declined "RISK_DECLINE""
For some batch payout APIs:

name="RISK_DECLINE"
message="Transaction was declined", information_link="https://developer.paypal.com/webapps/developer/docs/api/#RISK_DECLINE

The link doesn't have any information and I don't know how to fix this error.

[2015-05-26 13:24] juwlee commented on #131
@ksylvest it would be better handled by [PayPal MTS](https://manager.paypal.com/jsp/common/contactUs.jsp). Please contact them.

[2015-05-26 13:24] #131 closed

[2015-05-27 15:18] uishaq commented on #118
@juwlee
* Yes, the DSK token info call fails with the same authorization code with which a cURL call succeeds.
* It was working perfectly until early April, then broke all of a sudden. I haven't upgraded SDK (gem) from 1.1.2
* I'll have it updated and share the Debug ID here.
* Unfortunately there was no "last known good version" for my case. Like I said, it used to work fine, nothing changed and

[2015-06-08 14:23] juwlee commented on #124
@dscataglini please see [future payments](https://github.com/paypal/PayPal-Ruby-SDK#create-future-payment). Developer docs also have some info on it: https://developer.paypal.com/webapps/developer/docs/integration/mobile/make-future-payment/

[2015-06-08 14:23] #124 closed

[2015-06-08 23:25] tomwhipple commented on #125
The [merchant technical support team](https://www.paypal.com/mts) is in a much better position to answer account specific questions.

[2015-06-08 23:25] #125 closed

[2015-06-15 15:09] anthonyshull opened #132 "Service Unavailable live"
In a Sinatra application:

    require 'paypal-sdk-rest'

    include PayPal::SDK::REST

    get '/payments' do
      Payment.all(:count => 10).inspect
    end

On live I get:

I, [2015-06-15T10:58:43.198709 #12436]  INFO -- : Request[get]: https://api.paypal.com/v1/payments/payment?count=10
I, [2015-06-15T10:58:43.699023 #12436]  INFO -- : Response[503]: Service Unavailable, Duration: 30.508s
201

[2015-06-16 14:49] jackphelps commented on #122
I'm also running into issues doing this, haven't dug into @flori 's solution yet, will do now.

[2015-06-16 15:24] juwlee commented on #132
@anthonyshull thanks for reporting. Can you share any other debug ID if this still persists? The system cannot seem to find the ID.

[2015-06-16 15:31] anthonyshull commented on #132
2015-06-16 11:30:25 - PayPal::SDK::Core::Exceptions::ServerError - Failed.  Response code = 503.  Response message = Service Unavailable.  Response debug ID = 6be429a547ad8.:
	/usr/local/lib/ruby/gems/2.2.0/gems/paypal-sdk-rest-1.2.1/lib/paypal-sdk/core/util/http_helper.rb:151:in `handle_response'
	/usr/local/lib/ruby/gems/2.2.0/gems/paypal-sdk-rest-1.2.1/lib/paypal-sdk/core/api/rest.rb:110:in `ha

[2015-06-16 15:35] juwlee commented on #132
Thanks @anthonyshull . Can you please see if increasing [timeout](https://github.com/paypal/PayPal-Ruby-SDK/blob/d6a8b7e83ef1733ecd989be83888835088eee461/spec/config/paypal.yml#L8) helps?

[2015-06-17 14:55] Mistifyed opened #133 "NameError: `@protection-eligibility' is not allowed as an instance variable name"
I'm trying to access the Order object for authorization, but the hyphen in the instance name is throwing an exception, has anyone else experienced this?

[2015-06-17 16:03] juwlee commented on #133
@Mistifyed thanks for reporting this issue. I will release a fix soon.

[2015-06-17 20:20] juwlee commented on #133
@Mistifyed a fix was released in v1.2.2. Please try it out and let us know if the problem persists.

[2015-06-17 20:20] #133 closed

[2015-06-17 20:24] Mistifyed commented on #133
Thanks a lot for the patch! Will test it out right away.

[2015-06-18 10:50] ishank18 opened #134 "UNKNOWN_ERROR - Direct credit card payment"
Not sure whether is a issue with paypal API, but every-time I am trying to make a payment with credit card I get the following error

[code]

[2015-06-18 14:10] ppmtscory commented on #134
I'm thinking this may have something to do with the test CC that you are using.  Can you please try another card?  You can generate a sandbox card number under step 4 on [this page](https://ppmts.custhelp.com/app/answers/detail/a_id/750/related/1).

[2015-06-19 07:45] ishank18 commented on #134
Didn't worked, I have tried creating almost 4-5 credit cards. I am not sure whats wrong, here is the Hash which I am passing to process the payment

[code]

[2015-06-19 14:41] juwlee commented on #134
@ishank18 can you please share debug IDs from other failures?

[2015-06-19 20:29] juwlee commented on #132
[Another issue](https://github.com/paypal/PayPal-PHP-SDK/issues/326#issuecomment-113615594) was opened for the same problem. We can track it there.

[2015-06-19 20:29] #132 closed

[2015-06-20 20:16] ishank18 commented on #134
Few dubug ids are  : [343daf5cf5e7d, 2b1027f9ee111, 124af416ec998]

Can you please let me know how can I use these dubug ids ?

Thanks

[2015-06-22 14:52] ppmtscory commented on #134
@ishank18 for some reason our system does not like the account that you are using for the direct credit cards.  I believe it has to do with the account having Payments Pro enabled on it and that's not needed so it's getting confused with that check.  Just to confirm, can you create a new App tied to a different sandbox account and try the payment then?

[2015-06-22 18:39] juwlee commented on #134
@ishank18 debug IDs are used by PayPal internally to look into inbound requests from external world. It usually helps investigation to include it, if you have any, when you open an issue or talk to customer support.

[2015-06-24 09:24] ishank18 commented on #134
@ppmtscory I created a new app with the same developer and still facing the issue, please let me know if I need to create another developer account for same.

Please have a look at the account setting :
![screen shot 2015-06-24 at 2 47 26 pm](https://cloud.githubusercontent.com/assets/1061143/8326641/0ac22c8a-1a80-11e5-937e-72db58d6f34e.png)

[2015-06-24 14:28] ppmtscory commented on #134
Did you tie that App to a different Sandbox account?  When you initially click to create the App, it asks you for the name and also what sandbox account you want to tie it to.  If you changed the sandbox account and are still receiving the error, then please let us know a couple debug IDs to troubleshoot.

[2015-06-26 18:28] #118 closed

[2015-06-27 22:36] harenderymca opened #135 "Issues with the class name"
Many gems in ruby use the same class name like Transaction , Invoice, Payment , PaymentDetails & InvoiceItem.

Please Use the unique name like PayPalTransaction , i have faced so many issues dealing with class name & i am assuming many will face the same issues.

Please update the class names.

[2015-06-29 12:47] juwlee commented on #135
Hi @harenderymca can you please elaborate the problem to help me understand?
- what other gems are you using with this gem?
- what kind of issues have you dealt with?

[2015-06-29 15:00] kofronpi opened #136 "503 error when creating a Payment"
Hello,

I set up the ruby sdk in my Rails app and tried to create a payment several times in the rails console, but I always end up with a 503 error:

2.2.2 :088 > @payment = Payment.new({
2.2.2 :089 >         :intent => "sale",
2.2.2 :090 >         :payer => {
2.2.2 :091 >             :payment_method => "credit_card",
2.2.2 :092 >             :funding_instruments => [{
[...]
2.2.2 :109 >

[2015-06-29 15:12] juwlee commented on #136
Hey @kofronpi there is a known issue with overused card number. Please try [a card number generator](https://ppmts.custhelp.com/app/answers/detail/a_id/750)

[2015-06-29 15:12] #136 closed

[2015-06-29 15:28] kofronpi commented on #136
@juwlee thanks ! it works.

[2015-06-29 16:23] juwlee commented on #136
@kofronpi great. I will update docs/code with a different credit card number.

[2015-06-30 00:03] holgersindbaek opened #137 ""Unauthorized" when trying to capture future payment"
I've implemented future payments in my iOS app, but I'm having some issues creating the actual payment when that time comes. This is the code I've implemented for capturing the payment:

      # Create future payment hash
      future_payment_hash = {
        "intent" =>  "authorize",
        "payer" =>  { "payment_method" =>  "paypal" },
        "transactions" =>  [ {
          "amount" =>  {

[2015-06-30 15:22] juwlee commented on #137
@holgersindbaek what version of SDK are you using? I wonder if it captured ```[paypal-debug-id](https://github.com/paypal/PayPal-Ruby-SDK/blob/d6a8b7e83ef1733ecd989be83888835088eee461/lib/paypal-sdk/core/exceptions.rb#L23)```. Also, can you elaborate what `buyer.paypal_token` has in `# Get new payment token` part?

[2015-06-30 15:29] holgersindbaek commented on #137
@juwlee  Using 1.2.2 SDK.

The Paypal token I'm sending along is the refresh token, I've saved on the user. This one in other words:

token  = FuturePayment.exch_token(@auth_code)

I don't see any debug id.

[2015-06-30 15:46] holgersindbaek commented on #137
@juwlee I'm a bit concerned, that I might be trying to refresh the access token in the wrong way. If I look at this guide:

https://github.com/paypal/PayPal-Ruby-SDK/blob/d6a8b7e83ef1733ecd989be83888835088eee461/lib/paypal-sdk/core/api/rest.rb

I see that the path for refreshing the token is - https://api.paypal.com/v1/oauth2/token - but when I send the request using "Tokeninfo.refresh(buyer.paypa

[2015-06-30 18:40] holgersindbaek commented on #137
@juwlee Any guesses?

[2015-06-30 19:04] harenderymca commented on #135
Basically these are common name Transaction , Invoice, Payment , PaymentDetails & InvoiceItem every one use these name while dealing with payments stuff & create the class with same name .

Same thing happen in my case , In my application i have implemented all paypal classic API not when i tried to implement the new REST API in my application class name override & raise the use because PayPal's R

[2015-06-30 19:28] juwlee commented on #135
@harenderymca do you mean you get namespace conflicts with other PayPal gems?  [Merchant SDK has a different namespace](https://github.com/paypal/merchant-sdk-ruby/blob/master/lib/paypal-sdk/merchant/data_types.rb#L6), so the same class names can be resolved correctly if you specify the name space.

It would be great if you can share
- what gems you are using
- the error message

[2015-06-30 19:28] #135 closed

[2015-07-01 15:11] juwlee commented on #137
@holgersindbaek 2 things:
- You should pass authorization code that you got from mobile SDK, not refresh token. If you want to exchange refresh token for access token, please see [here](https://github.com/paypal/PayPal-Ruby-SDK#openid-connect)
- We will release a fix for the endpoint soon.

I will close the iOS SDK issue as we can track it here.

[2015-07-01 16:03] ppmtscory commented on #134
Closing due to inactivity.  If the problem persists after creating a new app tied to a different sandbox account, please file a ticket with our [Merchant Technical Support](https://www.paypal.com/mts) team.  It needs to be filed with them as this is not an issue with the SDK itself.

[2015-07-01 16:03] #134 closed

[2015-07-01 18:29] holgersindbaek commented on #137
@juwlee Thanks for getting back to me. I still don't understand what I'm doing wrong.

Can you write the code that will get me the authorization code I'll need to use, using the refresh token I already have on the user? Generally, can you just give me a quick code example, charging a user that has already agreed to the future payments on the server side.

Generally how you'd do the server side stu

[2015-07-02 03:41] djvs commented on #78
Following an approval_url through to the end lands you at this page:

https://devtools-paypal.com/guide/pay_paypal/ruby?success=true&paymentId=PAY-ANONYMOUSPAYMENTID&token=EC-MYTOKEN&PayerID=MYPAYERID

Attempting to execute a payment using the parameters in the URL still returns a 500 error.  The request ID in my case was:

af1acaa0-541d-44db-8e0b-7f23f82983f7

[2015-07-02 03:47] djvs commented on #78
There's an inconsistency in the documentation.  The github README.md here correctly specifies Payment.find, while the page I linked incorrectly refers to  PayPal::SDK::REST::Payment.new({...}).

[2015-07-02 18:56] juwlee commented on #137
@holgersindbaek

It might be worth reading
 - [future payment code sample](https://github.com/paypal/PayPal-Ruby-SDK#create-future-payment)
 - [future payment docs on developer docs](https://developer.paypal.com/webapps/developer/docs/integration/mobile/make-future-payment/)
as well as [the iOS SDK docs on future payment](https://github.com/paypal/PayPal-iOS-SDK/blob/master/docs/future_payments_se

[2015-07-02 18:56] #137 closed

[2015-07-02 19:01] holgersindbaek commented on #137
@juwlee Thank you for the links. I've already read through them and there's still one question to be answered:

How do I use a refresh token to get a new authorization token?

In the site you've linked to - future payment docs on developer docs - it says "For any future payment or authorization/capture, since the access token will have expired, use the refresh token to get a new access token for u

[2015-07-03 16:09] holgersindbaek commented on #137
Ok... figured it out. All that was wrong, was that this piece of code:

    future_payment = FuturePayment.new(future_payment_hash.merge( :token => token ))

Which should have been like this:

    future_payment = FuturePayment.new(future_payment_hash.merge( :token => token.access_token ))

[2015-07-06 13:19] juwlee commented on #137
@holgersindbaek glad that you found it! FuturePayment.exch_token()[https://github.com/paypal/PayPal-Ruby-SDK/blob/master/samples/payment/create_future_payment.rb#L32] returns a token instance that has all attributes that are in [the response from the iOS SDK docs](https://github.com/paypal/PayPal-iOS-SDK/blob/master/docs/future_payments_server.md#response). [The code sample](https://github.com/pay

[2015-07-07 16:58] ksylvest opened #138 "Duplicate sender_item_id In Different Payout Items"
I've recently noticed that some retries are resulting in duplicate payouts using the bulk payments API.

From: https://developer.paypal.com/docs/integration/direct/create-batch-payout/

However, running:

[code]

Note: The two different payout items have the **SAME** `sender_item_id`.

This shouldn't be possible right? The documentation states that duplicate `sender_item_id`s should be ignored cor

[2015-07-08 22:51] juwlee commented on #138
@ksylvest the doc means that `sender_item_id` can be a duplicate. if it is a duplicate and if the payout item was processed in the last 30 days, it will not be processed, and you should get `batch_status` as `DUPLICATE` in the response. Are you seeing different behavior?

[2015-07-09 00:23] ksylvest commented on #138
@juwlee In the example pasted both payouts were submitted with the same `sender_item_id` and both were processed (i.e. the recipient received double the payment).

[2015-07-09 13:02] juwlee commented on #138
Thanks @ksylvest for reporting. I reached out to Payouts API team. I will update this thread once I hear back from them.

[2015-07-14 13:38] juwlee commented on #138
@ksylvest please see below for the payouts validation criteria for `sender_batch_id` and `sender_item_id`. In short, `sender_item_id` is not bound to the 30 day duplicate rule. There is a bit of gap between the docs and payouts current behavior, and I have let the documentation team know to update them.

- Sender_batch_id is optional. This id can be used by the sender to uniquely identify the batc

[2015-07-14 16:00] ksylvest commented on #138
@juwlee Does the `sender_item_id` do anything? This is more than a little gap and extremely frustrating.

[2015-07-14 16:18] juwlee commented on #138
[Developer docs](https://developer.paypal.com/webapps/developer/docs/api/#payoutitem-object) has description on the `sender_item_id`.

[2015-07-14 16:20] ksylvest commented on #138
The docs for `sender_item_id` state:

Doesn't this make sense as functionality?

[2015-07-14 22:42] ksylvest commented on #138
@juwlee Hey, any followup? This issue has been open for a week and then was closed without a fix! Really frustrating and the functionality ISN'T clear.

[2015-07-14 23:02] ksylvest opened #139 "How Should Retries Be Handled For Errors"
When the API errors with messages like: **RECEIVER_UNCONFIRMED** or **RECEIVER_ACCOUNT_LOCKED** what is the correct way to re-process the failed `PayPal::SDK::REST::PayoutItem` to ensure multiple payments aren't processed after the user has resolved account issues?

[2015-07-15 06:56] thisisbalajibabu commented on #138
Hi @ksylvest  ,
Apologies for the confusion. The documentation needs to be updated.

•	Currently, when the Payouts API is used for sending bulk/single payments, the sender_batch_id alone is validated accordingly.
•	The sender_item_id is not considered for any kind of validation. The sender_item_id can be duplicate.
•	The sender_batch_id is optional. If the sender_batch_id is used, it cannot be dup

[2015-07-15 07:54] ksylvest commented on #138
@thisisbalajibabu This doesn't sound like a documentation bug. This sounds like an API bug. The `sender_item_id` is the only way to de-dupe a single item when queueing up bulk batches. Can this not be fixed?

[2015-07-15 08:24] thisisbalajibabu commented on #138
Hi @ksylvest
 I just confirmed on the current behaviour of how the payouts API behaves. I appreciate and understand your use case perspective with respect to sender_item_id. We will look on the existing integration with Payouts API and will conclude on ways to include your request. I will keep you posted on the updates.

Best Regards
Balaji Babu

[2015-07-15 12:34] thisisbalajibabu commented on #139
Hi @ksylvest
For RECEIVER_UNCONFIRMED,
 you get this error only when the receiver's email is unconfirmed. When you get the RECEIVER_UNCONFIRMED error, the transaction status for the item will be displayed as "transaction_status": "UNCLAIMED", In this case, once the receiver confirms his/her email, the payment processed will be available in receiver's PayPal Balance. We need not reprocess or resubm

[2015-07-15 13:24] juwlee commented on #138
Re-opening to track a fix for duplicate single items.

[2015-07-15 14:23] juwlee commented on #139
Closing per [@thisisbalajibabu 's answer](https://github.com/paypal/PayPal-Ruby-SDK/issues/139#issuecomment-121602649). (Thanks @thisisbalajibabu !). @ksylvest please re-open if you have any further question.

[2015-07-15 14:23] #139 closed

[2015-07-17 14:43] lws68825 opened #141 "Chained Payments"
Hi,
Is chained payments available with REST api now?

[2015-07-17 14:47] juwlee commented on #141
Hi @lws68825 . It is the plan to add the functionality, however, it is not available yet. We can probably track the progress with [this issue](https://github.com/paypal/PayPal-iOS-SDK/issues/9)

[2015-07-17 14:47] #141 closed

[2015-07-21 02:09] garfieldmypet commented on #141
Hi, @juwlee . Is chained payment already in progress? I know that we have been asking so many times in the forum, however, we have waited for 2 years.

Please do help to push forward to let PayPal team know how this feature is so important to us, please do give it some priority as we really need it.

[2015-07-23 17:59] caphun opened #142 "URGENT: Intermittent VALIDATION_ERROR returned by PayPal in Live!"
It's always returning the same error. The customer tried 2 separate cards. Both MasterCard and still get the same error:

[code]

More debug_id's:

99bb918606244
8bf04dd4a6a58
e86fc9fff420f

[2015-07-23 18:11] juwlee commented on #142
@caphun did you specify `type` as shown [here](https://developer.paypal.com/webapps/developer/docs/api/#create-a-payment)?

[2015-07-23 20:16] caphun commented on #142
I am using the credit_card_validator gem to get the type:
[code]
Sorry, I should be more specific in my original post. This is an intermittent error so I am getting successful transactions but not always as in the 4 cases above.

[2015-07-23 20:28] juwlee commented on #142
Does it always return one of `visa`, `mastercard`, `discover`, `amex`? It would be helpful to log full requests to check if there is any difference between failures and success.

[2015-07-23 22:56] caphun commented on #142
I fixed it! Thanks for pointing me in the right direction. the credit_card_validator was returning type as `master_card` whereas PayPal is expecting `marstercard`

[2015-07-23 22:56] #142 closed

[2015-07-24 14:22] swelther opened #143 "PayPal Plus compatible?"
Hello,

maybe you heard already of this new "PayPal Plus" started beginning of the year. I'm not sure if it is only a European/German thing or a world wide one?

Does anybody know if this gem and it's APIs are compatible with PayPal Plus? As always, the PayPal documentation is confusing and unclear. Could found anything about this "Plus" thing.

Has anybody any experience or knowledge?

[2015-07-27 12:33] juwlee commented on #143
Hi @swelther

- It is only available for German merchant accounts.
- It should be compatible. Please feel free to open an issue if not.

[2015-07-27 12:33] #143 closed

[2015-07-28 18:19] jcdavison opened #144 "java.lang.NullPointerException"
Using a pretty typical `Payment.create({args})` and `Payment.execute({})` flow, I'm receiving a `java.lang.NullPointerException` which of course, I'm pretty unclear on.

Thoughts?

Full stack trace.

[code]

[2015-07-28 18:31] jziaja commented on #144
@jcdavison, try changing `payer_id` to `id` in your call:

[code]

[2015-07-28 18:33] jziaja commented on #144
Whoops, ignore my previous suggestion...  Give me just a bit. :)

[2015-07-28 18:35] jziaja commented on #144
@jcdavison, can you share how you're setting up the payment object prior to calling `execute()`?  It looks like it's missing the `id` needed to generate the URL.

[2015-07-28 18:44] jcdavison commented on #144
hey @jziaja thanks for the speedy response,

[code]

Worked so the official docs, https://devtools-paypal.com/guide/pay_paypal/ruby?interactive=OFF&env=sandbox reference to `payment_id` might need to be changed as I noticed that throws and error, https://www.dropbox.com/s/bu8lah5x3ujkgbj/Screenshot%202015-07-28%2011.43.29.png?dl=0

https://www.dropbox.com/s/z74gb1xjyslrevt/Screenshot%202015-07-28%

[2015-07-28 19:06] jziaja commented on #144
Thanks for pointing that out, @jcdavison.  I'll notify the docs team that **Step 4 of 5** needs to be changed so it references `id` instead of `payment_id`.

[2015-07-28 19:06] #144 closed

[2015-07-28 20:49] jcdavison commented on #144
:+1:

[2015-07-29 22:25] jcdavison opened #145 "How to interpret the express checkout success process using in context modals."
Hi Devs, I'm sure that what I'm about to post isn't a bug in the library but I'm quite unclear on a few things and SO isn't giving me much feedback so I'm just going to outline my situation here and maybe someone can politely confirm or negate a few of my assumptions.

I'm attempting to implement a standard 'use paypal to checkout' flow using express checkout with in context modals.

I'm rendering

[2015-07-29 23:54] juwlee commented on #145
@jcdavison I opened [an issue in merchant SDK](https://github.com/paypal/merchant-sdk-ruby/issues/22) as that SDK uses Express Checkout and hence a better place to discuss EC issues.

[2015-07-29 23:54] #145 closed

[2015-08-03 10:03] swelther commented on #143
Thx for the answer. At the moment I hesitate a bit to change the merchant account and hope everything works with the gem. But if it should work I will give it a try :)

[2015-08-04 23:51] aehven opened #146 "Logging card numbers!"
Line 92 of http_helper.rb recently introduced a debug log that causes the entire payload, including sensitive info to be logged.  It is conceivable that an application in production will be running for a while with debug logging turned on.  This line should be removed.

[2015-08-05 15:52] juwlee commented on #146
@aehven thanks for feedback. We introduced that line in order to help developers easily capture the request and the response for issue investigation. For that reason, I think it might be better not to log payload by default, but when `verbose_logging` is enabled. (See commit fd08622 for all related changes.) It should be pretty safe with two switches that enable payload print which are set to fals

[2015-08-05 15:52] #146 closed

[2015-08-05 17:26] aehven commented on #146
@juwlee Just wanted to see thanks for your quick response as soon as possible.  Will test this later today or tomorrow.

[2015-08-05 19:14] aehven commented on #146
@juwlee Tested and it works great, thanks again.

I was unable to get the 1.3.3 branch by specifying a branch in my Gemfile.  I had to specify the ref of your last commit.  Don't know why that is.  Any idea when this will be out as a stable release or merged into master?

Thanks again,

-- Adam

[2015-08-06 13:18] juwlee commented on #146
@aehven We are adding a few more enhancements and fixes at the moment and will release a new version with all of them included. It should not be too long.

[2015-08-06 16:55] aiperon opened #148 "PayPal::SDK::Core::Exceptions::ServerError 500 error on create and execute payment"
Same type of issue as https://github.com/paypal/PayPal-Ruby-SDK/issues/109 appeared in production mode on create and execute processes:

    Failed. Response code = 500. Response message = Internal Server Error. Response debug ID = debc26a576f5f.

Few debug ids on:
* create - c8f6b2a5c9813, ef1b4913d3b95
* execution - debc26a576f5f, de6351ed40e12, 1b7e90e8ba0e5

We didn't noticed these errors in s

[2015-08-06 17:03] tomwhipple commented on #148
@aiperon since this is an underlying API problem, the [merchant support team](https://www.paypal.com/mts) is best able to look up these debug IDs to figure out what's happening.

[2015-08-06 17:03] #148 closed

[2015-08-06 17:05] tomwhipple commented on #109
Closing this as it is quite old.

For API errors please contact the [merchant support team](https://www.paypal.com/mts).

[2015-08-06 17:05] #109 closed

[2015-08-06 17:21] boxmo commented on #122
:+1:

[2015-08-06 20:15] #96 closed

[2015-08-23 21:24] ksylvest commented on #120
@jziaja Do you have any followup? This has been open for four months now.

[2015-08-23 21:25] ksylvest commented on #138
@juwlee Do you have any followup? This has been open for over a month.

[2015-08-24 02:35] jziaja commented on #120
@ksylvest Apologies for not following up sooner here.  The team did get back to me saying the transaction should show up in your PayPal account if the payout went through.  I tried to get more clarification from them regarding whether or not the transaction details could be traced back to a `payout_batch_id` but never heard back.

At this point, I'd recommend contacting [PayPal Merchant Technical

[2015-08-24 12:04] juwlee commented on #138
@ksylvest we are trying from our end to push for this bug. However, your directly requesting this to [PayPal Merchant Technical Support](https://www.paypal-techsupport.com/app/ask) would help prioritize the bug.

@thisisbalajibabu Please post any news here if you have any to keep @ksylvest updated.

[2015-08-24 12:04] #138 closed

[2015-08-24 12:04] juwlee commented on #120
Closing per the above comment.

[2015-08-24 12:04] #120 closed

[2015-08-24 15:33] ksylvest commented on #120
@juwlee @jziaja Why did you close this? No one fixed this... If you aren't hearing back from these people it doesn't mean you should close out these issues. MTS is not a solution (they don't return my support requests either).

[2015-08-24 17:06] tomwhipple commented on #120
@ksylvest We're trying to get to a point where the issues in the SDK GitHub repos reflect defects/questions about the code that lives in the associated repository only. This question seems to involve more depth in the underlying API, so the support team really are the right people to help.

That said, I understand your concerns about timeliness of responses. We're working to come up with a better

[2015-08-25 13:42] thisisbalajibabu commented on #138
@ksylvest
You will get a validation error as below when you send a duplicate item ID **within the same batch**
`"errors": {
        "name": "DUPLICATE_ITEM",
        "message": "REF_ID matches with another item in the batch",
        "information_link": "https://developer.paypal.com/webapps/developer/docs/api/#DUPLICATE_ITEM"
      },
`
However the same item_id can be reused for another item in a

[2015-08-26 14:32] eestein commented on #119
That's a feature I'm looking for as well... I have the same need as the OP. I need to update the payment status and I use paymentId as the identifier. Any ETA on that?
Thanks. @madraju

[2015-08-27 23:46] Deekor opened #151 "Is it possible to get a list of all transactions a user has made on paypal?"
Please see: http://stackoverflow.com/questions/32260871/is-it-possible-to-get-a-list-of-all-transactions-a-user-has-made-on-paypal/32261054

Again I don't want a list of transactions I have made or my app has made. I want a user to be able to login to my website via paypal and then using the `access_token` allow me to read any transactions they have made on paypal with any merchant. Is this possib

[2015-08-28 15:02] juwlee commented on #151
Hi @Deekor it sounds like [this API](https://developer.paypal.com/webapps/developer/docs/api/#list-payment-resources) might be what you are looking for. See [here](https://github.com/paypal/PayPal-Ruby-SDK/blob/master/lib/paypal-sdk/rest/data_types.rb#L92) for implementation in this SDK.

[2015-08-28 15:02] #151 closed

[2015-08-28 15:04] juwlee commented on #151
You should be able to specify 3rd party `access_token` by passing `: access_token` parameter.

[2015-08-28 15:07] Deekor commented on #151
@juwlee thats the api I was trying but the `access_token` I receive from the user when they auth through OpenID doesn't work.

To be clear I'm not trying to search my transactions, I'm trying to search the transactions of a random user who logs into my website via paypal whether the transaction has anything to do with me or not is irrelevant. This is for accounting software and Id like to import t

[2015-08-28 15:26] juwlee commented on #151
@Deekor yes, it does. A few questions:

- how did you pass the `access token` for the end user?
- what error did you get in response?
- do you have some `debug ID`s for those errors handy?

[2015-08-28 15:33] Deekor commented on #151
I was just trying to pass the access token in through a curl request to test it and was receiving a `401 unauthorized`

[2015-09-08 01:23] KentoMoriwaki commented on #122
:+1:

[2015-09-09 17:26] frizbee commented on #78
@djvs shoot, I spend so much time until I found your note about inconsistency in documentation.
I followed paypal documentation and couldn't find out why it brakes on execute.

[2015-09-09 17:38] juwlee commented on #78
@djvs @frizbee I would suggest you grab the debug ID returned in the error response and [open a support issue with Paypal MTS](https://www.paypal-techsupport.com/app/ask/), as the support team is in a much better position to look at your requests and account settings.

[2015-09-10 09:11] Akshatha357 opened #152 "Paypal payment update issue"
I want to update shipping address after creating payment through Paypal, when I updating shipping address with update PATCH request. I got the following errors.

     shipping_address = {
      line1: 'Address Line 1',
      line2: 'Address Line 2',
      city: 'Mumbai',
      state: 'Maharashtra',
      postal_code: '400001',
      country_code: 'USD',
      phone: '123456789',
      recipient_na

[2015-09-10 13:10] juwlee commented on #152
@Akshatha357 please see [this sample](https://github.com/paypal/PayPal-Ruby-SDK/blob/9a91c41ec1688b1e963e20dfffb77976a2ec020d/spec/subscription_examples_spec.rb#L87). `Patch` should be used in place of `PatchRequest`.

[2015-09-10 13:10] #152 closed

[2015-09-13 19:43] eestein commented on #119
@madraju hi, still no feedback on this? Thanks.

[2015-09-20 08:55] stone7890 commented on #119
i'm using python but i have an issue like @eestein too.

[2015-09-21 10:42] SudhagarS opened #154 "Is it possible to change the billing plan in a billing agreement."
Lets say I have two plans I offer my users, A $10 and B $20. I create two billing plan objects and activate them.

If a user is on plan A and wants to upgrade to plan B in the MIDDLE of the cycle, is it possible to change the billing plan in an agreement? If no, what is the work around?

If I want to give discount to a user only of a month or a two, how can I do it? Is there is any object(invoice/

[2015-09-22 15:14] pp-randy commented on #154
I am looking into what the options are for patching which should assist with your first three questions and will update here with my findings.

[2015-09-22 22:29] pp-randy commented on #154
I am still testing the patching and I apologize for the delay.

_How do I get the transactions belonging to a billing agreement?_
Here is the link for how to search for the transactions on an agreement.
https://developer.paypal.com/docs/api/#search-for-transactions

GET /v1/payments/billing-agreements/<Agreement-Id>/transactions? start_date=yyyy-mm-dd&end_date=yyyy-mm-dd

[2015-09-23 17:44] pp-randy commented on #154
I was able to leverage the Classic API to change the amount and it then reflected in my REST retrieve agreement call for the cycle amount. Using this API might work as a workaround for your amount changes?

https://developer.paypal.com/docs/classic/api/merchant/UpdateRecurringPaymentsProfile_API_Operation_NVP/

Please note this did have limits for how much the amount could change, so this could im

[2015-09-26 11:56] DevilalDheer opened #155 "How to show discount amount on payapl response"
I want to show discount amount on paypal after applying discount on cart.

Currently I am refer like this: https://github.com/paypal/PayPal-PHP-SDK/issues/55

[2015-09-28 16:17] ppmtscory commented on #155
@DevilalDheer have you attempted to send a negative line item amount?  Are you receiving an error or can you provide any further context as to what's happening versus what you expect to happen?

[2015-09-28 16:34] ppmtscory commented on #119
As this is a feature request, a workaround you can use in the meantime is to save the Payment ID and token from the payment creation response on your side.  You can then look up the token that's with the cancel URL on your side and it's associated Payment ID that you've stored.

[2015-09-28 16:44] ppmtscory commented on #108
@nicolo I'm seeing that transaction_fee is being returned in the Execute response of a 'guest checkout' (entering card instead of logging in).  Feel free to reopen or create a new issue if you are still having trouble.

`{"id":"PAY-3MP936364X870990GKYEWTNY","intent":"sale","state":"approved","cart":"6G366552FE965313R","payer":{"payment_method":"paypal","payer_info":{"first_name":"Unregister","last

[2015-09-28 16:44] #108 closed

[2015-09-28 19:44] ppmtscory commented on #99
Closing as internal ticket has been fixed.  Unsupported currencies should now return a CURRENCY_NOT_SUPPORTED error message appropriately.

[2015-09-28 19:44] #99 closed

[2015-10-07 06:43] DevilalDheer commented on #155
Hi @ppmtscory,  Thanks for quick response.
Yes, I have set discount as the negative line item amount if discount is available without any error and its working fine for me.
But I want a separate field for the carts, discount like PayPal classic API.
Are there any option in PayPal Rest API to show the discount as field like PayPal classic API?
Thanks

[2015-10-07 16:41] ppmtscory commented on #155
Classic API (Express Checkout) uses negative item amounts to show discounts as well - aside from the shipping discount (shipdiscamt).  Can you clarify which field exactly you are looking for?

[2015-10-09 07:17] DevilalDheer commented on #155
I am looking for field like discount_amount_cart.
This is single discount amount charged cart-wide.
Reference :
1.https://developer.paypal.com/docs/classic/paypal-payments-standard/integration-guide/cart_upload/
2. https://developer.paypal.com/docs/classic/paypal-payments-standard/integration-guide/Appx_websitestandard_htmlvariables/

[2015-10-09 13:54] ErPuneetGoel opened #156 "An Unknown Error occurred while making payment"
Hi Team,

While making a payment on my sandbox and live environment i am getting error
"An unknown error has occurred"
debug_id = "f36acfbb36397"

Earlier it was working fine. But this is happening from past few days (not sure). I actually checked it today as reported by me. Please check what is the issue.

[2015-10-09 14:32] ppmtscory commented on #155
Ah - ok, those are for the PayPal Standard buttons and not for the APIs.  With that being said, those were implemented into the Classic API by providing a negative line item value so that is what is translated to the RESTful APIs as a way to keep things somewhat consistent.  I don't foresee any additions of like variables since the functionality exists with negative values, however, if we do in th

[2015-10-09 14:32] #155 closed

[2015-10-09 17:34] dmitrypol opened #157 "WARN -- : DEBUG log level not allowed in sandbox mode for security of confidential information. Changing log level to INFO.."
I keep getting those messages in my logs which makes it hard to see real issues.  .

My initializers/paypal.rb has
PayPal::SDK.logger.level = Logger::INFO

Any ideas on how to turn it off?

[2015-10-09 20:15] ppmtscory commented on #157
@dmitrypol are you certain that your application is not setting the logging level to DEBUG somewhere?  The SDK is set to only throw that warning when the environment is set to live AND the logger is set to DEBUG.

[2015-10-09 20:19] dmitrypol commented on #157
I actually do not have a PayPal environment set to live (it will be specific to each customer in our system).  I have just one environment for my own testing where I am using sandbox mode (even though my rails app is running in Rails production environment).

[2015-10-09 20:22] ppmtscory commented on #156
This has to do with the test credit card that you are using.  Please refrain from using the 41111.... test card as it's way overused in our system and therefore can cause problems.  You can utilize our [help page](https://www.paypal-knowledge.com/infocenter/index?page=content&id=FAQ1413&expand=true&locale=en_US) to generate a card number under Step 4.  Also, if you have any further questions regar

[2015-10-09 20:22] #156 closed

[2015-10-09 20:49] ppmtscory commented on #157
Hmm... I'm not able to reproduce this with the samples from the SDK so let me call out @juwlee to have a look and see what I'm missing here.

[2015-10-09 22:06] dmitrypol opened #158 "Is there a way to verify API credentials via test API call?"
We have a platform where multiple customers have different PayPal credentials.  They enter them into our system but it would be nice to ping PayPal API and verify that credentials are correct.

[2015-10-10 13:14] DevilalDheer commented on #155
Ok @ppmtscory Thanks :+1:

[2015-10-12 11:37] jay-snee opened #159 "Creating an agreement in the sandbox returns an invalid token?"
12:08:06 web.1    | Started GET "/created_subscription?token=EC-8BD530652L760033T" for 127.0.0.1 at 2015-    10-12 12:08:06 +0100
    12:08:06 web.1    | Processing by HomeController#created_subscription as HTML
    12:08:06 web.1    |   Parameters: {"token"=>"EC-8BD530652L760033T"}
    12:08:06 web.1    |   User Load (0.8ms)  SELECT  "users".* FROM "users" WHERE "users"."id" = $1  ORDER     BY "u

[2015-10-13 16:53] dmitrypol opened #160 "Downloading recurring payments made via subscription"
Does anyone know how to download PayPal subscription payments via some kind of reporting API?
I see references to web-hooks but would prefer to initiate download from my side.

[2015-10-19 15:34] ppmtscory commented on #160
I don't know of anything specific, but you can [search for transactions](https://developer.paypal.com/docs/api/#search-for-transactions) within a specific billing agreement.  Otherwise, yes, you could utilize [Webhooks](https://developer.paypal.com/docs/integration/direct/rest-webhooks-overview/#event-type-support) and/or explore what options are available within the reporting within your account

[2015-10-19 15:34] #160 closed

[2015-10-19 15:40] ppmtscory commented on #159
@jay-snee as the error suggests, it seems that you didn't include a `description` in your [agreement creation](https://developer.paypal.com/docs/api/#create-an-agreement).  Can you validate how you are creating the agreement prior to executing?

[2015-10-19 15:42] ppmtscory commented on #158
@dmitrypol are you referring to the classic API credentials of username, password, signature/certificate or are you referring to the REST credentials of client ID and secret?

[2015-10-19 15:44] dmitrypol commented on #158
Sorry, REST API.

[2015-10-19 15:51] ppmtscory commented on #158
You could do an immediate call to generate an access token....
[code]
If the credentials are not valid, then you should get an error stating as such.  If the access token is created, then they've entered valid credentials.

[2015-10-19 16:34] jay-snee commented on #159
Hi @ppmtscory - Er actually, no that wasn't the case at all. I should have closed this already, although the docs could do with updating.

As far as I could tell, it had nothing to do with the description (as it was present). It was due to the sandbox merchant account I was using for testing being quite old. After I generated a new sandbox account and switched the credentials round everything bega

[2015-10-19 16:38] ppmtscory commented on #159
Hmm.. that seems strange, however, thank you for the update!  I'll close the issue as resolved for now but please do post the SO issue on here if you find it so that I can reproduce and, if need be, get the error message and/or docs updated accordingly.

[2015-10-19 16:38] #159 closed

[2015-10-19 18:18] dmitrypol commented on #158
sorry for the silly question but how would I do that via the PayPal-Ruby-SDK?  I don't want to create future payment or use any OpenID stuff.  Thank you again for your help.

[2015-10-19 19:39] juwlee commented on #157
@dmitrypol how is the environment set? Is it set as shown in [this sample](https://github.com/paypal/PayPal-Ruby-SDK/blob/master/samples/config/paypal.yml#L10)?

[2015-10-19 19:44] dmitrypol commented on #157
No.  In our system customers enter their credentials into a web UI and then they are stored in encrypted DB.  Then depending on which customer we are processing

Here is my paypal.yml:

test: &default

  # Credentials for REST APIs
  # client_id: EBWKjlELKMYqRNQ6sYvFo64FtaRLRR5BdHEESmha49TM
  # client_secret: EO422dn3gQLgDbuwqTjzrFgFtaRLRR5BdHEESmha49TM

  # Mode can be 'live' or 'sandbox'
  mode:

[2015-10-19 19:46] ppmtscory commented on #158
You should be able to call methods [here](https://github.com/paypal/PayPal-Ruby-SDK/blob/master/lib/paypal-sdk/rest/set_api.rb#L31) to set the credentials and then the method [here](https://github.com/paypal/PayPal-Ruby-SDK/blob/master/lib/paypal-sdk/core/api/rest.rb#L48) can be used to create an access token.

[2015-10-19 20:10] juwlee commented on #157
Can you check if `config.mode` is set to `live` and `logger.level` to `DEBUG` in any occasion? That is the condition to print the warning message.

[2015-10-26 19:32] #158 closed

[2015-10-26 19:45] RafaelFMori opened #163 "Problems updating a payment"
Hello there!

I'm having a problem trying to update the amount of a payment.(though I really think that I'm doing something wrong).

I'm doing something like this:

  payment = Payment.find(payment_id) -- it returns me the payment that was previously created
    updated_payment = {
      :op=> "replace",
      :path=> "/transactions/0/amount",
      :value=> {
        :total=> "40.00",
        :cu

[2015-10-26 19:49] juwlee commented on #163
@RafaelFMori Can you try it on the latest version? Please note a commit 87b4016a031d6ea5f95441ec68b45b30e4313d16 related to payment update.

[2015-10-26 20:08] RafaelFMori commented on #163
Hi Juwlee I'm already using the latest version of the gem. Thanks for pointing me this commit but I had seen this already. And did you notice something wrong in my code whatsoever?

[2015-10-26 21:14] juwlee commented on #163
@RafaelFMori can you please share the full error dump?

[2015-10-27 15:12] RafaelFMori commented on #163
Yes, here it is, sorry for not posting it before.

    begin
      payment.update(updated_payment)
    rescue => e
      puts e.backtrace
    end
/home/rafaelmouri/.rvm/gems/ruby-2.2.2@checkout/gems/paypal-sdk-rest-1.3.3/lib/paypal-sdk/rest/data_types.rb:74:in `update'
(pry):2:in `update_payment'
/home/rafaelmouri/.rvm/gems/ruby-2.2.2@checkout/gems/pry-0.10.3/lib/pry/pry_instance.rb:355:in `eval'

[2015-10-27 19:58] RafaelFMori commented on #163
@juwlee, did it help? Is there anything else i could help you with?

[2015-10-27 20:01] juwlee commented on #163
@RafaelFMori Thanks for sharing the stack trace. We will look into it and circle back to you.

[2015-10-27 20:04] RafaelFMori commented on #163
@juwlee Thanks a lot.

[2015-10-29 16:12] juwlee commented on #163
@RafaelFMori The problem has been identified. Looks like PR #153 changed the behavior. I pushed a commit d97f6c27033fb55e021d3bee3f80da02e3f09b7d that should address this problem. It will be shipped in the next release shortly. Also, please see [payment update sample code here](https://github.com/paypal/PayPal-Ruby-SDK/blob/v1.3.4/samples/payment/update.rb).

[2015-10-29 16:12] #163 closed

[2015-10-30 10:46] ErPuneetGoel opened #164 "Payment through credit card without purchasing the pro-account."
Hi Paypal,

I have created an application with Paypal integration. I have switched to live mode. On Live i am able to pay through Paypal account. It was mentioned somewhere that we need to activate the Paypal Pro-Account for successful integration of credit card payment as well. I just want to confirm is it possible to allow users to pay through credit/debit card without purchasing pro-account.

[2015-11-02 20:52] ppmtscory commented on #164
If your merchant account is in the UK, then yes, you'll need to upgrade to a Pro account in order to process direct credit card payments.  However, the PayPal payment option also offers a guest checkout option on the PayPal page (after redirect) for eligible countries/regions where buyers can enter a credit/debit card instead of logging into a PayPal account.  For any further information on this t

[2015-11-02 20:52] #164 closed

[2015-11-04 10:36] DevilalDheer opened #165 "How to paypal page open with credit-card option landing type as billing"
When I am going to Paypal page during place order, then its open the Paypal mobile login page,
But I wants to checkout billing page for non-Paypal account user.

I have set landing-page: 'billing' but its not working on mobile view.

Please let me know if there are any other options.

Ref: https://developer.paypal.com/docs/classic/express-checkout/integration-guide/ECOnMobileDevices/
Specify that

[2015-11-04 18:12] ppmtscory commented on #165
@DevilalDheer that page you referenced is specific to the Classic Express Checkout APIs and not this particular REST API Ruby SDK.  Can you please file a ticket with our [Merchant Tech Support](https://www.paypal-techsupport.com/app/ask) team so that they can review your code and file a bug with the appropriate team if necessary?

[2015-11-04 18:12] #165 closed

[2015-11-11 21:29] benross opened #166 "How to update a credit card"
Hey Guys,

Looking for any documentation / help on how to update an existing credit card.

Let's say I want to change the expire year...I'd expect to able to do
cc = @api::CreditCard.find(the_paypal_id)
cc.expired_year = 2020
cc.update

This returns MALFORMED_REQUEST error. Tried looking at update examples for other models but couldn't find anything that translates. Really appreciate any pointers

[2015-11-12 15:20] anthonyalberto commented on #157
Same thing happening to us. Log level was set to DEBUG, I then set to INFO and redeployed. After that, it still complains that log level is DEBUG, but there's no instance of DEBUG at all in the code base, confusing

[2015-11-16 10:10] piya23300 opened #167 "Plan and Agreement undefined method `currency_code='"
I use plan and agreement for recurring payment.
API and Paypal flow work. but.. after execute agreement. it display
[code]
How do I fix it?

below my code for test.

[code]

[2015-11-16 19:40] RafaelFMori opened #168 "Strange Warnings"
Hi guys,
I have a paypal rest implementation working perfectly, but yesterday I've noticed some warnings that I don't recognize.

    W, [2015-11-12T21:54:37.790171 #19504]  WARN -- : undefined method `recurring_flag=' for   #<PayPal::SDK::REST::DataTypes::PaymentOptions:0x000000072ac338>
    W, [2015-11-12T21:54:37.790323 #19504]  WARN -- : undefined method `skip_fmf=' for #<PayPal::SDK::REST::Da

[2015-11-16 23:32] aehven commented on #146
Hi @juwlee,

Looking at the fix you've put in 1.3.3, it looks like it all depends on forcing debug level to INFO for live mode in the logger= method.  But for some reason, in my system when I'm live, this function is never called.  Maybe because I already have a logger defined.  Am I doing something wrong?  Is this fix not useful if you already have a logger defined?

Thanks,

-- Adam

[2015-11-17 00:23] aehven commented on #146
Interestingly, it seems that I can get around this by having an initializer with
[code]
but then that also requires the existence of a paypal.yml which I wouldn't generally need because all my config options have to be figured out during run-time.  Does this make sense?

[2015-11-17 17:02] ppmtscory commented on #166
Documentation for updating a stored card can be found [here](https://developer.paypal.com/docs/api/#update-a-stored-credit-card).  That is a standard curl example but you can also use the [update payment](https://github.com/paypal/PayPal-Ruby-SDK/blob/master/samples/payment/update.rb) sample as a reference point.

[2015-11-23 03:37] tristang commented on #135
@juwlee No, he means that the data types have been given generic names that are likely to clash with identically named classes from your application. Not necessarily other gems (which usually do the type of namespacing that @harenderymca is requesting), but from your application's own code.

For example, the `Payment` class is likely to conflict with any applications that also used the class name

[2015-11-23 22:09] benross commented on #166
Hey @ppmtscory thanks for the response. I've looked at both the examples you referenced. Seems like the CreditCard object behaves differently than the Payment object. Based on that example, I would expect this to work:

require 'paypal-sdk-rest'
@api = PayPal::SDK::REST
card = @api::CreditCard.find('CARD-73Y20605AY903523PKY5YIMA')
updated_card = {
  :op=> "replace",
  :path=> "/billing_address",

[2015-11-24 07:22] tristang commented on #135
Actually, I might have gotten the wrong idea from the documentation which uses the unscoped class names.

If you don't include `PayPal::SDK::REST::DataTypes` the data types are scoped as:

`PayPal::SDK::REST::DataTypes::Payout`

[2015-11-24 15:04] juwlee commented on #135
@tristang you are right. If there is a conflict between two classes with the same name, their modules need to be specified to resolve correctly.

[2015-11-24 16:23] ppmtscory commented on #166
After further digging, it appears that the `update()` method for credit card was not correct.  This has been fixed and will be released some time next week with the next planned release.

[2015-11-24 16:39] benross commented on #166
Well that's good news I'm not (completely) crazy! Looking forward to the release. Really appreciate your help.

[2015-11-30 03:17] benross commented on #166
Looks like this works with the new update pushed :-). For anyone stumbling upon this in the future, here an example to update the year of a credit card:

require 'paypal-sdk-rest'
@api = PayPal::SDK::REST
card = @api::CreditCard.find('CARD-XXXXXX')
updated_card = {
  :op=> "replace",
  :path=> "/expire_year",
  :value=> 2017
}
patch_request = @api::Patch.new(updated_card)
card.update(updated_card)

[2015-11-30 03:17] #166 closed

[2015-11-30 20:02] ppmtscory commented on #166
Thanks for the update, @benross, glad it's working after the fix!

[2015-12-02 22:55] holgersindbaek opened #169 "Capture a future payment instead of authorizing it"
I'm authorizing future payments and then capturing those payments manually via the dashboard now.

Right now my code looks like this:

      # Create future payment hash
      future_payment_hash = {
        "intent" =>  "authorize",
        "payer" =>  { "payment_method" =>  "paypal" },
        "transactions" =>  [ {
          "amount" =>  {
            "total" =>  "#{charge_amount.to_i}.00",

[2015-12-03 16:39] ppmtscory commented on #169
If you wanted to capture payments right away instead of doing an authorization and then capture, just use `sale` instead of `authorize` for the `intent`.  However, if you still want the Auth first, then you'd need to run a subsequent [capture](https://github.com/paypal/PayPal-Ruby-SDK/blob/master/samples/authorization/capture.rb) call.

[2015-12-03 16:39] #169 closed

[2015-12-07 17:51] Zmokizmoghi opened #170 "OpenSSL::X509::StoreError: system lib"
Hi!

I'm getting OpenSSL::X509::StoreError exception, when i try to validate event via WebhookEvent.verify method.

I've already found dirty solution: hardcode full path to certificates on line 1265 and 1266, inside https://github.com/paypal/PayPal-Ruby-SDK/blob/master/lib/paypal-sdk/rest/data_types.rb#L1265
Thats how it looks:
[code]

I use OS X 10.11.1, rvm 1.26.11, ruby 2.2.1p85 (2015-02-26 rev

[2015-12-09 18:32] jakubstraka opened #171 "Items are not saved after transaction is approved"
i'm working with Sandbox at this moment and have a problem to get `items` from `item_list` after the payment is approved.

During the whole process I can see in the console the content of the `items` but when I look back for a payment then `items` is just empty array (other values are correct).

Any thoughts/suggestions?

---
[code]
---
[code]
---

[2015-12-10 09:08] cqpx commented on #167
Same here. Fixed by adding `object_of :currency_code, String` to Plan

This is what server respond, with a currency_code in plan which is not expected and not documented.
[code]

[2015-12-10 13:35] juwlee commented on #167
Hi @piya23300 @cqpx it seems there is some discrepancy between API behavior and its documentation. Please reach out to [MTS](https://www.paypal-techsupport.com/app/ask/session) to raise this issue.

[2015-12-10 13:35] #167 closed

[2015-12-10 13:58] juwlee commented on #168
@RafaelFMori  it seems there is some discrepancy between API behavior and its documentation. Please reach out to [MTS](https://www.paypal-techsupport.com/app/ask/session) to raise this issue.

[2015-12-10 13:58] #168 closed

[2015-12-10 14:08] juwlee commented on #170
@Zmokizmoghi do the other environments have the same setup? I cannot seem to reproduce this issue either but wonder what is the difference that causes it. Can you try dumping the directory at the beginning of `get_cert_chain()` to see if it is in the right path?

[2015-12-10 14:08] juwlee commented on #171
Hi @jakubstraka have you tried `curl` with the same request? Does it show the same issue?

[2015-12-12 15:16] jakubstraka commented on #171
Hi @juwlee, yes, `curl` returns empty `items` as well.

[2015-12-14 13:42] juwlee commented on #171
Thanks for verifying @jakubstraka . I would suggest that you reach out to [Paypal MTS](https://www.paypal-techsupport.com/app/ask/session) as it is associated with API rather than this SDK. I will close this issue now.

[2015-12-14 13:42] #171 closed

[2015-12-20 20:58] PELock commented on #119
I'm stuck here too!

Payment ID is required in this scenario for me:

1. Payment is initialized (I have Payment ID in this step)
2. I create Order record in the database
3. Payment is redirected to PayPal site
4. Payment is cancelled
5. In this step I would like to ask the user why did he cancel the order & to store his answer in the Order record previously created in step 2.

Without Payment ID I

[2015-12-21 09:46] mailcorpo opened #173 "How to send money from one account to another via API?"
Hi. I need to integrate into my project payments with the PayPal. Students must pay from their PP account to the Teachers PP account.

All your examples is for payment to the account, that configured in config/paypal.yml. But how can I do payment from Student account to the Teachers ?

Thanks

[2015-12-21 15:45] ppmtscory commented on #173
@mailcorpo third party processing is not available with the standard REST API.  If you are not going to take a piece of the payment, then you would just use the Teacher's account in the config file so that they receive the funds.  If you are looking to take a piece of the payment, then you'll need to look at [this page](https://developer.paypal.com/docs/marketplace-split-payments/) that provides y

[2015-12-21 15:45] #173 closed

[2015-12-22 07:02] mailcorpo commented on #173
But what about Adaptive Payments? I found that I can send money to some email/phone PayPal account, redirecting to the PayPal page where user login and approve the pay

[2015-12-22 16:55] ppmtscory commented on #173
@mailcorpo the previous page I mentioned has Adaptive Payments listed in it for you to reference.  It talks about Braintree Marketplace as well as Adaptive Payments.  AP would be useful if you are looking to take a piece of the payment.  If that's the case, then you'd need to look into Chained Payments.

[2015-12-24 09:13] holgersindbaek opened #174 "Add USPS tracking number to charge?"
We've been talking to PayPal and seems like you guys really want us to add the USPS tracking number to our transactions. So how would I go about adding that to a transaction?

[2015-12-29 10:43] holgersindbaek commented on #174
Is there anyone out there who has encountered this issue? Any help to get? Is this even possible?

[2015-12-29 16:06] juwlee commented on #174
@holgersindbaek once you receive money for goods, we put a prompt in the account that allows them to enter the tracking number that will then be sent to the buyer.

[2015-12-29 16:06] #174 closed

[2015-12-30 18:39] holgersindbaek commented on #174
I understand it can be done manually. What I'm asking for, is a programattic way to do it! 
We've been talking with the guys at PayPal and they really want us to put the tracking ID in. So how do we do that programmatically?!

--

All the best

Holger Sindbaek · HolgerSindbaek.com

On Tue, Dec 29, 2015 at 8:07 AM -0800, "Juwon Lee" <notifications@github.com> wrote:

Closed #174.

—
Reply to this e

[2015-12-30 19:09] ppmtscory commented on #174
There isn't a way to do this programmatically at the moment.  You can file a ticket with our [Merchant Technical Support](https://www.paypal-techsupport.com/app/ask) team and they will be able to track the feature request accordingly.

[2015-12-30 21:41] nicolo commented on #108
I'm still seeing the issue. It might be returned in the json but it's not getting to the payment object in the Ruby SDK. The payment id PAY-02K44502CM4294050KUI3JMI for the sandbox environment displays the issue still.

[2015-12-31 08:02] holgersindbaek commented on #174
We've been talking with your support team on the phone and it really sounds like they want us to add the tracking ID to every single sale people make on PayPal. We make around 15-20 sales and growing a day on PayPal. It's an immensely big hassle for us, if we can't do this programatically. You sure there's no way around this?!

[2016-01-04 15:45] ppmtscory commented on #174
We may automatically attach it, if you buy the shipping label through PayPal (web flow), but that would be the only way that I know of.  I'm not aware of any variables in any of the APIs that would allow the addition of tracking to a transaction.  This would need to happen before anything could be added to the SDKs.  Please continue to work with the [Merchant Tech Support](https://www.paypal-techs

[2016-01-08 19:50] Cosmosz opened #176 "Validation_Error when using variables"
When I create ```payment``` using variables for ```amount``` object like followings:
[code]
it returns this weird validation error.
[code]

I've tried using ```price``` w/o ```round(2)```, w/ ```to_s```, w/ ```"#{}"```, all of them return the same validation error as above.

But if I replace variables with hard coded values, everything works fine.
[this] (https://github.com/paypal/PayPal-iOS-SDK/i

[2016-01-08 22:29] juwlee commented on #176
@Cosmosz can you please post the request/response when it works (when the variables are replaced with hard-coded values)?

[2016-01-09 02:35] Cosmosz commented on #176
[code]

[2016-01-09 09:02] Cosmosz commented on #176
Solved. It has to be exactly two decimals currencies.
[code]

[2016-01-09 09:02] #176 closed

[2016-01-11 14:18] juwlee commented on #176
@Cosmosz I am glad that you got it working. Let us know if you see other issues.

[2016-01-12 23:38] marmarko commented on #170
Seeing the same issue

[2016-01-20 22:00] marmarko commented on #170
@juwlee getting this error OpenSSL::X509::StoreError·system lib even when we deploy to Heroku. Any ideas?

[2016-01-24 06:25] adriansanmigel commented on #170
Hey I realize the odds and ends I am sowing right not. With above mentions spider ,but all your absolutes are your let goes. Accelarator info, and data.  Download something. If you contact me call ny phone I will tell you. Or mirror my PC. talk no messages

[2016-01-26 05:15] juwlee commented on #170
@marmarko I am unfortunately not able to recreate the issue but can you check if @Zmokizmoghi 's workaround above works?

[2016-01-26 08:54] jethroo opened #178 "Build Failing on Travis"
currently the build is failing due to some ssl errors

On Travis:
[code]
~~Locally 5 test are failing all with kind of the same message~~
used the wrong ruby version(ruby-1.9.3-p547), ruby-2.2.0 and above works fine locally

[2016-01-27 03:43] krsyoung opened #179 "Correct way to access IPN Module for validation"
I'm looking to use this library to help process an IPN payment.  I have the following in my controller and was curious if it is actually supported and if this is the right way to get at it:

     if PayPal::SDK::Core::API::IPN.valid?(request.raw_post)
       # to stuff with the params
     end

If yes I'll update http://stackoverflow.com/a/21174859/851145 as it seems to be about the only reference

[2016-01-27 16:53] marmarko commented on #170
@juwlee not sure how to attack this one. Has this functionality tested for in the gem tests? It seems that the certificates are just not referenced correctly in any environment. Is there a more robust way to specify the path to certificates inside the gem?

[2016-01-28 16:42] juwlee commented on #178
@jethroo thanks for reporting. Indeed, the requirements changed a bit (please see [here](https://github.com/paypal/PayPal-Ruby-SDK#prerequisites) due to `TLS 1.2` support. It should run on Ruby >= 2.0.0.

[2016-01-28 16:44] juwlee commented on #170
@marmarko can you run these tests? As @Zmokizmoghi reported, it seems to run on some environments while does not on some others. I cannot seem to recreate the issue, so it would be great if you could provide debugging information.

[code]

[2016-01-28 16:46] jethroo commented on #178
@juwlee but your build is failing on travis still, sorry maybe I created confusion with my last  part of the report which just is intended to state that I can't reproduce it locally ;)

[2016-01-28 17:02] juwlee commented on #178
Thanks for clarification @jethroo . I will take a look.

[2016-01-29 00:35] marmarko commented on #170
@juwlee when i clone the repo locally and run rspec, all tests pass. I think the issue is that when it runs as a gem, it's not able to reference the files. Have you tried including this gem in a project and running this?

PayPal::SDK::REST::WebhookEvent.verify(transmission_id, timestamp, webhook_id, event_body, cert_url, actual_signature, auth_algo)

[2016-01-29 05:54] juwlee commented on #179
@krsyoung actually, IPN is used in classic APIs. In REST, please use [webhooks](https://github.com/paypal/PayPal-Ruby-SDK/blob/v1.4.2/lib/paypal-sdk/rest/data_types.rb#L1338) The classic code base will be removed in the next release.

[2016-01-29 05:54] #179 closed

[2016-01-29 15:41] krsyoung commented on #179
Thanks for the info @juwlee :+1:.  I'll investigate moving over to webhooks.

[2016-01-29 15:43] juwlee commented on #178
@jethroo it has been resolved (see [here](https://travis-ci.org/paypal/PayPal-Ruby-SDK/builds/105606985)). Thanks again for letting us know!

[2016-01-29 15:43] #178 closed

[2016-02-01 15:27] BrunoAwdd opened #180 "unknown SSL method `TLSv1_2'."
I'm having this error when trying to connect to authenticate to the server. I'm developing locally, and do not know what else to do.

[2016-02-01 15:50] bluk commented on #180
What is your environment (Ruby version, OpenSSL version, etc.)?

You need to upgrade your environment to use a fairly recent (preferably latest) version of OpenSSL and Ruby >=2.0.0. Please see the [PayPal TLS Update site](https://github.com/paypal/TLS-update#ruby) for more information. If you still have questions, please leave a comment. Thanks.

[2016-02-01 15:50] #180 closed

[2016-02-02 16:48] davidflores2 opened #181 "PayPal 500 on payment capture"
We are trying to capture a payment that was authorized before and are getting a 500 response from PayPal. This is what we get back.

`PayPal::SDK::Core::Exceptions::ServerError (Failed.  Response code = 500.  Response message = Internal Server Error.  Response debug ID = 54dc7eb12c6ec.):`

Any clue what it is?

[2016-02-02 17:01] pp-randy commented on #181
@davidflores2 To me this looks like a possible system. Can you please reach out to PayPal Technical Support here? https://www.paypal-techsupport.com/app/ask/

[2016-02-02 17:08] davidflores2 commented on #181
@pp-randy we did this. Waiting for a response. Thanks!

[2016-02-02 17:13] pp-randy commented on #181
@davidflores2 What is your ticket number?

[2016-02-02 17:18] davidflores2 commented on #181
Ref # #160202-000202

[2016-02-02 17:44] pp-randy commented on #181
Closing this issue, looks like Tech Support figured this out (total in amount missing) and is following up with you otherwise.

[2016-02-02 17:44] #181 closed

[2016-02-06 18:43] GMMan commented on #170
Here's how [Coinbase's SDK handles making the correct path](https://github.com/coinbase/coinbase-ruby/blob/master/lib/coinbase/wallet/api_client.rb#L713):

[code]

They do it by expanding the path of the currently executing file and substituting the key path relative to that. This works whether the code's dropped into a project or installed as a gem.

[2016-02-08 16:42] bluk commented on #170
@GMMan Thanks for the info. Looking to see if a similar fix can be made.

[2016-02-09 21:28] #170 closed

[2016-02-13 01:14] kjsuarez opened #183 "Getting Response[401]: Unauthorized error when attempting direct payment using live credentials."
Hey guys, so I've got direct card payments working in sandbox, but I'm getting a 401 in Production.
I get the following in my Heroku logs:

[code]

I'm sure that my client id and secret are correct, here's my curl output:

[Removed by Admin]

Can you help me out?

[2016-02-13 01:43] bluk commented on #183
I've deleted the information with your credentials. Please do not post your client IDs and secrets. I strongly suggest you regenerate your secret in the [developer dashboard](https://developer.paypal.com/developer/applications/) for your app immediately.

I would double check that you have the ability to take direct credit card payments in the dashboard. Also, you will get a faster response if you

[2016-02-16 21:20] bluk commented on #183
If you can give [PayPal Merchant Technical Support](https://www.paypal-techsupport.com) a few of the "debug_id"s, they should be able to assist you.

[2016-02-16 21:20] #183 closed

[2016-02-17 08:30] ollym opened #184 "1.4.2 broke merchant-sdk-ruby gem"
[code]

[2016-02-17 16:45] bluk commented on #184
I reverted some changes which I believe should resolve this issue. It is released as version `1.4.3`. Thanks for the report.

[2016-02-17 16:45] #184 closed

[2016-02-25 19:10] sqlninja commented on #66
So perhaps I missed something in the documentation, but how are we expected to execute the agreement. I have the paypal gem being accessed via my api and passing the agreement details back to the calling endpoint (which may be our website or mobile apps). So once a user has approved the agreement and is redirected back to my site (or mobile app) how am I supposed to know the id of the approved agr

[2016-02-25 19:20] bluk commented on #66
When the billing agreement is created, there is a links JSON array. Inside the JSON array, there is a href with a `"rel": "execute"`. You should use that to execute the agreement after the user has approved the agreement.

For instance, in a billing agreement creation response:
[code]

Use `https://api.sandbox.paypal.com/v1/payments/billing-agreements/EC-3G815949G64712345/agreement-execute` to exe

[2016-02-25 20:33] sqlninja commented on #66
Right so this assumes that the endpoint will be responsible for making the call to execute the agreement, and the problem with that is the endpoints don't know the client id or client secret in order to make the post...

Also, when I tried to test out the execute url in postman
here's a curl trying to execute one.
`curl -X POST -H "Authorization: Bearer A101.iFrSZiNISomjzrkDkDphoWFJf-0SqQpcB548dD_

[2016-02-25 21:12] sqlninja commented on #66
Never mind I established that I the agreement token is returned on the redirect and that can be used as follows:
`agreement = Agreement.new
agreement.token = returned_token_value
agreement.execute`

Thanks for the help....

[2016-02-25 22:56] holgersindbaek opened #185 "Refund a capture"
I'm trying to refund a capture, but I'm getting the following error:

    2016-02-25T22:46:12.388536+00:00 app[worker.1]: wrong number of arguments (0 for 1)
    2016-02-25T22:46:12.388599+00:00 app[worker.1]: /app/vendor/bundle/ruby/2.2.0/gems/paypal-sdk-rest-1.3.3/lib/paypal-sdk/rest/data_types.rb:762:in `refund'

This is my capture refund code:

    capture = Capture.find(@transaction.paypal_ca

[2016-02-26 21:37] ppmtscory commented on #185
@holgersindbaek I am testing this and will respond back here afterwards.....

[2016-02-26 22:18] ppmtscory commented on #185
@holgersindbaek I'm not able to reproduce your issue.  You are allowed to pass through an empty payload.  Make sure you're passing an empty payload instead of simply no payload whatsoever.  Below is what I used in the Sample code to complete the refund of a capture.
[code]

[2016-02-26 22:21] holgersindbaek commented on #185
Aha... I wasn't passing anything in the payload. And what about refunding a sale. I can successfully refund a sale without passing a payload along - @sale.refund - why is that possible, but it's not with a capture?

[2016-02-26 22:27] ppmtscory commented on #185
I'm not able to reproduce that either.... I get the same error when I try to refund a sale with no payload included.  I have to do the same `@refund = @sale.refund({})` for it to complete successfully.

[2016-02-26 23:49] holgersindbaek commented on #185
Ok... thank you very much for he clarification... and I'm guessing it will refund the full amount if no payload is included, right?

[2016-02-26 23:49] ppmtscory commented on #185
That is correct - empty payload == full refund.

[2016-02-26 23:50] holgersindbaek commented on #185
Ok. Thanks again.

[2016-02-26 23:50] #185 closed

[2016-02-29 10:41] farnoy opened #186 "Webhooks not triggered in sandbox mode"
I configured a webhook endpoint with SSL support that works fine using the Webhook Simulator. However, no events are sent when I actually pay the invoice using a sandbox account. I create & send invoices using this gem and the REST API.

Can you explain this note too? I am very confused by it:

[2016-02-29 15:06] pp-randy commented on #186
@farnoy have you registered for those events?  https://developer.paypal.com/docs/integration/direct/rest-webhooks-overview/#webhook-registration
----------------------------------------
Webhook events are delivered only for resource state changes that occur through PayPal’s REST APIs. Calls to NVP/SOAP APIs will only generate IPNs, and not Webhook events.
^ Webhooks are generated when the REST API

[2016-02-29 16:31] farnoy commented on #186
I subscribed to all possible events, yes.

Does this mean I will only get a webhook when invoice is cancelled when I use the cancel invoice REST endpoint to do it? Or do you mean that for invoices created with REST API I will get webhook notifications about state changes?

[2016-02-29 20:58] pp-randy commented on #186
I have been testing and not getting invoice webhooks, I am following up internally and will get back to you.

[2016-02-29 21:06] pp-randy commented on #186
This ID is for internal tracking PPPLPAYPT-6222

[2016-03-01 13:08] adriansanmigel commented on #170
meta

[2016-03-07 10:17] farnoy opened #187 "Shifting transaction fees to payer"
I'm trying to figure out how to send invoices with PayPal fees included so that my account receives the desired amount. Billing from a US account and knowing if the recipient is from the US or not, I could charge an extra 2.9% + $0.30 or 3.9% + $0.30 for international recipients but it seems fragile. I know I can check the paid fees by looking at the sale object but it's too late then to use that

[2016-03-14 17:08] bluk commented on #157
I've tried reproducing on Heroku but wasn't able to. I thought the issue may be that the `paypal.yml` has this section by default:

[code]

So if you deploy your Rails application in production mode, you may have set the PayPal environment mode to `live`.

If this is still an issue for anyone, please leave a comment.

[2016-03-14 17:08] #157 closed

[2016-03-22 13:52] pp-randy commented on #187
For invoicing I am not aware of a way.  You could possibly collect the country of the account using Log In With PayPal (Identify) service, but it would require the payer to log in, or a form you create.

Some considerations charging extra to cover the fee would raise the overall fee.  However, if you can determine the average of the fees, you could consider charging everyone evenly and raising the

[2016-03-22 13:52] #187 closed

[2016-03-25 20:02] ppmtscory commented on #186
Webhooks are being received with open arms in the Sandbox once again.  Closing issue.

[2016-03-25 20:02] #186 closed

[2016-03-30 14:38] maximus242 opened #188 "Paypal Internal Service Error"
I am getting a Paypal 500 Internal Service Error using both the samples provided with rack and with my own application. This was not happening before. It occurs using both my own API credentials and the ones provided by paypal in the samples file. They worked previously.

Debug id: 4167f37435ec4

Using the SDK sample code I am getting Debug Id: 4370bd0783

[2016-03-30 14:55] ppmtscory commented on #188
@maximus242 I'm assuming this is for the sandbox environment?  We're currently experiencing some issues at the moment, with the sandbox, so I'll update here once those are resolved.

[2016-03-30 14:55] flori commented on #188
I am having the same problem (debug id: 2a861c2af6f9). Only the sandbox system seems to be affected.

[2016-03-30 15:00] jcleblanc commented on #188
Hi all, sandbox appears to be experiencing some downtime. We're tracking the issue over at https://github.com/paypal/PayPal-PHP-SDK/issues/531, so I'm going to close this one as a duplicate so that we don't have multiple threads. We'll provide back information as we can there.

[2016-03-30 15:00] #188 closed

[2016-03-31 17:22] nsantiago2719 opened #190 "Internal Server Error - Payout."
I'm having a `Failed. Response code = 500. Response message = Internal Server Error.` error while creating a payout. I have almost the same code on your samples by the way. I have seen some of your issues but it doesn't solve my problem. I don't know if this is the debug ID that your talking about on some of the issues `PayPal-Request-Id: 874d1231-bb9b-4dc2-8db0-09ac0ff5a715`

[2016-03-31 17:55] juwlee commented on #190
Hi @nsantiago2719 , it seems sandbox is experiencing some downtime. We're tracking the issue over at paypal/PayPal-PHP-SDK#531. We will close this one as a duplicate so that we don't have multiple threads.

[2016-03-31 17:55] #190 closed

[2016-04-07 16:49] danijel commented on #122
👍

[2016-04-12 15:36] holgersindbaek opened #191 "De-authorizing future payment?"
Is this possible? My users are authorizing future payments from my iOS app using this code - https://github.com/paypal/PayPal-iOS-SDK/blob/master/docs/future_payments_mobile.md - and now I want them to have the possibility to de-authorize future payments as well. How would I go about that?

[2016-04-12 20:59] bluk commented on #191
Consumers can de-authorize the PayPal Future Payments consent by going to the PayPal website as documented in the [`Deleting consent on the paypal.com website`](https://developer.paypal.com/docs/integration/mobile/make-future-payment/). There are some other requirements for telling how customers can do this in your app/web site.

In the app, you will have to develop a flow to delete the access/ref

[2016-04-12 20:59] #191 closed

[2016-04-25 15:49] alexey opened #194 "What is the point of non-working defaults ?"
in rails console:
`2.2.2 :014 > PayPal::SDK.configure`
Return:
`#<PayPal::SDK::Core::Config:0x007fca3e2a9300 @client_id="", @client_secret=nil, @mode="sandbox", @app_id="APP-80W284485P519543T", @username="jb-us-seller_api1.paypal.com", @password="WX4WTU3S8MY44S7F", @signature="AFcWxV21C7fd0v3bYYYRCpSSRl31A7yDhhsPUU2XhtMoZXsWHFxu-RWy", @sandbox_email_address="Platform.sdk.seller@gmail.com", @ssl_op

[2016-04-25 16:36] juwlee commented on #194
@alexey See [SDK config guide](https://github.com/paypal/PayPal-Ruby-SDK#configuration). If you do not have an account, you would probably need to set up your own one (either sandbox or live) and either 1) put it in a config file or 2) set it as shown in the docs.

[2016-04-25 16:36] #194 closed

[2016-05-10 18:17] eiwi1101 commented on #122
:+1:
Also running into this developing a multi-tenant application which requires runtime switching of which PayPal account is being used for payments.

The ability to configure a particular instance of the API and place calls against that instance would be most secure, but swapping out global config could be wrapped in a secure manner.

[2016-05-10 18:30] jackphelps commented on #122
I thought I might have posted this elsewhere previously, but it works perfectly fine. here's our ruby wrapper for paypal calls:
[code]

[2016-05-10 18:39] eiwi1101 commented on #122
@jackphelps That's a good solution for this. Have you checked that for thread safety?

[2016-05-10 18:43] jackphelps commented on #122
Aggressively, and it's been in production for ~8 months.

[2016-05-10 22:48] #154 closed

[2016-05-12 07:04] nik-007 opened #195 "transaction amount error"
hey friends i'm using this plug in but while using i found the error when the amount is posted with the paypal request in @payment. If we pass the amount value with decimal point and if only one number after decimal point then the error arises , so only have to pass integer or the decimal with two numbers after decimal point .

[2016-05-12 11:47] juwlee commented on #195
Hi @nik-007 it is the behavior of the API. Yes, in a payment request, `transactions[0].amount.total` should be a whole number or should have 2 decimal points. Otherwise, you will get a `VALIDATION_ERROR` like the following:
[code]

[2016-05-12 11:47] #195 closed

[2016-05-12 17:41] henriquemenezes opened #196 "Support BRL currency for payment_method 'credit_card' in Brazil"
Hi,

I'm trying to create a payment with `BRL` currency and `credit_card` payment method but the Paypal API yet not supports it:

[code]

See:
- http://stackoverflow.com/questions/30129691/paypal-rest-api-brazilian-brl-currency
- https://developer.paypal.com/docs/integration/direct/rest-api-payment-country-currency-support/
- https://developer.paypal.com/webapps/developer/docs/classic/api/currency

[2016-05-16 23:03] #196 closed

[2016-05-18 10:16] nik-007 commented on #195
thank you Juwlee for reply, but mine problem is about the conversion of amount from decimal to float or when i going to use the value which is decimal e.g. 24.40 and then when i passed it as amount to paypal arising error that you mentioned, i've seen the problem is when it going to pass to paypal it becames "24.4" and not "24.40" thats why error occurring, and its weird for me and that shouldn't

[2016-05-23 09:26] sureshaluka opened #200 "UNKNOWN_ERROR direct credit card payment"
2016-05-23 14:54:39.990 ERROR 3904 --- [nio-8080-exec-2] com.paypal.base.HttpConnection           : Error code : 400 with response : {"name":"UNKNOWN_ERROR","message":"An unknown error has occurred","information_link":"https://developer.paypal.com/webapps/developer/docs/api/#UNKNOWN_ERROR","debug_id":"f859c3424f6ae"}
response-code: 400	details: name: UNKNOWN_ERROR	message: An unknown error has occ

[2016-05-23 13:33] pp-randy commented on #200
@sureshaluka Can you try a new credit card number?  You can use this FAQ to generate on on step 4 https://www.paypal-knowledge.com/infocenter/index?page=content&widgetview=true&id=FAQ1413

[2016-06-01 17:44] gustavoschmidt opened #202 "Paypal security updates"
Today I received an email from Paypal about security updates.
https://www.paypal-knowledge.com/infocenter/index?page=content&widgetview=true&id=FAQ1913&viewlocale=en_US

Do you guys think we should update the gem to accommodate these changes?
I don't know the inner workings of the SDK, but I'd happily help.

Best

[2016-06-01 17:57] bluk commented on #202
@gustavoschmidt The latest version of the Gem should be compatible with the TLS updates. You can find more specific information for this SDK at the [PayPal TLS repository](https://github.com/paypal/TLS-update#ruby) and what is required for your environment to upgrade.

If you find an issue or have a specific question, please feel free to add a comment or open a new issue. Thanks!

[2016-06-01 17:57] #202 closed

[2016-06-03 15:35] sineed opened #203 "Getting 500 response of payout request"
### General Information

- Mode (Sandbox/Live): Sandbox
- PayPal-Debug-ID(s) (from any logs): 1d9db6649341f
- ruby-2.2.0
- SDK Version: paypal-sdk-rest (1.4.5)

### Issue Description

For sending payout request I use `Paypal::SDK::REST::Payout` class. Now I just try to have green tests in the Sandbox mode, for testing I use `vcr` so every request in my payout spec is recorded. [Here](https://gist.

[2016-06-08 08:01] mesge opened #205 "OpenSSL and WebhookEvent"
### General Information

- Mode (Sandbox/Live): Live (Webhooks simulator)
- Ruby 2.2.3
- SDK Version: paypal-sdk-rest (1.4.4)
- OpenSSL version: OpenSSL 1.0.2h 3 May 2016

### Issue Description

Running into strange errors with SSL when using the webhooks simulator. Seems the `PAYPAL-AUTH-ALGO` is set to `SHA256withRSA` which is 'not a supported digest algorithm' for this version of OpenSSL.

Here

[2016-06-09 08:08] sineed commented on #203
I had wrong request with empty `sync_mode` parameter. Closing

[2016-06-09 08:08] #203 closed

[2016-06-11 06:32] franklintiel opened #206 "NoMethodError (undefined method `billing_plan_units=' for #<PayPal::SDK::REST::DataTypes::Payment"
### General Information
- Mode (Sandbox/Live): live
- PayPal-Debug-ID(s) (from any logs):
- Version of node.js used: v0.10.45
- SDK Version: 1.1.3
### Issue Description

I'm trying to configure PayPal on my web site to process payments. Everything in the sandbox is working perfectly; however, on the production site, using the identical code, I am consistently experiencing the following error:

`No

[2016-06-14 03:58] franklintiel commented on #206
Hi everyone!,

I can to fix it fixing the file called "data_types.rb" ( inside /lib/paypal-sdk/rest/data_types.rb ) and on the method called def self.load_members I added this line "object_of :billing_plan_units, String" and done the payments are working again.

NOTE: The method billing_plan_units is not available for this gem and for ruby, is necessary to apply the fix.

[2016-06-14 15:40] jaypatel512 commented on #206
Hey @franklintiel !

Would you mind sending us a quick pull request. We can merge and release them soon 👍

[2016-06-17 13:37] Ajmal opened #208 "Subscription"
Can I create subscription with this sdk?

[2016-06-20 10:12] jrasanen commented on #208
https://github.com/paypal/PayPal-Ruby-SDK/blob/master/spec/subscription_examples_spec.rb

[2016-06-20 10:18] Ajmal commented on #208
@jrasanen thanks

[2016-06-20 10:18] #208 closed

[2016-06-20 10:21] jrasanen commented on #208
@Ajmal I've just finishing implementing this with Ruby. If you have any questions, I can try answering to them. Feel free to ask on Twitter (jussiras) or by Skype (jussi.rasanen).

Only thing I haven't yet figured out is that where does PayPal ping after a successful monthly payment. :|

[2016-06-28 18:19] zverok opened #211 "WebProfile.flow_control.user_action"
So, docs have setting for payment experience profile, named `user_action`:  https://developer.paypal.com/docs/api/payment-experience/#definition-flow_config

There is nowhere to be seen acceptable values for it. And Ruby SDK doesn't implement it (as well as PHP one, for example). I've tried to add the field in my local gem copy, it was saved successfully (I've used "commit" string), but it seems t

[2016-07-01 10:22] lcoq commented on #10
:+1:

[2016-07-22 03:44] SuperMasterBlasterLaser opened #217 "Getting tokeninfo from authorization code throws 400 error."
### General Information

- Mode (Sandbox/Live): Sandbox
- PayPal-Debug-ID(s) (from any logs): b589f6ebd5ba6, be250bb93e117.
- Version of Ruby used: 2.3
- SDK Version:  1.4.8

### Issue Description

Hello. I have created business account in PayPal and added sandbox application. Then I have checked **Login with PayPal** option.

In my rails project I have added my `client_id`, `client_secret`, `user

[2016-07-22 14:37] CirrusThink opened #218 "PayPal Pro Ruby SDK and Recurring Payments with credit card ?"
### General Information
- Mode (Sandbox/Live): sandbox
- PayPal-Debug-ID(s) (from any logs):
- Version of Ruby used: 2.0.0
- SDK Version:
### Issue Description

Is it possible with Ruby SDK to create a recurring payment with the PayPal Business PRO account ?
I am able to perform the recurring method in activemerchant and I see samples to perform with ruby merchant sdk, but cant find anything in th

[2016-07-22 15:33] bluk commented on #200
Closing due to inactivity. If there's still an issue, please leave a comment or open a new issue. Thanks.

[2016-07-22 15:33] #200 closed

[2016-07-22 15:42] bluk commented on #217
It seems your Android application is in `mock` mode which doesn't really interact with sandbox or issue server traffic. The response authorization code is just a mocked response so when you try to send it to the sandbox server environment, it doesn't recognize the code.

See the [sample app where it sets the environment](https://github.com/paypal/PayPal-Android-SDK/blob/master/SampleApp/src/main/j

[2016-07-25 15:55] bluk commented on #217
If this is still an issue, please leave a comment or open a new issue. Thanks.

[2016-07-25 15:55] #217 closed

[2016-07-27 18:00] sankarbhavanib commented on #218
This is the closest we have at this point of time ‘https://github.com/paypal/PayPal-Ruby-SDK/blob/master/spec/subscription_examples_spec.rb'. We are working on adding more samples and I will keep you notified once those are made available. 

[2016-07-29 13:38] pp-randy commented on #211
@zverok sorry for the delay.  Looking through some internal documentation that value should be commit, but this isn't working so I will need to follow up internally on this.

It seems the URL change is the current working way to do this.

[2016-07-29 13:53] pp-randy commented on #211
For internal tracking SRE-42281

[2016-07-29 15:57] zverok commented on #211
Thanks. I really hope the things will became better with time...

[2016-08-04 04:51] ellamosi commented on #205
I found the same issue in sandbox. The signature's digest algorithm is tagged as `SHA256withRSA` which `OpenSSL::Digest` won't recognize. Replacing that with `sha256` does the trick, but the validation example will fail as currently shown. Thanks @mesge!

[2016-08-04 05:11] mesge commented on #205
Hey @braebot perhaps the example code should just map `SHA256withRSA` to a recognised OpenSSL digest algorithm?

[2016-08-04 16:07] jaypatel512 commented on #205
I think @mesge, the reason behind this issue is, the webhook server/simulator has no idea what language you are accepting this event. `SHA256withRSA` is one of the acceptable values in [Java world](https://docs.oracle.com/javase/7/docs/api/java/security/Signature.html), and we may have to do a bit of manual pairing to convert that to what ruby openssl library understands. I think creating a map co

[2016-08-07 20:56] dwmcc commented on #205
I'm experiencing the same issue. Although OpenSSL errors when I set `SHA256withRSA `to the auth_algo, I manually set it to `SHA256`, which is essentially what @mesge is doing in #221.
Even once I have manually set it to `SHA256`, the WebhookEvent.verify method returns false. Is it possible that PayPal is requiring a SHA256 with RSA digest and reports back that the webhook is invalid as the algo se

[2016-08-07 23:57] mesge commented on #205
Hey @dwmcc, have a look at [webhooks_examples_spec.rb:45](https://github.com/paypal/PayPal-Ruby-SDK/blob/master/spec/webhooks_examples_spec.rb) for information about event body. The integration test is passing, and the setup methods of that spec might be the information you're after.

[2016-08-08 18:05] dwmcc commented on #205
@mesge, thanks for the info but unfortunately I'm still not able to get the `WebhookEvent.verify` to return true. The auth_algo is set to "SHA256" per your #221 commit, and all other variables are identical to what I received from Paypal's webhook POST data. If you're sure that it's acceptable to have the auth_algo set to `SHA256 `when Paypal sent `SHA256withRSA`, then it must be an issue with my

[2016-08-08 18:35] dwmcc commented on #205
_Deleted my last message because I think I've isolated the issue._
@mesge - thanks for referencing that file... it appears that my actual_sig and the generated expected_sig are quite different. I used [data_types.rb:1342](https://github.com/paypal/PayPal-Ruby-SDK/blob/9530666283ef37f598889eb315d83c15f6fc8e55/lib/paypal-sdk/rest/data_types.rb#L1342) in order to compare the signatures, and used valu

[2016-08-08 23:59] tballarin opened #222 "PayPal::SDK::Core::Exceptions::ServerError - Failed. Response code = 500. Response message = Internal Server Error."
### General Information

- Mode (Sandbox/Live): Sandbox
- Version of Ruby used: 2.2.4p230
- Rails version : 5.0.0
- SDK Version: gem v - 1.4.9

### Issue Description

Hello all,
I get an error on @payment.execute()

`   @payment = Payment.new({
                               :intent =>  "sale",
                               :payer =>  {
                                   :payment_method =>  "payp

[2016-08-10 16:34] bluk commented on #222
This error should have been fixed in sandbox. If this error still occurs, please leave a comment. Thanks!

[2016-08-10 16:34] #222 closed

[2016-08-11 11:37] antprt opened #223 "Get Internal Server Error"
Hi,

I'm getting an Internal Server Error when I create a payment.

The response is always:

PayPal::SDK::Core::Exceptions::ServerError (Failed.  Response code = 500.  Response message = Internal Server Error.  Response debug ID = ec71dea1380a6, ec71dea1380a6.)

Is sandbox mode.

Is there any problem with paypal?

[2016-08-11 11:41] sureshaluka opened #224 "Getting internal service error in sandbox mode"
Error code : 500 with response : {"name":"INTERNAL_SERVICE_ERROR","message":"An internal service error occurred.","information_link":"https://developer.paypal.com/webapps/developer/docs/api/#INTERNAL_SERVICE_ERROR","debug_id":"d0e8fa20ac516"}

[2016-08-11 14:30] pp-randy commented on #224
@sureshaluka can you try again?  This looks like it was a sandbox issue, but my attempts are working now.

[2016-08-11 14:35] pp-randy commented on #224
Closing the issue for now as the 500 issue should be resolve.  Reply back if the error persists for you and provide a new response string.

[2016-08-11 14:35] #224 closed

[2016-08-11 14:37] pp-randy commented on #223
There was a sandbox issue earlier which should now be resolve.

Closing issue for now.  If the error continues please provide a new response log.

[2016-08-11 14:37] #223 closed

[2016-08-23 18:28] dmitrypol opened #226 "Keep getting "internal service error occurred" in LIVE mode for /v1/payments/payment"
### General Information

- Mode (Sandbox/Live): LIVE
- PayPal-Debug-ID(s) (from any logs): 8366626d1dfec, 96508397440e0, 4a17fd7bd5db5
- Version of Ruby used:  2.3.1p112
- SDK Version: paypal-sdk-rest (1.4.8)

### Issue Description

This works in Sandbox mode (with sandbox creds) but NOT in Live mode (with correct creds which I tested).

Here is the snippet from the response:
"body": {
"message":

[2016-08-23 19:47] bluk commented on #226
I've opened PPPLPAYPT-12064 to track this issue, but I strongly advise also requesting support from [PayPal Merchant Tech Support](https://www.paypal-techsupport.com/app/ask) in case there are account specific issues.

[2016-08-23 20:03] dmitrypol commented on #226
bluk - thank you for quick response.  Is there a portal where I can access PPPLPAYPT-12064 to check it's status?  I also filed https://www.paypal-techsupport.com/app/account/questions/detail/i_id/1290933 ticket with this info.

[2016-08-23 20:18] bluk commented on #226
@dmitrypol Unfortunately, no public portal. Having an official issue opened via the PayPal Support website is the best way to get contacted about status and to ensure that your issue is resolved.

[2016-08-23 20:20] dmitrypol commented on #226
@bluk  - I understand.  Any idea what the ETA is for the resolution?

[2016-08-23 22:17] JLinares85 opened #227 "Error 500"
When I try to pay with a credit card in live, paypal return me this error

- Mode (Sandbox/Live): Live
- PayPal-Debug-ID(s) (from any logs): d39393b75437
- Version of Ruby used:
- SDK Version: 23

That is the info

Metadata:

"url": "/v1/payments/payment",
	"create_time": "2016-08-23T22:01:32Z",
	"additional_properties": {},
	"account_number": "1560091313776748170",
	"client_id": "XXXXX",
	"id": "

[2016-08-24 13:27] pp-randy commented on #227
Closing as duplicate of https://github.com/paypal/PayPal-Android-SDK/issues/338

[2016-08-24 13:27] #227 closed

[2016-08-24 14:48] bluk commented on #226
Sorry, I don't know of an ETA, but the issue is actively being investigated.

[2016-08-27 18:45] snovity commented on #226
@bulk around the time @dmitrypol opened the issue, we started getting exceptions from SDK for POST calls to `v1/payments/payouts`. It is always one of the
*  `Failed.  Response code = 500.  Response message = Internal Server Error.  Response debug ID = d7e4174aecfaf`
*   `Failed. Response code = 503. Response message = Service Unavailable. Response debug ID = f8d1520ceb51`

Especially nasty is tha

[2016-08-28 02:35] snovity commented on #226
I've also filed an incident report https://www.paypal-techsupport.com/app/account/questions/detail/i_id/1292347

[2016-08-29 19:52] danielwestendorf opened #228 "CurrencyConversion"
### General Information

- Mode (Sandbox/Live): Sandbox
- PayPal-Debug-ID(s) (from any logs):
- Version of Ruby used:
- SDK Version:

### Issue Description

CurrencyConversion is partially described [here](https://github.com/paypal/PayPal-Ruby-SDK/blob/master/lib/paypal-sdk/core/api/data_types/base.rb#L10-L15), yet it isn't included as a data type.

Are there any resources on how to translate [API

[2016-08-30 08:54] rvsingh opened #229 "UNAUTHORIZED_PAYMENT errors in Payment.find"
### General Information

- Mode (Sandbox/Live): Sandbox
- PayPal-Debug-ID(s) (from any logs):  "f819bc1f4999c", "f819bc1f4999c"
- Version of Ruby used: ruby 2.2.3p173
- SDK Version: 1.4.9
- Facilitator Account: Business in India
- Buyer Account: Test account from US

### Issue Description

 We are trying to integrate paypal express checkout. The first step of Create payment is working fine. But in

[2016-08-30 16:11] #229 closed

[2016-08-30 16:12] rvsingh commented on #229
When client secret is set wrong, you can create a payment but find will give this error.

[2016-08-31 16:38] mattLummus opened #230 "Plan.find returns Internal Service Error 500 in Live Mode"
### General Information

- Mode (Sandbox/Live): LIVE
- PayPal-Debug-ID(s) (from any logs): c33337e4e415a, b91159f629b16, 685d37a093f4f
- Version of Ruby used: 2.3.0
- SDK Version: 1.4.7

### Issue Description
About 12-15 hours ago we started seeing issues with new users of ours trying to sign up with PayPal. After going through our error logs we traced it to a certain line in our codebase.

During

[2016-09-02 21:17] drewfg commented on #226
I am also have the same issue, started about a week ago. Filed incident report https://www.paypal-techsupport.com/app/account/questions/detail/i_id/1294625

[2016-09-02 22:12] dmitrypol commented on #226
My issue was with the account setup but the message was extremely confusing.  Finally got through to the tech support (long wait on the phone) and they fixed the account config.

[2016-09-04 11:31] gpatidar05 opened #231 "INTERNAL_SERVICE_ERROR + https://api.sandbox.paypal.com/v1/payments/payment"
Hello,
I'm also getting this 500 error when call the payment Api with credit_card_id

Request:
@payment = Payment.new({
:intent => "sale",
:payer => {
:payment_method => "credit_card",
:funding_instruments => [{
:credit_card_token => {
:credit_card_id => credit_card_id }}]},
:transactions => [{
:item_list => {
:items => [{
:name => "item",
:sku => "item",
:price => "1",
:currency => "USD",
:quanti

[2016-09-06 15:23] bluk commented on #226
Sorry for the troubles. It seems this was an account specific error so if anyone else also encounters this error, please open an issue with [PayPal Merchant Technical Support](https://www.paypal-techsupport.com/app/home).

[2016-09-06 15:23] #226 closed

[2016-09-06 15:37] bluk commented on #228
You may want to look at https://github.com/paypal/adaptivepayments-sdk-ruby/blob/4b4a4317921869b9e836eb09358c6b1386940669/spec/convert_currency_spec.rb which is a spec for the [adaptivepayments-sdk-ruby](https://github.com/paypal/adaptivepayments-sdk-ruby) which is probably what you want.

[2016-09-06 15:37] #228 closed

[2016-09-06 16:03] bluk commented on #230
If this is still occurring (or if you encounter any other live errors), please open an issue with [Merchant Technical Support](https://www.paypal-techsupport.com). I've followed up with an internal ticket PPPLPAYPT-12464 to verify the error isn't happening.

[2016-09-06 16:03] #230 closed

[2016-09-06 16:07] pp-randy commented on #231
I am seeing an issue with the credit card in the sandbox. Can you try the request with a newly generated test card number? You can use Step 4 of this FAQ to create one https://www.paypal-knowledge.com/infocenter/index?page=content&widgetview=true&id=FAQ1413

[2016-09-06 16:09] mattLummus commented on #230
@bluk This is not still occurring but this is the first response we've heard from PayPal in just short of a week (including still never hearing back from PayPal tech support which we had already filed that day) and I've seen a number of these issues popping up in the SDK threads lately. Some amount of transparency or communication  would be nice when your services/endpoints are having failures.

[2016-09-06 20:55] bluk commented on #230
@mattLummus Thank you for your feedback, and I agree. I'll forward your feedback on to help improve everyone's experience.

[2016-09-08 13:33] mraidel opened #232 "reauthorize fails because of details in amount"
### General Information
- Mode (Sandbox/Live): Sandboy
- Version of Ruby used: 2.1.9
- SDK Version: 1.4.9
### Issue Description

PayPal::SDK::REST::DataTypes::Authorization#reauthorize generally fails for me with "Amount object in this resource type must not include amount details.". This is because the stored amount looks like this:

[code]

If I just remove the additional information it works. `

[2016-09-08 13:51] mraidel commented on #232
looking at the sample (https://github.com/paypal/PayPal-Ruby-SDK/blob/master/samples/authorization/reauthorize.rb) it seems to be encouraged to just set the amount again (even though it is already there in the authorization object):

[code]

[2016-09-12 21:27] Cisplatin opened #233 "BadRequest from Tokeninfo.create(authorization_code)"
### General Information

- Mode (Sandbox/Live): Live
- PayPal-Debug-ID(s) (from any logs): 0e518738296b0, feb7454c2108
- Version of Ruby used: 2.3
- SDK Version: 4.3

### Issue Description

I'm just trying to run Tokeninfo.create, but I get a BAD REQUEST error, even when tried with different codes. I'm following documentation as described.

[2016-09-13 08:56] mahesh08 commented on #136
I am using the npm paypal-rest-sdk in that calling the payout api. I am sending the body like email and amount for that.When I am calling that api/payments it gives the error like Response Status : 503.

Here is my code:

app.post('/api/payment',function(req,res){
    paypal.configure({
        'mode':"live", //sandbox or live
        'client_id': "*******",
        'client_secret': "*******"

[2016-09-13 12:30] jonmifsud commented on #231
@pp-randy I'm having a similar issue; followed step 4 of the FAQ - so I've generated a new random card. my debug id  is 48d53c7a8fa66. No error using 'paypal' as payment method so doubt it's something related to how I'm calling the API.

If it's a credit card issue (as you noted above) it would be nice to have something more friendly than a 500 Internal Server Error message.

[2016-09-13 13:48] bobbus opened #234 "payment.create was true but response was INSTRUMENT_DECLINED"
### General Information

- Mode (Sandbox/Live): LIVE
- PayPal-Debug-ID(s) (from any logs): 20dcd4f71107c
- Version of Ruby used: 2.1.7
- SDK Version: 1.4.6

### Issue Description

Problem was that `payment.create` was true but the transaction was refused, see log below :

[code]

[2016-09-13 13:49] pp-randy commented on #231
@jonmifsud Can you review https://github.com/paypal/PayPal-PHP-SDK/issues/639 and see if you are able to test with the payment_card object?

[2016-09-13 14:32] pp-randy commented on #136
@mahesh08 can you provide the response JSON, or the debug_id value from the JSON response?

The code looks like you are in live mode. If this is impacting your production integration you should reach out to PayPal Technical Support here:  https://www.paypal-techsupport.com/app/ask

[2016-09-15 12:49] skoddowl commented on #10
+1
Any news? @buntyjoshi @juwlee

[2016-09-19 15:44] lcoq commented on #234
:+1:

[2016-09-21 02:32] dwmcc commented on #205
Back from vacation, and still having this issue! Ultimately I believe it boils down to the SHA256withRSA error:
`RuntimeError: Unsupported digest algorithm (SHA256withRSA)`

The gem is attempting to run
`OpenSSL::Digest.new("SHA256withRSA")`
and this is erroring. Any workaround? As I stated above, passing SHA256 is not a workaround, as the webhook won't be considered valid. Thoughts?

[2016-09-22 22:56] dwmcc commented on #205
Well, I figured it out. Initially I was convinced that there was an issue with how `SHA256withRSA `was rejected by Ruby's OpenSSL, despite @mesge's 6420234b175b8d6060e1f39976f05526565ea67d commit which essentially forces `SHA256withRSA` to be processed as `SHA256`.
When I was attempting to pass `auth_algo = 'SHA256' ` to `WebhookEvent.verify`, it was returning `false`, meaning the webhook was not

[2016-09-23 04:21] jaypatel512 commented on #205
Hey @dwmcc !

Thanks for such a detailed explanation. I am glad you were able to get past the issue. Btw, were you required to use the `SHA256` change at https://github.com/paypal/PayPal-Ruby-SDK/commit/6420234b175b8d6060e1f39976f05526565ea67d , or were you able to work with default code.

We will be more than happy to add your comments on our `verify_webhook_event.rb` file.

[2016-09-24 18:44] dwmcc commented on #205
@jaypatel512, the 6420234b175b8d6060e1f39976f05526565ea67d change did not work for me -- passing `SHA256withRSA` still errors, so manually removing `withRSA` was necessary in my implementation.

Feel free to add my comments/code to the [verify_webhook_event.rb](https://github.com/paypal/PayPal-Ruby-SDK/blob/master/samples/notifications/verify_webhook_event.rb) file. I believe this will be helpful

[2016-09-26 16:21] #205 closed

[2016-09-26 16:22] jaypatel512 commented on #205
Thanks @dwmcc !

I have updated the samples with your code. Also, we do not need to download `cert` separately. I think it is a code not used. I have removed that from samples too.

[2016-09-28 12:14] davyfitz commented on #234
Hey, I've been having issues with payment.create returning true for 400 Bad Request errors and tracked it down to an issue with the http_call method, I've submitted a pull request:

https://github.com/paypal/PayPal-Ruby-SDK/pull/239

[2016-09-28 14:46] pp-randy commented on #234
I apologize for the late response.  If this is a LIVE integration issue and happening for all your payments please contact PayPal Technical Support here:  https://www.paypal-techsupport.com/app/ask

If this is one buyer seeing an issue they should contact PayPal Customer Support for more information about the decline here: https://www.paypal.com/help

[2016-09-28 21:58] davyfitz commented on #234
We're having the same issue sporadically, when the response is in the following format it is handled correctly:

{"error"=>{"name"=>"VALIDATION_ERROR", "details"=>[{"field"=>"payer.funding_instruments[0].credit_card.number", "issue"=>"Value is invalid"}], "message"=>"Invalid request - see details", "information_link"=>"https://developer.paypal.com/docs/api/#VALIDATION_ERROR", "debug_id"=>"877b747d

[2016-09-29 08:37] bobbus commented on #234
@pp-randy : Hello Randy,
Thanks for your answer. The problem only happen once with a live transaction. Should we contact paypal ? I believe the cause of the problem was what @davyfitz described in the comment above.
Thanks for your help

[2016-09-29 17:28] pp-randy commented on #234
@bobbus it happened once but not for every transaction?  The error you posted indicates the funding source was declined.  That seems different than the error from @davyfitz.

The error from @davyfitz looks like a validation_error and should have a different cause.

In this context this is my understanding of both errors.

- INSTRUMENT_DECLINED  - Valid Credit Card Number, but was Declined.

- VALI

[2016-09-29 17:33] bobbus commented on #234
@pp-randy : Yes it happen once and yes our integration works with proper payment information.

The problem is not that the transaction was declined and the problem encoutered by @davyfitz is not the Validation error.

The problem with this gem is :

And @davyfitz probably detailed it better :

Please see his comments above.

This should be fixed on this library or in the paypal API response to ens

[2016-10-03 13:31] pp-randy commented on #234
@bobbus thank you for the clarification, I will bring this to the attention of the SDK engineering team.

[2016-10-04 17:12] sdcoffey commented on #234
Picking this up today, thanks for the info @bobbus and @davyfitz

[2016-10-04 17:28] Cisplatin commented on #233
No worries.

Debug IDs: 218d4bf44e07b, bab85f22ada56
Response Code: 400
Response Message: Bad Request

[2016-10-06 07:50] ranjitsingh90 opened #241 "Hi what do I pass in the "self.webhook_Id" to the WebhookEvent.verify function."
Hi what do I pass in the "self.webhook_Id" to the WebhookEvent.verify function

[2016-10-06 14:49] bluk commented on #241
On the Developer Dashboard under [My Apps & Credentials](https://developer.paypal.com/developer/applications/), you can click your REST app. Then, there should be a table listing your "(Live|Sandbox) Webhooks". The Webhook ID should be there for your endpoint URL.

You can also [list all your Webhooks](https://github.com/paypal/PayPal-Ruby-SDK/blob/master/samples/notifications/get_all_webhooks.rb)

[2016-10-06 14:49] #241 closed

[2016-10-07 16:22] bluk commented on #233
@Cisplatin The logs show that this should have been a 401 response returned with invalid credentials. Can you please elaborate on what you are trying to do or what documentation you are following?

Most frequent causes for a 401 are due to using the wrong client ID/secret associated with the account. You may also want to try sandbox to see if that's working.

[2016-10-10 18:56] Cisplatin commented on #233
I'm trying to create a token to get user information. Are you able to see more specifics about the request and why it isn't working? It doesn't seem like it should be a Bad Request on my end.

[2016-10-11 15:59] bluk commented on #233
@Cisplatin The logs I looked at only shows invalid credentials. It may be due to an outdated authorization code as well (they have a limited time to live).

Can you share sample code (without any credentials) that you are executing to get the authorization code? I tried the Login with PayPal flow using the current Ruby SDK and I was able to get an access token for the authorization code.

One othe

[2016-10-12 12:26] VitGervazuk opened #243 "Bad Request on "intent": "authorize", with direct card input."
### General Information

- Mode (Sandbox/Live):Sandbox
- PayPal-Debug-ID(s) (from any logs):7c303c1bb30ba
- Version of Ruby used:
- SDK Version: PayPal .NET SDK 1.7.4

### Issue Description

Today I'm experiencing the issue with crating the authorise payment using a sample project.
I touch Capture an authorized payment and it fails with message:

The remote server returned an error: (400) Bad Requ

[2016-10-13 09:21] zzpaul commented on #106
I encounter the same issue using the PHP SDK. Is there any update about this issue?

[2016-10-13 09:30] VitGervazuk commented on #243
Issue Solved. Apparently there was an issue with sandbox server

[2016-10-13 09:30] #243 closed

[2016-10-14 17:09] erobert17 commented on #78
I'm getting the same problem using netshell/paypal laravel package. Sounds just like kukula's description. Returning the created payment from the controller gives results but when it executes the payment in the try catch statement it returns absolutely nothing and my browser gets a 500 error.

I've opened a thread on stackoverflow before finding this page. http://stackoverflow.com/questions/272627

[2016-10-14 17:39] erobert17 commented on #78
I don't have a debug id because there's no error returned. The response is null.

        $response = $payment->create($this->_apiContext);
        return $response;// NOTHING
        $redirectUrl = $response->links[1]->href;

[2016-10-14 18:43] pp-randy commented on #211
@zverok the functionality has been added.
user_action=commit
In your Payment Experience should work as intended now.

[2016-10-14 18:43] #211 closed

[2016-10-17 15:31] bluk commented on #233
Closing due to inactivity. If this is still an issue, please leave a comment, and we'll reopen. Thanks!

[2016-10-17 15:31] #233 closed

[2016-10-19 18:37] johngibbons opened #244 "BadRequest on Tokeninfo.refresh(refresh_token)"
### General Information

- Mode (Sandbox/Live): Live
- PayPal-Debug-ID(s) (from any logs): "00e6ca48fff01", "920425b6820b3"
- Version of Ruby used: 2.3.0p0
- SDK Version: 1.4.9

### Issue Description

getting following response when trying to get Tokeninfo using a refresh_token:

[code]

[2016-10-19 19:25] bluk commented on #231
Closing due to inactivity. If this is still an issue, please leave a comment, and we'll reopen. Thanks!

[2016-10-19 19:25] #231 closed

[2016-10-19 19:41] bluk commented on #244
Is your OpenID client ID/secret set? (This could be the same as your regular client ID and secret).

Something like:
[code]
or if you are using a Rails app or something similar in a `config/paypal.xml` like:
[code]

Also, is this just now failing? Have you gotten it to work with sandbox before?

[2016-10-19 19:51] johngibbons commented on #244
Yes I have set the `openid_client_id` and `openid_client_secret` although I have set them to the same values as the regular `client_id` and `client_secret`.  Would those be different?  I'm also seeing the authorization header being generated that i would expect (something like `"Authorization"=>"Basic <ENCRYPTED AUTH>"}`).  It was working previously in Sandbox but now testing in Live mode with liv

[2016-10-19 22:59] bluk commented on #244
Please contact [PayPal Merchant Technical Support](https://www.paypal-techsupport.com/app/ask) who should be able to help you especially since this is a live-only issue. The SDK team can't tell if the client ID/secret is correct (we don't have access), and it seems the rest of your integration is correct if the sandbox environment works for you. The `client_id` and `client_secret` are usually the

[2016-10-19 22:59] #244 closed

[2016-10-20 23:42] Kyderman commented on #205
This is still broken for me.

I am fully updated and have followed the example.

Looking in this thread, params["paypal"] is empty for me so it cant be using that.

Using the methods provided in the testing suite, everything seems to be coming back a expected bar the signature test.

[2016-10-20 23:44] dwmcc commented on #205
@Kyderman I remember how frustrating it was for me, when I was trying to get it working. Is the PayPal POST to your server working? Do you mind posting your params and headers that you're getting in the POST?

[2016-10-21 00:01] Kyderman commented on #205
Its posting to me perfectly fine.

    actual_sig = request.headers["HTTP_PAYPAL_TRANSMISSION_SIG"]

    auth_algo = request.headers["HTTP_PAYPAL_AUTH_ALGO"]

    auth_algo.sub!(/withRSA/i, "")

    cert_url = request.headers["HTTP_PAYPAL_CERT_URL"]

    transmission_id = request.headers["HTTP_PAYPAL_TRANSMISSION_ID"]

    timestamp = request.headers["HTTP_PAYPAL_TRANSMISSION_TIME"]

    webhook_i

[2016-10-21 00:02] Kyderman commented on #205
This always comes back false.
I need to get these damn hooks done dammit.

Also, there is a typo in the docs for this, the variable for the signature is wrong. :O

[2016-10-21 00:03] dwmcc commented on #205
Have you verified that the headers are being properly filled in by Paypal? Basically, that each of those variables has real data? Additionally, are you simulating a webhook event from the PayPal developer dashboard?

[2016-10-21 00:06] Kyderman commented on #205
Yes they all have real data coming back, I have printed them all out multiple times.

No this is in the sandbox, from a sandbox subscription setup, its getting thrown to ngrok, then to my localhost.

[2016-10-21 00:12] Kyderman commented on #205
1. I have a hook created to my route in the dev dash
2. The hook gets called completely fine with all headers getting passed back
3. the webhook id is identical to that in the dev dash

I have no idea why this isnt going right.

The params coming back are quite large, but starts with the id that has a WH at the front, which I believe to be correct.

[2016-10-21 00:19] Kyderman commented on #205
Right.... OK, so this is hilariously strange.

if I use

    event_body = params['charge'].to_json

It works....

I just, dont even...

The docs on this project need a nice kick.

[2016-10-21 00:20] dwmcc commented on #205
Yes, it took me a while to figure it out too. Definitely frustrating! Glad you figured it out.

[2016-10-21 00:23] Kyderman commented on #205
Why does "charge" work?

Is that only going to work for certain hook types that come back?

[2016-10-21 00:24] dwmcc commented on #205
Yes, I'm assuming so. My event_body had to be taken from params['paypal'] for a standard PayPal Payouts webhook. Weird that there isn't much documentation on this anywhere.

[2016-10-21 00:26] Kyderman commented on #205
Jesus christ, so to verify certain hooks, you need to extract the type and change the event body param indicator to get it right.

Once verified you then need to do that again to handle the logic anyway... why cant Paypal be Stripe.

[2016-10-26 00:55] kaiomagalhaes commented on #218
no news @sankarbhavanib ?

[2016-10-28 12:51] Kyderman opened #247 "Set a subscription to finish at end of current cycle"
### Issue Description

With Stripe you can tell a subscription to end at the end of the current cycle (so the user gets what they have paid for).

With Paypal this seems to not be available or not even clear.

Documentation talks about SUSPEND and REACTIVATE, which may provide the correct functionality, however, there is nothing anywhere that defines what these do or how to use them.

Thinking abo

[2016-10-31 15:05] bluk commented on #206
This should be fixed (`billing_plan_units` should not show up) with internal issue PPPLPAYPT-13792 . If this issue reoccurs, please open a new issue. Thanks.

[2016-10-31 15:29] bluk commented on #206
There is one change that needs to be made with PPPLPAYPT-13792 during the GET request before execution. Will close this when that is done.

[2016-11-01 12:46] kaiomagalhaes opened #248 "Not being able to use the subscription"
### General Information

- Mode Sandbox:
- PayPal-Debug-ID(s) (from any logs): "443cdbb4f3a64", "443cdbb4f3a64"
- Version of Ruby used: 2.3.1p112
- SDK Version: 1.5

### Issue Description

I'm not being allowed to create a subscription. It returns me a 401.

The code I'm using is from the spec folder of this project and can be found here: https://gist.github.com/kaiomagalhaes/d279fd8f9eb6fcf50e4b6

[2016-11-01 18:28] bluk commented on #248
There seemed to be a temporary issue with your requests. Can you please try again?

[2016-11-02 02:58] jonbcampos commented on #205
is there a final good example? I tried making a unit test with the dummy data provided by paypal and it fails. I've tried my own calls. failed. I'm happy to start sharing code if anyone can spare a moment.

[2016-11-02 09:09] Kyderman commented on #205
Fire away, I seem to have something that works so I might be able to help

[2016-11-02 09:19] Kyderman opened #249 "Initial Payment success / failure"
I have a working piece of subscription code where I charge an initial payment (to ensure a first payment is made), and then have the agreement start for the next period.

I am finding that lots of people tend to fail the initial payment, why is this happening (by fail, I mean that the state comes back as "cancelled" at which point I dont let them have access to the paid content.

Why is this?

[2016-11-02 14:00] jonbcampos commented on #205
Thanks, here is my test, you'll see I run the verify and then run a test to my webhook to see if I pass the before_action verify check. The first verify works, the second fails and from what I can see if is the same  values. These are using values from the paypal example.

test
[code]

before_action
[code]

[2016-11-02 14:17] Kyderman commented on #205
Right okay, similar issue to me.

You will probably find that your event_body is the issue.

In my case dealing with a subscription I had to use the variable "charge" (params['charge'].to_json) to get the thing to pass. Strangely this isnt documented anywhere, like pretty much anything past basic Paypal payments is (I have actually had to move my payment processor to WorldPay as this has become a

[2016-11-02 14:23] jonbcampos commented on #205
@Kyderman I came from Stripe (cause they just can't support my business model) and this has been a mixed bag. I saw your notes above and didn't really see anything similar so couldn't use that. Thanks for the effort.

[2016-11-02 14:28] Kyderman commented on #205
Funnily enough, you are on the exact same line as me, I also came from Stripe for the same reason.

Im now using Worldpay which manages to give me a decent subscription start-up in about 30 lines of code.

change  event_body = params['paypal'].to_json to use 'charge' instead of 'paypal'... thats what worked for me.

[2016-11-02 15:47] bluk commented on #249
Can you please contact [PayPal Support](https://www.paypal.com/us/selfhelp/home) ? They should have access to your live account information and can help you understand the cancellation failures. Thanks.

[2016-11-02 15:47] #249 closed

[2016-11-03 15:48] enisdenjo commented on #78
Setting the header `Content-Type:application/json`  solved it for me. (I am using REST API but I think it should work anywhere)

[2016-11-03 20:22] kaiomagalhaes opened #250 "Payment.Find returns state created after payment"
### General Information

- Mode (Sandbox/Live): Sandbox
- PayPal-Debug-ID(s) (from any logs):  c2a877cc8317c, c2a877cc8317c
- Version of Ruby used: ruby 2.3.1p112 (2016-04-26) [x86_64-linux-gnu]
- SDK Version: 1.5

### Issue Description

1. Create paypal Payment
2. Get URL
3. Pay  it with a test user provided by paypal sandbox
4. In the call back response I get the payment ID and find it using Pay

[2016-11-04 15:04] pp-randy commented on #247
There is an enhancement request being tracked here to allow a cancel at the end of the term https://github.com/paypal/PayPal-PHP-SDK/issues/192

I will review and follow up further here in regards to the webhook when a subscription has completed.

[2016-11-08 21:58] #47 closed

[2016-11-09 17:09] kaiomagalhaes opened #251 "Code error while executing a paypal payment"
### General Information

- Mode (Sandbox/Live):Sandbox
- PayPal-Debug-ID(s) (from any logs): ["7b66323590a24", "7b66323590a24"],
- Version of Ruby used: ruby 2.3.1p112 (2016-04-26) [x86_64-linux-gnu]
- SDK Version: paypal-sdk-rest (1.5.0)

### Issue Description

When I execute the payment I got the error:
undefined method `billing_plan_units=' for #<PayPal::SDK::REST::DataTypes::Payment:0x00000002

[2016-11-10 19:29] bluk commented on #250
Sorry for the late response. The payment state changes to `approved` after payment execution.

Can you please post a `PayPal-Debug-ID` for when you try to execute the payment and get a 401? If you're using the right `payer_id` and payment ID, you should be able to execute the payment.

[2016-11-10 19:35] bluk commented on #251
@kaiomagalhaes Just to be clear, are you GETting the payment (before executing) and running into this issue? Or are you seeing this error during the execute response?

[2016-11-10 19:37] kaiomagalhaes commented on #251
The steps are:
[code]
After applying this solution: https://github.com/paypal/PayPal-Ruby-SDK/pull/214

It worked fine.

[2016-11-10 19:39] kaiomagalhaes commented on #250
After some tentatives it started to work yesterday. It was probably an issue with my sandbox keys.

[2016-11-10 19:39] #250 closed

[2016-11-10 19:40] kaiomagalhaes commented on #251
@bluk one question, after executing it, should I be receiving any webhook in my sandbox accounts? Atm I'm receiving none.

[2016-11-10 19:42] bluk commented on #251
@kaiomagalhaes I believe the web hooks should occur within 30 minutes on sandbox. If you do not see any, please open a new issue with the payment ID and the PayPal-Debug-ID for the execute. Thanks.

[2016-11-10 19:42] #251 closed

[2016-11-10 19:52] bluk commented on #248
Seems the 401 issue was resolved for you in issue #250 but if not, please leave a comment.

[2016-11-10 19:52] #248 closed

[2016-11-11 18:43] kaiomagalhaes opened #255 "not receiving webhooks"
### General Information

- Mode (Sandbox/Live): sandbox
- PayPal-Debug-ID(s) (from any logs): ["b690b021186d9", "b690b021186d9"]
- Version of Ruby used: 3.1
- SDK Version:  paypal-sdk-rest (1.5.0)
### Issue Description

Payment id: `PAY-4FT15697YM252011BLATAVKY`

I'm using the paypal payment and for some reason I'm not receiving any hooks in my paypal sandbox accounts when I create the payment url

[2016-11-11 18:44] kaiomagalhaes commented on #255
@bluk the issue I mentioned yesterday ^

[2016-11-13 22:33] kaiomagalhaes opened #256 "Express Checkout"
What kind of method is used for the Payment.create/Payment.execute flow with paypal? Is it the express-checkout?

[2016-11-14 14:30] pp-randy commented on #256
Yes, it is using Express Checkout.

[2016-11-14 15:05] kaiomagalhaes commented on #256
@pp-randy  any idea to why it would not send the webhooks?

[2016-11-14 15:15] pp-randy commented on #256
Were the Payments Created with the REST API?  The REST API enables the webhooks; otherwise, you would want to use Instant Payment Notification if you are using the Classic API.

[2016-11-14 15:19] kaiomagalhaes commented on #256
@pp-randy  the payment are being created with: https://github.com/paypal/PayPal-Ruby-SDK/blob/master/samples/payment/create_with_paypal.rb

so I need to use the webhooks or the classic api?

[2016-11-14 15:23] pp-randy commented on #256
You can use both with the REST API.  Since you are using this SDK I advise using Webhooks.  You have registered your webhook listener?

Does the Webhook Simulator on the Dashboard at https://developer.paypal.com work to send a webhook to your listener?

Do you see your Webhook Events at https://developer.paypal.com/developer/dashboard/webhooks/sandbox?

[2016-11-14 16:09] bluk commented on #255
@kaiomagalhaes I am getting webhooks in my test application for payment for events like `PAYMENT.AUTHORIZATION.CREATED` but I've opened internal issue PPPLPAYPT-14866 to see if there's something else. You may also want to open an issue with [Merchant Technical Support](https://www.paypal-techsupport.com/app/ask).

I would try to use something like https://requestb.in to capture responses just in c

[2016-11-14 23:34] kaiomagalhaes commented on #256
@pp-randy the simulator: https://developer.paypal.com/developer/webhooksSimulator/  works fine, but I don't see any events in https://developer.paypal.com/developer/dashboard/webhooks/sandbox. It is what is bugging me most, I've already configured the IPN in my sandbox account, but nothing so far.

[2016-11-15 14:51] pp-randy commented on #256
@kaiomagalhaes I think what you are needing is to register your webhook listener using this API https://developer.paypal.com/docs/api/webhooks/#webhooks_create

Once this is done you should start seeing webhooks in your dashboard.

Webhooks are the more recent of the two notifications mechanisms, the classic being IPN; however, when implementing the REST API you can utilize both.

[2016-11-15 17:57] kaiomagalhaes commented on #256
@pp-randy  YOU ARE JUST GREAT! thanks man, really really thanks!

If you ever come to Brazil let me know and I will buy you and ice cream

[2016-11-15 18:02] #256 closed

[2016-11-15 18:03] kaiomagalhaes commented on #255
@bluk  discovered the issue. Thanks for the requestb.in it helped me a lot. I was not registering the webhooks, this is why I wasn't receiving it. Thanks!

[2016-11-15 18:03] #255 closed

[2016-11-17 21:17] diegocouto commented on #205
I'm also trying to verify two webhooks without success: BILLING.SUBSCRIPTION.SUSPENDED and PAYMENT.SALE.COMPLETED.

All the headers seems to be ok, so probably my event_body is the problem.

`params['paypal']` or `params['charge']` are empty. I can get something using `params['payment']`, but the verification won't pass (nor with full body).

[2016-11-22 20:42] jaypatel512 commented on #218
As @sankarbhavanib mentioned, we have a sample to demonstrate how to use PayPal Billing Agreement (Subscription APIs), to create a recurring payments.

For more information on that API, please read [Billing Plans](https://developer.paypal.com/docs/api/payments.billing-plans) and [Billing Agreements](https://developer.paypal.com/docs/api/payments.billing-agreements).

[2016-11-22 20:42] #218 closed

[2016-11-23 13:08] hypeJunction commented on #106
Seriously, people. Get your act together. You haven't implemented chained payments via REST, you can at least let us chain our payments ourselves. for Christ's sake provide some consistency and transparency in your API. I am discouraging all my clients from ever using PayPal.

[2016-11-23 16:25] pp-randy commented on #106
@hypeJunction I want you to know that your feedback is appreciated. I apologize the REST API has not met your needs. Although, we are continuing to develop and add new features for our REST API; this has not happened for much of our Adaptive Payments APIs.  Chained payments is sought after and has been requested for some time, for transparency this issue that we use to track it has been open over

[2016-11-23 18:16] hypeJunction commented on #106
Well, your website states that Adaptive Payments API has been retired... So which one is it?

[2016-11-23 18:27] hypeJunction commented on #106
Response object here https://developer.paypal.com/docs/api/payments/#sale_refund_response indicates there is `refund_from_transaction_fee`, but PHP SDK doesn't know about it and the response of that API operation is a `Refund` instance, which doesn't provide refunded fee information.
How hard can it be to implement a feature? Hire more developers if your devs are overworked, you are a multi-billio

[2016-11-23 18:34] pp-randy commented on #106
@hypeJunction Adaptive Payments are in limited release status described here: https://developer.paypal.com/docs/classic/adaptive-payments/gs_AdaptivePayments/

So currently both are true. REST API has not yet implemented some of these features, and Adaptive Payments are in limited release status.

I will do my best to help if you can fill me in with how you want to use Chained Payments.  If you ar

[2016-11-23 18:59] hypeJunction commented on #106
It doesn't matter if I use PP Payouts or any other method to transfer funds if I can't determine the exact amount payable.

The API is too irrational when it comes to refunds:
1. I can't refund a payment, I can only refund a sale
2. To refund a sale I need to pull a payment and look for sale information somewhere in a array of transactions (not to mention that each transaction is an object of diff

[2016-11-23 19:26] pp-randy commented on #247
Addin the Internal Tracking for the webhook for subscription completion PPPLMER-23633

[2016-12-01 05:00] hkmaly commented on #180
Patching the ruby with https://garajau.com.br/2015/07/tls-1-1-and-1-2-support-for-ruby-1-9-3 might also work. I mean, it solves this problem, not sure if there is any other reason to use Ruby >= 2.0.0

[2016-12-01 05:39] hkmaly opened #257 "PayPal::SDK::REST::ErrorHash.convert is not working correctly on nested hashes"
### General Information

- Mode (Sandbox/Live): Live
- PayPal-Debug-ID(s) (from any logs): N/A  (well, noticed this when investigating 13a48c8bc07b0 but that one doesn't contains nested hash)
- Version of Ruby used: 1.9.3
- SDK Version: 1.6.0

### Issue Description

PayPal::SDK::REST::ErrorHash.convert({:a=>1, :b=>2, :inside=>{:c=>1, :d=>2}}) throws error.
[code]
Looking at the code,
[code]
looks

[2016-12-01 06:11] hkmaly opened #258 "Payment.find will not return error message which Payment.execute returned"
### General Information

- Mode (Sandbox/Live): Live
- PayPal-Debug-ID(s) (from any logs): 13a48c8bc07b0
- Version of Ruby used: 1.9.3 (with TLS 1.2 path)
- SDK Version: 1.6.0

### Issue Description

When Payment::execute returns error like `INSTRUMENT_DECLINED`, you need to capture this error from the same object you called the execute on ; if you refresh it with Payment.find, only sign the payme

[2016-12-14 15:20] pp-randy commented on #258
@hkmaly I sincerely apologize I was going to discuss this with you and think I closed my browser window before sending my response.

You should be able to redirect the buyer back to PayPal after receiving this error, using the same redirect link.  This allows them to choose a different funding source and you can try to execute again.

[2016-12-16 00:52] hkmaly commented on #258
... that's interesting, I mean it's something I would never guess based on documentation, but it's not what I was writing about.

Or is it related to the reason why the bug was not recorded in the payment object? Because it's supposed to be temporary error and the payment object is expected to be used again?

[2016-12-16 18:42] kaiomagalhaes opened #259 "Is there any gem out of there that uses the classic request?"
Hey guys, I'm on brasil and here it seems we can't use the rest api, is there any gem that would allow me to get the payment url?

[2016-12-16 20:38] pp-randy commented on #258
You should be able to reuse it again on INSTRUMENT_DECLINED for a PayPal payment at least.

I need to follow up on the documentation a bit more, the only reference I found was this https://developer.paypal.com/docs/integration/direct/express-checkout/integration-jsv4/script-options/?mark=INSTRUMENT_DECLINED#redirect-for-an-alternate-funding-source

The Classic API does discuss it fairly well here:

[2016-12-20 04:35] hkmaly commented on #258
Yes ... I'm not even sure how many versions of API does the documentation describe, much less which parts are supposed to be used together. I was using quickstart documentation here: https://developer.paypal.com/docs/api/quickstart/payments/ and REST API reference here: https://developer.paypal.com/docs/api/ ; I suppose that something from https://developer.paypal.com/docs/ is related to it but I

[2016-12-20 04:38] hkmaly commented on #257
Hello,
any progress on this?

[2016-12-28 15:19] angela4713 commented on #167
http://stackoverflow.com/questions/24151952/paypal-payment-error

[2016-12-28 20:48] angela4713 opened #260 "Webhooks not triggered in sandbox mode"
I configured a webhook endpoint with ngrok that works fine using the Webhook Simulator. However, no events are sent when I actually subscribe an agreement using a sandbox account. I am using this gem 1.6 version.

[2016-12-30 07:12] hkmaly opened #261 "Can't find payment, possibly canceled."
### General Information

- Mode (Sandbox/Live): Live
- PayPal-Debug-ID(s) (from any logs): 7e1d563457d17
- Version of Ruby used: 1.9.3
- SDK Version:1.6.0

### Issue Description
[code]
...

I'm sure the paypal was created, because I have in my database the json including payer_id (and "state":"created" and "create_time":"2016-12-01T05:03:51Z"), but it was likely canceled by client. Is it normal th

[2016-12-30 15:55] matusch commented on #106
Any updates here?

[2017-01-02 18:02] #260 closed

[2017-01-03 15:20] angela4713 opened #262 "How can I change the billing plan in a billing agreement"
I have two plans I offer my users, A $10 and B $20. I create two billing plan objects and activate them.

If a user is on plan A and wants to upgrade to plan B in the MIDDLE of the cycle, is it possible to change the billing plan in an agreement? If no, what is the work around?

Does paypal support something like this: https://stripe.com/docs/subscriptions/upgrading-downgrading?

[2017-01-03 15:56] pp-randy commented on #262
Hi @angela4713,

At this time PayPal does not support that feature.  Unfortunately, the plan is also not patchable with the REST API.  The workaround is to use the Classic API a related thread here: https://github.com/paypal/PayPal-PHP-SDK/issues/557#issuecomment-212475011

I apologize that we do not have the functionality currently and have escalated this internally for further review.  Internal

[2017-01-05 20:33] ppmtscory commented on #259
@kaiomagalhaes you can have a look at our merchant SDK [here](https://github.com/paypal/merchant-sdk-ruby) for the Classic API.  There's other classic SDKs as well if you just visit github.com/paypal and search the repo list for Ruby.

[2017-01-05 20:33] #259 closed

[2017-01-06 17:54] ppmtscory commented on #167
@angela4713 both this GH issue and that SO issue are pretty old.  If you're running into any SDK specific issues, please file a new ticket with as many details as possible.  Otherwise, if you have a question similar to this initial question, then please reach out to MTS as @juwlee suggested.

[2017-01-06 18:19] ppmtscory commented on #261
@hkmaly I don't see any completed transactions in your account on 12/1.  I see some denials but nothing received successfully and this may be why you're not able to find the Pay ID.  If you have any questions on the denials or payments in general, please reach out to our [Merchant Tech Support](https://www.paypal-techsupport.com/app/ask) team as this is not an issue with the SDK itself.

[2017-01-06 18:19] #261 closed

[2017-01-10 14:28] kevin-jj commented on #205
The WebhookEvent.verify function always returned false in Sinatra since the request params is empty at all.  @braebot @pp-randy @bluk

[2017-01-11 03:01] kevin-jj opened #263 "any webhook is not received to our listener in Sandbox mode"
### General Information

- Mode (Sandbox/Live): Sandbox
- PayPal-Debug-ID(s) (from any logs): ["b40062cc4ccf2", "b40062cc4ccf2"]
- Version of Ruby used: 2.4.0
- SDK Version: 1.6.0

### Issue Description

We was not receiveing any webhook notifications to our listener as completed the payment in Sandbox but made it in Webhook simulator.

@bluk @pp-randy @ppmtscory @braebot

[2017-01-11 08:47] #263 closed

[2017-01-11 14:25] pp-randy commented on #263
@kevin-jj did you start getting the webhooks?

[2017-01-11 15:30] kevin-jj commented on #263
@pp-randy yes, we got it.  Thanks for your quick feedback.

The Webhook notifications seems to be delayed to our listener  by about 3-4 minutes.

In addition,  the example of "verify_webhook_event" function in the gem need to be improved further and fix bug.

[2017-01-13 07:10] hkmaly opened #264 "Make related_resources easier to read"
### General Information

- Mode (Sandbox/Live): Live
- PayPal-Debug-ID(s) (from any logs): -
- Version of Ruby used: 1.9.3
- SDK Version: paypal-sdk-rest-1.6.0

### Issue Description

In transaction (which is in payment), there is array of related resources. Resource can be sale, authorization, order, capture or refund.
1) There is nothing about this in documentation.
2) No idea if some or all of

[2017-01-17 01:36] dcalixto opened #265 "chained payment"
### General Information

- Mode (Sandbox/Live):
- PayPal-Debug-ID(s) (from any logs):
- Version of Ruby used:
- SDK Version:

### Issue Description

can i make chained payment with PayPal-Ruby-SDK istead of using adaptivepayments-sdk-ruby?

[2017-01-18 04:02] AndrewPratley opened #266 "Payment Capture Failure - PayPal-Debug-ID: 18d369fd5f4e6"
### General Information

- Mode (Sandbox/Live): Live
- PayPal-Debug-ID(s) (from any logs): 18d369fd5f4e6
- Version of Ruby used: ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-linux]
- SDK Version: paypal-sdk-rest (1.6.0)
      multi_json (~> 1.0)
      xml-simple

### Issue Description

A payment failed to capture and this is the response we received the response below. Can you tell me why th