[2017-01-18 15:10] pp-randy commented on #265
Unfortunately, not at this time. We are tracking the feature request for adaptive payment support here: https://github.com/paypal/PayPal-iOS-SDK/issues/9

You have some possible options with this SDK.  If you are the primary receiver you could combine a payment with a payout and achieve a similar result.  If you are a secondary receiver you could consider submitting an invoice to the primary recei

[2017-01-18 15:11] #265 closed

[2017-01-18 15:11] pp-randy commented on #265
Closing this issue for now, let me know if you have further questions.

[2017-01-20 19:35] pp-randy commented on #266
@AndrewPratley I apologize for the delay in response.  PayPal Merchant Technical Support would be able to better assist you with this Live capture error.  If the issue still persists you can submit a ticket here: https://www.paypal-techsupport.com/app/ask

[2017-01-23 15:03] #266 closed

[2017-02-06 16:03] Kitton opened #267 "How to dont place the funds on hold"
Looks like it's possible to achieve with orders - https://developer.paypal.com/docs/integration/direct/payments/create-process-order/ .

I've tried to do this with the following code -
[code]
User has only card connected with less than 10k on it (Sandbox mode) and receives an error message
[code]
The question - Is it possible to create an order for amount more than user has on it's account and lat

[2017-02-06 16:30] pp-randy commented on #264
`1. There is nothing about this in documentation.`
I have submitted a request for the documentation (Internal Tracking: DEVDOC-571) to be reviewed.

`2. No idea if some or all of those resources may appear multiple times in same transaction.`
You could have more than one authorization or refund in a related resources.  For example if you created an Order and are allowed multiple authorizations you

[2017-02-09 21:48] pp-randy commented on #267
I think it would fail if you are trying to create an amount higher than the balance. Does this fail against a sandbox account that has a bank account associated to it?

There might be some country specific settings as well, but a regional customer support team would be better able to answer any country limitations.

[2017-02-14 13:52] hkmaly commented on #264
1: ok.
2: So, if order has multiple authorization and multiple refunds, how am I supposed to find how many resources are authorizations and how many refunds?
3: I suppose I'm lucky we are not using authorizations yet. Even if it's possible to guess correctly, I think changing ruby library to either not create empty sale (so I can check if resource is sale by checking if sale is not nil) or to incl

[2017-02-14 13:53] hkmaly commented on #257
Hello,
any progress on this?

[2017-02-14 22:01] pp-randy commented on #264
I have submitted an internal request to review the related resources handling further.

Internal Tracking: BTDXCLTS-262

[2017-02-15 18:59] pp-randy commented on #257
@hkmaly I have escalated this issue internally for further review, and I apologize for the delay.

Internal Tracking: BTDXCLTS-260

[2017-02-17 16:29] joxer opened #269 "Can't execute a payment with sale intent using a future payment"
### General Information

Hi i'm in sandbox mode and i'm doing an execute payment but it doesn't work. My debug id is: 99f7b7e663e30
I'm using ruby 2.3.1 with SDK 1.6.0

What i want to do is create a future payment with IOS framework (and indeed it works) and execute it later.
This is my code
[code]

```payment.execute(:payer_id => payer_id)``` returns me error as follow:

[code]

Do I need "execut

[2017-02-21 16:17] Kitton commented on #232
The same happens with `Order#authorize`, so it's still relevant and probably @mraidel you can reopen the issue, cause there's a way around, but it's still there

[2017-02-21 18:26] dli1022 opened #271 "Paypal Payout always returns "Insufficient Funds""
### General Information

- Mode (Sandbox/Live): Sanbox
- PayPal-Debug-ID(s) (from any logs): 299d992febcb6
- Version of Ruby used: 2.1.4
- SDK Version:1.6.0

### Issue Description

I'm trying to create a batch payout with a single payout item of $227 from my sandbox test account which has more than $10,000, but always receive "Insufficient Funds". Here is my client id: AeIY3qMI04pOa_8pHmaKjITqVf2y

[2017-02-21 19:57] bluk commented on #269
You shouldn't need to execute this IIRC. Does the payment show up in your test seller account (login via https://www.sandbox.paypal.com )?

[2017-02-21 21:07] #269 closed

[2017-02-22 09:53] mraidel commented on #232
@Kitton ok, so I reopen it and we let a contributor decide if they consider it a bug. It is certainly inconvenient and requires additional code to work around.

[2017-02-22 15:29] #267 closed

[2017-02-22 15:51] pp-randy commented on #232
Thanks for providing a solution.  Would either of you be interested in submitting a pull request?  If not, that is okay and I will follow up further.

[2017-02-23 15:06] pp-randy commented on #271
I reviewed your sandbox account and it appears at the time you had a $0.00 balance.  The funds being sent were held up by Payment Review, so one of the two account probably that enabled on your developer account settings.  I do see some recent payouts past then.

Closing this out since it seems to be working at this time, but please let me know if you need further assistance.

[2017-02-23 15:06] #271 closed

[2017-02-23 16:40] dli1022 commented on #271
Hi Randy, thanks for looking into this. You are right, I figured out that I accidentally turned on "Payment Review" hence could not send money to my account and later resolved it. My other question still stands, i.e. how do I specify which sandbox account payouts should come from?

Thanks

[2017-02-23 16:57] xiaoleih41 commented on #271
It will only come from the the account linked to your REST app. thanks.

[2017-02-24 04:33] #10 closed

[2017-02-27 21:47] #106 closed

[2017-02-28 12:54] sachinvrg commented on #134
Did anyone get solution, I am getting same issue ?

[2017-02-28 14:31] pp-randy commented on #134
@sachinvrg can you create a new issue and supply some debug ids?

[2017-03-04 05:30] thecritic commented on #205
@diegocouto Simulated Webhooks cannot be verified (it clearly says that right there in the Webhook Simulator).

@ all the others who are curious as to what is happening:

I can only speak for Rails, which I assume most of you use. Here is the thing:

You use a webhook `POST` route to a certain controller. That controller gets that params hash with the event data from the webhook. So far so good. H

[2017-03-04 10:42] Kyderman commented on #205
If that's the truth then that's hilarious and useful.

Why are things like this not documented.

On Sat, 4 Mar 2017, 05:30 Martin Elkhaiat, <notifications@github.com> wrote:

[2017-03-04 11:35] thecritic commented on #205
@Kyderman Well, this is more of a Rails thing than anything else. However I agree with you that this should be documented in this gem in particular.

[2017-03-07 06:34] #66 closed

[2017-03-10 23:13] #262 closed

[2017-03-11 01:01] #119 closed

[2017-03-13 05:35] #247 closed

[2017-03-17 23:07] #258 closed

[2017-03-23 00:33] amedrz opened #273 "INVALID_RESOURCE_ID using previous returned ID"
### General information

* SDK/Library version: 1.6.0
* Environment: production
* `PayPal-Debug-ID` values: "53db75c9346e8", "53db75c9346e8"
* Language, language version, and OS: Ruby 2.3.0, OS X.

### Issue description

I'm confused why I can't find a Payment with an ID previously returned after a `.create` action using this same library:

[code]
I couldn't find in the documentation why would tha

[2017-03-24 14:05] pp-randy commented on #273
Are you able to get a correlation id for the create as well?

I've seen this if you've created a Payment with one REST App and trying access with a different REST App. You are using the same REST App credentials for everything?

[2017-03-24 14:25] amedrz commented on #273
Hey, thanks for replying.

Not sure what do you mean by correlation id, can you elaborate on that please?

I can confirm that those were created with the same credentials, on production.

This is very weird. A very significant amount of the payments we've tried to process doesn't exist anymore on Paypal...

Under which circumstances Paypal would delete them?

[2017-03-24 14:34] pp-randy commented on #273
This is called debug-id on rest instead of correlation id, so I apologize for asking for the wrong field.  I did further digging and found the payment request for the 404 you are getting.

When you get a completed and successfully executed payment does the lookup work for you?  I noticed this particular one failed to execute.

I will follow up further my guess is that they do not last longer than

[2017-03-24 14:51] amedrz commented on #273
Ah, got it. Unfortunately I cannot get the debug-id for the creates... I'll start storing it from now on.

I can confirm all the payments we have set as _approved_ do exist in Paypal. What you said makes sense now.

I'll appreciate a lot if we can confirm that, I couldn't find related information in the docs.

[2017-03-24 15:25] pp-randy commented on #273
What I can tell you about the lookup is that the minimal amount of time by default is 3 hours, that is how long you have from create to execute normally.

If you do need further troubleshooting it isn't horrible to store the debug-id, for a success API call though its found in the headers.

[2017-03-24 15:30] #273 closed

[2017-03-29 13:45] dharabhaskar commented on #144
what is the payer_id

[2017-03-29 13:59] pp-randy commented on #144
@dharabhaskar you can find details here: https://developer.paypal.com/docs/api/payments/#payment_execute_request

If you are getting an error please create a new issue and we will be happy to take a look.

[2017-03-31 13:06] amitej1 opened #274 "Payment not adding to the Paypal balance"
I was able to create a payment successfully to the Paypal account, but it does not add to balance on the account.
I can see the payments in payments received, but still cannot see any additions to the balance on my account.

[2017-03-31 13:08] ravibvinfotech opened #275 "Android SDK Internal error while payment using credit card"
{"name":"INTERNAL_SERVICE_ERROR","message":"An internal service error occurred.","information_link":"https://developer.paypal.com/webapps/developer/docs/api/#INTERNAL_SERVICE_ERROR","debug_id":"84acbda9d2549"}

[2017-03-31 13:33] pp-randy commented on #274
Is this in sandbox?  Can you give me a transaction id from one of the payments created or the sandbox account email address (if sandbox).

[2017-03-31 13:37] amitej1 commented on #274
Yes this is in Sandbox mode:

amitejkalra-facilitator@poplify.com
Transaction ID - ID4418848667260551E

[2017-03-31 13:43] pp-randy commented on #275
The credit card number you are using is causing the issue, which we are tracking here https://github.com/paypal/PayPal-REST-API-issues/issues/22, so please follow this issue for further information.

The bottom of this FAQ has a credit card generator that should work for you in sandbox https://www.paypal-knowledge.com/infocenter/index?page=content&widgetview=true&id=FAQ1413.

[2017-03-31 13:43] #275 closed

[2017-03-31 13:56] pp-randy commented on #274
I am seeing the same thing on the account, transactions look good but are not increasing the balance; this is most likely a delay in the history log in sandbox. I will see if I can reproduce with a different account.

[2017-03-31 14:08] amitej1 commented on #274
Ok Cool. Do let me know as soon as you find more. Just to add to this, when I made the payment using the Activemerchant gem, it went through to the balance immediately. So, I do think it is something to do with SDK.

[2017-03-31 14:35] pp-randy commented on #274
Try a randomly generated card number, we see issues with the overused cards in sandbox.

You can create a random card at the bottom of this FAQ https://www.paypal-knowledge.com/infocenter/index?page=content&widgetview=true&id=FAQ1413

[2017-04-01 06:08] amitej1 commented on #274
if i do try to use one of the test cards that paypal mentions on their site, the payment fails with:
DCC_PREPROCESSOR_ERROR

[2017-04-03 07:06] amitej1 opened #276 "Choosing the currency in which the payment should add to the balance."
My paypal account is based in the UK, and I have suppliers all over the world who will be getting paid through the system. I want to be able to choose the currency the payment is converted to in my Paypal balance, at the time the payment is made. e.g An end user sees the price of an item in EUR based on his location, but the supplier is based in US, so when I receive the payment in my account in U

[2017-04-03 13:34] pp-randy commented on #274
Did the random generated card not work, or are you referring to a particular documentation?

[2017-04-03 13:36] pp-randy commented on #274
If a random card is failing can I get the latest debug_id from you?

[2017-04-03 13:52] pp-randy commented on #276
No, currently the opposite can be done with an account setting. Say you charged them in USD then it could be converted to EUR or another single primary currency.

An option would be for you to charge them in USD if you want to receive USD then you would not need to pay conversion fees.  That is also an account setting to receive multiple currencies; this would mean you would need to know the price

[2017-04-04 15:05] amitej1 commented on #276
Hi,

So is there anyway to achieve the following:
1. A payment comes through to my account in USD. It is automatically converted to GBP(my account's base currency) and added to my balance. Say this is $10
2. A dollar mass-payout is made through the API to another Paypal account(base currency - USD).

At the moment if I try this, I can see the payout gets rejected, but if I do a single payment by l

[2017-04-04 20:30] pp-randy commented on #276
For a Payout you need to have the amount in the currency in your account.   Why convert to GBP if you want to send USD as well though?   With your manual way you have two conversion fees if you have the payment converted to GBP and then manually send USD.  If you hold the USD balance as well as GBP you could receive and send USD and not pay a conversion fee.

[2017-04-05 06:23] amitej1 commented on #276
Ok, so here is the issue:
1. I have global suppliers on my website who will have their own products, and they should be able to price their products in the choice of their currency, USD, GBP, or, EUR.
2. The end users can pay in a currency based on their location, USD, GBP or EUR again.

So, a supplier in US, puts in a product for $10, and a buyer in Europe can buy the product for €9.37. The payme

[2017-04-05 14:42] xiaoleih41 commented on #276
I understand that you are providing some kind of escrow services. you will have to manually convert the funds to USD when you do your payout to your US supplier. PayPal does need your explicit consent to accept our conversion rate and  complete this type of conversion.  Unfortunately, there's no way to automate this part of process. Thank you for your questions. Thanks, Xiaolei

[2017-04-05 14:42] #276 closed

[2017-04-06 06:26] kevin-jj opened #277 "We was not receiving any webhook event using credit card payment but paypal payment received it."
### General information

* SDK/Library version:  PayPalSDK/PayPal-Ruby-SDK 1.6.0
* Environment: Sandbox
* `PayPal-Debug-ID` values:  8daea768-0a0c-49e2-9c70-e3ca43720fba
* Language, language version, and OS: Ruby, 2.4.0p0, MacOS

### Issue description

[code]

[2017-04-06 14:46] pp-randy commented on #277
Currently, a webhook is only sent for PayPal funded payments.

A feature request has been submitted for this issue and we will be tracking it here: https://github.com/paypal/PayPal-REST-API-issues/issues/59
Please follow the above issue for further updates.

[2017-04-06 14:46] #277 closed

[2017-04-10 22:56] Ingosmar89219 opened #278 "Item amount must add up to specified amount subtotal (or total if amount)"
Someone can help me? i get this in the console:
Completed 500 Internal Server Error in 735ms (ActiveRecord: 2.0ms)

RuntimeError (--- !ruby/hash:PayPal::SDK::REST::ErrorHash
name: VALIDATION_ERROR
details:

!ruby/hash:PayPal::SDK::REST::ErrorHash
field: transactions[0]
issue: Item amount must add up to specified amount subtotal (or total if amoun
t
details not specified)
message: Invalid request -

[2017-04-11 14:05] pp-randy commented on #278
What is the amount of one item `playera djs`?  If one costs $250, then `items[n].price` should be set to $250, as this value is multiplied by `3` based on your `items[n].quantity`.

 `3 * 250 = 750` for a total.

Here is the request for reference.
[code]

[2017-04-11 14:14] pp-randy commented on #278
Looking over http://stackoverflow.com/questions/43299511/i-cant-get-the-total-money-of-the-shopping-cart-when-i-update-the-number-of-prod

**Product**
[code]
The above code should be the price per item, so don't multiply by the quantity.
[code]

---------------------------------------
Your initial code provided is hard to read, here is a reference for how to format your comments on GitHub that you

[2017-04-11 14:29] pp-randy commented on #274
Closing due to lack of response.

[2017-04-11 14:29] #274 closed

[2017-04-13 14:08] AdamMiltonBarker commented on #78
I am receiving this using standard payment button in sandbox, it worked literally 5 minutes ago now, I am getting error 500 from any payment button on my sites.

[2017-04-13 14:09] AdamMiltonBarker commented on #78
Seems to be working now.

[2017-04-13 14:28] AdamMiltonBarker opened #279 "Why do 500 error issues keep getting locked with no response or solution>"
I have found many 500 error issues on the net and they all get closed with no response.

I am continually receiving 500 errors from the Sandbox.

[2017-04-13 15:42] xiaoleih41 commented on #279
Do you have a debug ID? Could you please provide more detail for us to investigate? 500 error could be caused by various reasons. We have to look into them case by case.

[2017-04-13 16:00] pp-randy commented on #279
The majority of the locked threads for 500 errors would be in the context of a specific issue that caused it and that issue has since been resolved, those should have an update that it was resolved before a lock was put on it though.

[2017-04-20 15:49] pp-randy commented on #278
Closing due to lack of further responses.

[2017-04-20 15:49] #278 closed

[2017-04-20 19:16] pp-randy commented on #257
@hkmaly a change was merged in https://github.com/paypal/PayPal-Ruby-SDK/issues/280, did you want to take a look?

[2017-04-20 20:49] hkmaly commented on #257
Did you also reverted #240 ? That "fix" is very bad idea and I believe with fixing this it will no longer be needed (I assume your tests will confirm that).

[2017-04-21 16:44] pp-randy commented on #279
Closing the issue due to inactivity.

[2017-04-21 16:44] #279 closed

[2017-04-21 22:03] pp-randy commented on #257
I don't see that https://github.com/paypal/PayPal-Ruby-SDK/pull/240 was reverted.  Are you still seeing problems though now that https://github.com/paypal/PayPal-Ruby-SDK/pull/280 was merged in?

[2017-05-06 17:51] ctpelnar1988 opened #281 "NoMethodError: undefined method `refund_request' for #<PayPal::SDK::REST::DataTypes::Payment>"
### General information
Environment:
Sandbox, ruby 2.3.1, rails 4.2.6, Sierra 10.12.4

### Issue description

Trying to process a refund in the Sandbox environment through the PayPal Ruby SDK results in `NoMethodError: undefined method 'refund_request' for #<PayPal::SDK::REST::DataTypes::Payment>`

I am using the script from the Sample:

https://github.com/paypal/PayPal-Ruby-SDK/blob/master/sample

[2017-05-11 13:59] pp-randy commented on #281
Payments do not support refunds directly.  You need to refund the transactions in your related_resources.  Try with the sale transaction id.

[code]

[2017-05-11 15:33] pp-randy commented on #281
This should resolve the issue for you, so closing this out for now.  Please let me know if you have further questions.

[2017-05-11 15:33] #281 closed

[2017-05-11 15:33] pp-randy opened #282 "Test"
Test

[2017-05-11 15:35] pp-randy opened #283 "Test Ruby"
Test Ruby

[2017-05-11 15:35] mikaey commented on #283
Everything is wrong with Ruby. :-P

[2017-05-11 15:36] pp-randy commented on #283
No comment :-)

[2017-05-11 15:43] ppmtscory opened #284 "one more test"
one more test

[2017-05-11 15:46] #282 closed

[2017-05-11 17:34] #284 closed

[2017-05-11 19:11] pp-randy commented on #283
Closing test issue

[2017-05-11 19:11] #283 closed

[2017-05-12 17:20] kristino-web commented on #134
can someone help-me with some debug_id??
i am testing my sendbox requesto, so i can't recive error name when i send bad card number in my
I get " {"name":"UNKNOWN_ERROR","message":"An unknown error occurred.","information_link":"https://developer.paypal.com/webapps/developer/docs/api/#UNKNOWN_ERROR","debug_id":"ac507cd44ff8"} "

[2017-05-12 17:58] pp-randy commented on #134
@kristino-web would you be willing to file a new issue in this repository https://github.com/paypal/PayPal-REST-API-issues?  Since in your case the credit card is invalid we should provide a more helpful error message.

[2017-05-18 22:42] bstarr322 opened #285 "Unauthorized & No response message"
I've fully tested on sandbox for subscriptions by credit card, but **LIVE** does not work.
[code]
paypal.yml
[code]
In this case I got this error and my environment is:
[code]
But I succeeded by running **CURL** command to get OAuth token:
[code]
So I guessed the issue came back to wrong rest_endpoint and added `rest_endpoint: "https://api.paypal.com/v1"` into the `paypal.yml`.
But I got `Net::Tim

[2017-05-19 14:01] pp-randy commented on #285
We are receiving `ENV['PAYPAL_CLIENT_ID_LIVE']` so the values in your environment variables are not being sent over.

[2017-05-19 15:59] bstarr322 commented on #285
I was using ruby variables ENV['PAYPAL_CLIENT_ID_LIVE'] in yml file which is not a ruby file. So I wrapped it with <%= %>.

Thank you for your help.

[2017-05-19 15:59] #285 closed

[2017-05-25 04:53] hkmaly commented on #257
As I commented, I was investigating something which turned out to be unrelated (as the hash was already flat in that case, specifically I'm not getting avs/cvv responses from failed payment which seem to be reason for non-flat hash) when I found this problem.

I'm not sure what exactly was triggering #240, but flattening nested hashes is terrible idea (two fields can overwrite each other if they h

[2017-05-26 23:15] dli1022 opened #286 "How to transfer money from my Bank to my Paypal account using the SDK"
I just have a general question. We have been using the Paypal SDK for payouts. However, we need to manually transfer money from our bank to Paypal. Is there a way to initiate a money transfer from our bank (registered with our paypal account) to our Paypal account using the SDK? We need to do this weekly and we know the amount for each week. Thanks

[2017-05-30 15:06] xiaoleih41 commented on #286
We currently don't have this feature available. You will have to add funds manually from your bank account to your PayPal account.  We have submitted feature request on this. Hopefully it will make to the product roadmap this or next year.

[2017-05-31 08:54] codeztestiamonia opened #287 "【Question】How to integrate with rails"
### General information

SDK/Library version: paypal-sdk-rest (1.6.0)
Environment: Sandbox
`PayPal-Debug-ID` Sorry I can't find it.
 Language, language version, and OS: , Rails 5.1.1, ruby 2.4.1, mac OS X EI Cation 10.11.6

### Issue description
I tried to integrate paypal into rails application, but I can't do it well. I'd appreciate if someone could answer these questions.

As the paypal demo si

[2017-05-31 12:14] yob commented on #287
I suspect that iInside your `checkout` and `execute` actions, you need to return JSON data to the client.

For `checkout`, something like:

[code]

For `execute`, something like:

[code]

[2017-05-31 12:24] yob commented on #122
We've also run into this issue on a multi-tenant app.

This would be our strong preference - configuring a short-lived API object with the required credentials feels safer than setting global configuration.

[2017-05-31 12:25] codeztestiamonia commented on #287
It worked! Thank you so much!

[2017-05-31 12:27] #287 closed

[2017-05-31 14:06] jackphelps commented on #122
@yob while I 100% agree with you in principle, I'll note that we've had (a version of) the wrapper above in production since late 2015, and in the last month we've processed something like ~16K paypal payments over close to 1K different API keys. No issues -- it's safe, again with the disclaimers I added before.

[2017-05-31 20:34] bstarr322 opened #288 "Webhook Event for Fee PAYMENT.SALE.COMPLETED"
[code]

## 1. How to check WebhookEvent for Fee
I've integrated subscription by credit card and set PAYMENT.SALE.COMPLETED. But I got 2 webhook events for purchasing one subscription.
For example, if I subscribe to $24.99/month, then I used to get 2 PAYMENT.SALE.COMPLETED webhook events for $24.99 and $1.03(guess it is fee amount).
So I'd like to filter fee webhook events. Are there any fields in

[2017-06-01 20:53] xiaoleih41 commented on #288
Could you please share the `debug_Ids` or `Sale_Ids` of  the transactions you mentioned above? This will help us figure out the cause. PayPal doesn't send out a separate **webhook** for `transaction_fee`.   I want to make sure that you are aware of  the difference between the `setup_fee` and `transaction_fee`.  `setup_fee` is an optional initial amount charged when the buyer approves the agreement

[2017-06-02 07:02] bstarr322 commented on #288
Thank you for the answer, @xiaoleih41.
I understood that transaction_fee is always taken from the merchant and it's ok. And if I set setup_fee to 0, it means that I want an upfront?

And I'll reproduce the above webhook and let you know the debug_Ids or Sale_Ids soon.
Thanks again for your advice.

[2017-06-02 14:56] xiaoleih41 commented on #288
If  you do not define `setup_fee` then there's no upfront charge for the buyer when he approves the agreement. The use case for `setup_fee` could be that some merchant wants to start his subscriptions all at the beginning of the calendar month. If someone signs up in the middle of the month, the merchant would like to charge the subscription amount covers the rest of the first month only before th

[2017-06-05 11:04] redjoker011 opened #289 "PayPal::SDK::Core::Exceptions::ServerError on payment execution"
### General information

* SDK/Library version: paypal-sdk-rest (1.6.0)
* Environment: Production
* `PayPal-Debug-ID` values: No Debug ID
* Language, language version, and OS: Ruby on Rails, Ubuntu 16.04

### Issue description
We experience PayPal::SDK::Core::Exceptions::ServerError during payment execution in Production without debug any id and the api call is not recorded on live API calls in de

[2017-06-05 14:59] xiaoleih41 commented on #289
Was it successful in sanbox?  This error could be temporary connectivity issue for live environment. Please make sure that you have all the live credentials configured correctly and all the necessary permission enabled within your live app when you make the payment. What type of payment call are you trying to make? You may consider to contact https://www.paypal-techsupport.com/ for production envi

[2017-06-06 02:45] redjoker011 commented on #289
yup transactions are successful in sandbox but raise an exception error in production during the payment execution.Credentials are also setup properly .maybe i should contact the tech support thanks.

[2017-06-07 19:55] xiaoleih41 commented on #288
Close this ticket due to inactivity. Please resubmit if you have additional questions.

[2017-06-07 19:55] #288 closed

[2017-06-12 15:24] bstarr322 commented on #288
Hello, @xiaoleih41.

I charged $24.99/month recurring subscription and got a webhook event as following:

[code]

I can see it is obviously the notification about transaction_fee, but wonder why transaction_fee is also considered as PAYMENT.SALE.COMPLETED. Is there any way I can distinguish transaction_fee?

[2017-06-12 15:31] xiaoleih41 commented on #288
Can you please share your requesting API minus password? The $1.03 is considered as a recurring payment in your transaction history and it's transaction fee is $0.33. It was a payment sent to the receiver.

[2017-06-12 15:32] bstarr322 opened #290 "Reopen for Webhook Event for Fee PAYMENT.SALE.COMPLETED"
I've created a new issue for #288 since I'm not allowed to reopen that issue.

Thank you

[2017-06-12 15:35] xiaoleih41 commented on #290
$1.03 was a recurring payment sent to your account based on your transaction history. It's not PayPal transaction fee. Please take a look at your billing agreement to see where this amount was from.

[2017-06-12 15:48] bstarr322 commented on #290
[code]

[2017-06-14 19:32] xiaoleih41 commented on #289
Close this ticket due to inactivity.

[2017-06-14 19:32] #289 closed

[2017-06-16 01:55] chadwilken opened #291 "Can I use to access subscriptions with ID starting with "S-"?"
I am working on moving some legacy users to the new REST API. Can I look up and modify subscriptions that begin with `S-`? That and the transaction id are the only numbers I have available.

[2017-06-16 14:36] xiaoleih41 commented on #291
This will be a totally different product. You won't be able to search old subscription ID or transaction ID in REST for subscription detail. You will have to build billing plan and agreement from scratch.

[2017-06-16 15:16] chadwilken commented on #291
So I'm unable to manage existing subscriptions in any way? How can this be possible?

[2017-06-16 17:19] xiaoleih41 commented on #291
You can manager the existing subscription through NVP APIs [ManageRecurringPaymentsProfileStatus](https://developer.paypal.com/docs/classic/api/merchant/GetRecurringPaymentsProfileDetails_API_Operation_NVP/) and [GetRecurringPayemntsProfileDetials](https://developer.paypal.com/docs/classic/api/merchant/GetRecurringPaymentsProfileDetails_API_Operation_NVP/) but not through REST API.

[2017-06-16 17:20] chadwilken commented on #291
Is that an acceptable solution to PayPal?

On Fri, Jun 16, 2017 at 12:19 PM Xiaolei Wheelock <notifications@github.com>
wrote:

--
*Chad Wilken*
1125 Aberdeen Avenue
Lincoln, NE 68512
(402) 405-7300

[2017-06-16 17:40] xiaoleih41 commented on #291
These two are two different products. As the technology evolves we have to switch to REST and build everything from scratch ourselves too.  NVP recurring payment is an old product that is still supported at this time.  You can continuously maintain it on its existing platform.  To make a smoother transition, please make sure not to create any new profiles on NVP and start creating billing agreemen

[2017-06-17 19:24] #286 closed

[2017-06-21 20:32] xiaoleih41 commented on #290
This is very strange. I don't know where that is from as you can see in your transaction log that it's not PayPal fee.

[2017-06-22 20:19] xiaoleih41 commented on #291
Close this thread as the information has been provided.

[2017-06-22 20:19] #291 closed

[2017-07-04 20:25] YamileAndrada opened #293 "Create Billing Agreement returns Funding Instrument Validation Error"
I have stored credit card and added token to agreement then I got below error.

"issue":"Funding Instrument Details are missing or Funding instrument not supported. Only credit-card is supported."}]

[2017-07-05 16:13] xiaoleih41 commented on #293
Please share your `DebugId` and your API request minus password.

[2017-07-05 18:01] YamileAndrada commented on #293
Hi!
currently I sending to my sandbox accounts :
{
	"name": "Agreement for My test plan with description",
	"description": "Agreement for My test plan with description Template creation  with start date 2017-07-06T17:31:20Z",
	"start_date": "2017-07-06T17:31:20Z",
	"payer": {
		"payment_method": "credit_card",
		"funding_instruments": [{
			"credit_card_token": {
				"credit_card_id": "CARD-8XB032

[2017-07-05 19:10] xiaoleih41 commented on #293
**Credit card token** is not supported in the **billing agreement funding instrument**. Only direct credit card is supported.

[2017-07-05 19:25] YamileAndrada commented on #293
Hello! Is there any plan on adding this feature at some point, or is this a limitation on the SDK?

[2017-07-05 19:34] xiaoleih41 commented on #293
There's no plan to add this feature to billing agreement API. You will not be able to combine vault and billing agreement in this way. If you are interested in vaulting credit card for subscription, please look into Braintree Payments [vault](https://articles.braintreepayments.com/support/control-panel/vault/overview) feature. It allows you to create payment token for billing agreement.

[2017-07-07 23:09] BrunoAwdd opened #294 "Transfer to bank account"
I would like to know if there is any way in the API to control the transfer of money from the PayPal account to the bank account.
I'm creating a marketplace. And it's not worth having multiple paypal accounts for each person who signs up. For this reason, I would like to know if there is any tool that allows the automation of the transfer to the bank accounts (each logista will have his account re

[2017-07-10 14:22] pp-randy commented on #294
Have you looked into the [Braintree Marketplace](https://www.braintreepayments.com/products/braintree-marketplace)?

PayPal supports withdrawal from a PayPal Account to a bank account but it is a configured process per account and not controlled by an API.

[2017-07-11 21:54] tomasbecklin opened #295 "uninitialized constant PayPal::SDK::Core::Util::HTTPHelper::ResourceInvalid"
### General information

* SDK/Library version: 1.6.0
* Environment: Sandbox
* `PayPal-Debug-ID` values:
* Language, language version, and OS: ruby, 2.3.1p112, OSX

### Issue description
When calling `create` on a new payout `PayPal::SDK::REST::Payout.new`.

We've had this code in production for at least a year and this just started to happen today when running rspec. Updated to `1.6.0` 4 months a

[2017-07-13 15:01] pp-randy commented on #294
Closing the issue, please let me know if you have further questions.

[2017-07-13 15:01] #294 closed

[2017-07-13 15:33] pp-randy commented on #295
This looks like `PayPal::SDK::REST::ResourceNotFound` is undefined from the error it appears to be `PayPal::SDK::Core::Exceptions::ResourceNotFound`
https://github.com/paypal/PayPal-Ruby-SDK/blob/master/lib/paypal-sdk/core/exceptions.rb#L76

Are you able to get the actual error details for the payout?

[2017-07-13 15:41] pp-randy commented on #293
Closing due to inactivity

[2017-07-13 15:41] #293 closed

[2017-07-13 17:12] tomasbecklin commented on #295
No error unfortunately. `@error=nil`

[2017-07-13 17:54] tomasbecklin commented on #295
Debugged `https://github.com/paypal/PayPal-Ruby-SDK/blob/master/lib/paypal-sdk/core/util/http_helper.rb`

Payload that fails
```{:method=>:post, :action=>"v1/payments/payouts", :query=>{:sync_mode=>false}, :params=>{"sender_batch_header"=>{"sender_batch_id"=>"4c7b8a7c9132e112", "email_subject"=>"[DroneBase] You have been payed!", "recipient_type"=>"EMAIL"}, "items"=>[{"recipient_type"=>"EMAIL", "a

[2017-07-13 18:15] pp-randy commented on #295
Are you able to get a debug_id either from the response JSON or the response HTTP Header?

[2017-07-13 18:34] tomasbecklin commented on #295
```"{\"name\":\"INSUFFICIENT_FUNDS\",\"message\":\"An internal service error has occurred.\",\"debug_id\":\"cdbf9b9fde859\",\"information_link\":\"https://developer.paypal.com/docs/api/payments.payouts-batch/#errors\"}"```

[2017-07-13 18:57] pp-randy commented on #295
You need to have enough PayPal Balance to cover the payout.

[2017-07-13 18:59] pp-randy commented on #295
I sent you some sandbox money, please try again.

[2017-07-13 19:16] tomasbecklin commented on #295
Working now. Thank you for the help!

[2017-07-13 19:43] #295 closed

[2017-07-14 17:55] BorysYudin opened #296 "PayPal live mode - Client Authentication failed"
When changing configurations from sandbox to live account and trying create billing plan PayPal returns such error:
Response[401]: Unauthorized, Duration: 0.901s
Response.body={"error":"invalid_client","error_description":"Client Authentication failed"}

On sandbox everything is fine.

[2017-07-14 20:19] pp-randy commented on #296
This usually indicates an issue with the client id and secret.  Ensure they match correctly as to what is displayed in your REST application for Live.
![image](https://user-images.githubusercontent.com/6819909/28229254-a2ebe060-68a7-11e7-8329-67e06fd0c614.png)
![image](https://user-images.githubusercontent.com/6819909/28229260-a78a5926-68a7-11e7-915c-f2e5d454c3e4.png)

If this does not correct the

[2017-07-14 21:58] engshien opened #298 "On INSUFFICIENT_FUNDS, Payout.new(...).create(true) fails to throw proper error"
When calling
  `PayPal::SDK::REST::Payout.new(...).create(true)`
with insufficient funds, the PayPal SDK fails to throw a proper error but instead throws NameError
  `uninitialized constant PayPal::SDK::Core::Util::HTTPHelper::ResourceInvalid`

Here are the logs
[code]

[2017-07-17 18:33] j4rs commented on #105
I agree with @JensC that *https* only complicates development, anyway in my case I managed to test webhooks in sandbox using https://ngrok.com, pretty straightforward to use.

[2017-07-17 19:48] pp-randy commented on #298
Thank you for reporting this issue the API response has been updated recently.  We will look into making any needed updates to the SDK.

[2017-07-18 23:29] garcha commented on #298
@pp-randy did paypal make an update in regards to funds available in a sandboxes account? I'm also getting an 'INSUFFICIENT_FUNDS' error in sandbox.

However my research shows, this error shouldn't really be happening in sandbox.

[2017-07-19 13:42] pp-randy commented on #298
`INSUFFICIENT_FUNDS` is returned when you do not have enough funds of the currency in the PayPal account.  Payouts use the PayPal balance.  The easy sandbox fix is to send your account some money from another or run some transactions.  Since I test regularly I also have some recurring payments set up to get money into my primary business account.

[2017-07-19 18:57] gullocean opened #301 "UNAUTHORIZED_AGREEMENT_REQUEST"
Hello,
The site is running on PayPal Live mode.
SDK versions are:
[code]
[code]
And the error response is:
`Response.body={"name":"UNAUTHORIZED_AGREEMENT_REQUEST","message":"You don't have permission to create such agreement.","information_link":"https://developer.paypal.com/docs/api/payments.billing-agreements#errors","debug_id":"6a246eef394d4"}Response.header={"date"=>["Wed, 19 Jul 2017 18:52:22

[2017-07-19 19:43] pp-randy commented on #301
Do you have Billing Agreements selected in your Live App settings?
![image](https://user-images.githubusercontent.com/6819909/28386258-a3f4f978-6c90-11e7-8d97-7ca122603fd1.png)

[2017-07-19 19:48] pp-randy commented on #301
Also since this is a production issue you can engage PayPal Technical Support at https://www.paypal-techsupport.com/.

[2017-07-20 13:19] gullocean commented on #301
Thank you @pp-randy.
I'll have a look at Live App setting.

[2017-07-20 14:35] pp-randy commented on #301
Closing the issue, Technical Support should be able to assist you further if its not an App permission setting.

[2017-07-20 14:35] #301 closed

[2017-07-20 14:42] pp-randy commented on #298
Closing this issue in favor of the pull request here should resolve it https://github.com/paypal/PayPal-Ruby-SDK/pull/300.

[2017-07-20 14:42] #298 closed

[2017-07-20 14:55] pp-randy commented on #296
Closing due to inactivity

[2017-07-20 14:55] #296 closed

[2017-07-24 21:17] GabeIsman opened #302 "Update billing plan succeeds but throws JSON parse error in production"
### General information

* SDK/Library version: 1.6.0
* Environment: Production, not Sandbox
* `PayPal-Debug-ID` values: 6483e2fc44ee9
* Language, language version, and OS: Ruby 2.3.1, Linux (Heroku)

### Issue description

Calls to activate billing plans in production succeed (status is 200) but the client library chokes on the response. In Sandbox mode the body of the response seems to be totall

[2017-07-25 12:36] pikoloshanti commented on #302
We're having exactly the same issue.

[2017-07-25 12:37] krossa commented on #302
Same story

[2017-07-25 14:10] pp-randy commented on #302
Thank you for reporting the issue.

I have created a REST API issue here for tracking https://github.com/paypal/PayPal-REST-API-issues/issues/120, please follow this issue for further tracking.

[2017-07-25 14:10] #302 closed

[2017-07-25 15:21] GabeIsman commented on #302
@pp-randy Thanks for looking into this.

I would respectfully suggest that leaving this issue open might prevent other people from filing duplicates. Since this is a production bug actively causing payments to fail, I imagine other people are also concerned about it.

[2017-07-30 11:32] havannavar commented on #186
Hi All, I am still unable to get any event for my webhookAPI from PayPal in sandbox? anyone can help pls

[2017-07-31 14:55] pp-randy commented on #186
@havannavar since this issue has been closed for a while can you create a new one and we will take a look.

[2017-08-04 13:04] kirqe opened #304 "Model name conflicts"
* SDK/Library version:  gem version 1.6.0
* Environment:  Sandbox
* `PayPal-Debug-ID` values:  "dceef850b16eb", "dceef850b16eb"
* Language, language version, and OS:  ruby 2.4.0, rails Rails 5.1.2, OSX 10.11.6

### Issue description

https://stackoverflow.com/questions/45507303/paypal-ruby-sdk-model-name-conflict

I have a Plan model in my app. And sometimes I'm caching the following error. **Afte

[2017-08-08 14:48] pp-randy commented on #257
Closing due to inactivity

[2017-08-08 14:48] #257 closed

[2017-08-08 14:52] pp-randy commented on #304
@kirqe were you able to resolve this issue based on the stackoverflow feedback?  I have escalated internally for some additional eyes on this.

[2017-08-08 16:57] kirqe commented on #304
@pp-randy

I didn't get any specific answers.

Here's what I noticed.

Here a part of code that executes the payment `if payment.execute(payer_id: params[:PayerID])`

If I temporary set it to `if payment.execute(blalalalparams[:PayerID])` and try to complete the payment, I'm going to get an error (as expected)

Then If I fix the code and set it back to `(payer_id: params[:PayerID])` and refresh th

[2017-08-09 14:57] heaven opened #305 "NoMethodError: undefined method `find' for PayPal::SDK::REST::RequestDataType:Module"
Error when trying to retrieve Webhook Event

* SDK/Library version: 1.6.0
* Environment: Sandbox

[code]

[2017-08-09 15:13] heaven commented on #305
Here https://github.com/paypal/PayPal-Ruby-SDK/blob/master/lib/paypal-sdk/rest/data_types.rb#L1597 class methods wrapped in `class << self` twice.

[2017-08-09 15:23] pp-randy commented on #304
I see this new issue might be related https://github.com/paypal/PayPal-Ruby-SDK/issues/305

[2017-08-09 17:54] kirqe commented on #304
@pp-randy I found the following issue where it's recommended to use namespaces instead of including a module. eg `PayPal::SDK::REST::Payment`

https://github.com/paypal/PayPal-Ruby-SDK/issues/24

Looks like I'm not getting any errors anymore. Thanks

[2017-08-09 19:03] pp-randy commented on #304
Awesome.  I'm still catching up on my Ruby...  Thank you for letting me know.

[2017-08-09 19:03] #304 closed

[2017-08-10 14:38] pp-randy commented on #305
Closing the issue, will use your pull request to track. Thank you for the pull.

[2017-08-10 14:38] #305 closed

[2017-08-10 14:41] pp-randy commented on #305
https://github.com/paypal/PayPal-Ruby-SDK/pull/306

[2017-08-11 13:39] BCS-Chris opened #307 "Internal Server Error Creating a Payment - REST API"
### General information

* SDK/Library version: REST API
* Environment: Sandbox
* `PayPal-Debug-ID` values: e5a24b73e9197
* Language, language version, and OS: Salesforce

### Issue description
I am just trying to post to the Payments endpoint using something almost identical to the sample Payment Request. I can correctly get the OAuth token and get the access token back. I am authenticating into

[2017-08-11 13:39] #307 closed

[2017-08-16 22:00] edenisn opened #308 "create_profile"
Do you have analog method https://github.com/fnando/paypal-recurring/blob/f99a340bc21e67f6e90cd242a106bd5e82c7bc24/lib/paypal/recurring/base.rb#L175 in your gem?

[2017-08-17 14:31] edmz opened #309 "Reference Transactions support"
I've been reading the code in this repo and haven't found anything that looks like Reference Transactions. _(Though I really don't know exactly what to look for.)_

We already implement Billing Agreements/Plans but need a way to use Reference Transactions as defined in the NVP/SOAP API:

So, are Reference Transactions supported in this API? If not, is there a way to achieve that using the REST API

[2017-08-17 15:09] pp-randy commented on #309
I do not have an ETA on Reference Transactions being available on REST API we are tracking the request here: https://github.com/paypal/PayPal-REST-API-issues/issues/44

I know its being actively worked on, but again I'm not sure in a public release date.

[2017-08-17 15:09] #309 closed

[2017-08-17 15:38] pp-randy commented on #308
I did a search for Analog and don't see one https://github.com/paypal/PayPal-Ruby-SDK/search?utf8=%E2%9C%93&q=analog&type=

[2017-08-17 20:15] edenisn commented on #308
Thanks! @pp-randy

[2017-08-17 20:15] #308 closed

[2017-08-19 17:12] ankitbibiyaan opened #310 "internal server error"
### General information

* SDK/Library version: paypal-rest-sdk":"1.7.1"
* Environment: Sandbox
* `PayPal-Debug-ID` values: 13400819b3966
* Language, language version, and OS:

### Issue description

paypal.payment.create function is returning internal server error and returning response after 31 sec

[2017-08-21 22:29] pp-randy commented on #310
This is due to an overused credit card number in our sandbox environment.  Please see https://github.com/paypal/PayPal-REST-API-issues/issues/22, and try a new credit card number with the link found in this issue.

I would encourage seeing if our Braintree offerings support your credit card needs if you are just beginning to integrate https://www.braintreepayments.com/.

[2017-08-21 22:29] #310 closed

[2017-08-30 15:57] sharang-d commented on #122
Is there still no official implementation for this?

[2017-09-09 16:15] casiodk commented on #295
I have the same error, how do you get sandbox money

[2017-09-11 13:47] pp-randy commented on #295
Create a new account with a high balance or create some transactions.  You can send money from the new account to your existing instead of recreating everything.

[2017-09-14 23:19] casiodk commented on #295
it keeps failing, i have tried multiple accounts

Response debug ID = 269e30551d015, 269e30551d015.

[2017-09-18 17:17] xiaoleih41 commented on #295
You have to make sure your API caller account/payout account has positive balance.  You cannot send a payout without the enough balance to cover the payout. Please create a new account with a positive balance and send money (not payout) to the API account to help bring up the balance on that account.

[2017-09-27 11:57] LionYu opened #312 "WebhookEvent.verify always return false"
### General information

* SDK/Library version: paypal-sdk-rest-1.6.1
* Environment: Sandbox
* `PayPal-Debug-ID` values:
* Language, language version, and OS: ruby 2.3.1p112, Rails 5.1.3, MacOS 10.12.6 (16G29)

### Issue description

I follow the sample in

https://github.com/paypal/PayPal-Ruby-SDK/blob/v1.6.1/samples/notifications/verify_webhook_event.rb

to build my listener in Sandbox Environme

[2017-09-27 13:40] xiaoleih41 commented on #312
Close the issue as it's solved.

[2017-09-27 13:40] #312 closed

[2017-10-02 17:13] Yardan opened #313 "Get error PayPal Connection Exception :: 500 in production"
### General information

* SDK/Library version: 1.11
* Environment: Production
* `PayPal-Debug-ID` values: 92f2bf6023cc1
* Language, language version, and OS: PHP 7.0.19-1 Debian GNU/Linux 9.0 (stretch)

### Issue description

In production we get error:
[code]
Customer tried to order something. I tried reproduce it, but couldn't. It happen only once.

When customer order something php executes st

[2017-10-02 18:58] xiaoleih41 commented on #313
This looks like a temporary internal connection error. If it happens again, please contact www.paypal-techsupport.com and they can track production bug and let you know if it's a temporary glitch or a bug that have been logged.

[2017-10-06 16:43] progsmile commented on #14
I'm using php sdk, and I was able to see fees after enabling auto payments receive option

![](https://image.prntscr.com/image/LZgDpFIzRGys88pti0fq-A.png)

[2017-10-06 18:21] xiaoleih41 commented on #313
Close this issue as correct contact path has been provided.

[2017-10-06 18:21] #313 closed

[2017-10-19 20:37] engshien opened #314 "[minor] logs `undefined method `encType='` on Payout.get()"
### General information

* SDK/Library version: 1.6.1
* Environment: Sandbox (occurs in Production also)
* `PayPal-Debug-ID` values: ["c313531813d27", "c313531813d27"]
* Language, language version, and OS: ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-darwin16]

### Issue description

On calling `PayPal::SDK::REST::Payout.get(id)`, I get the proper response but I am also getting the following

[2017-10-21 13:21] Juksefantomet commented on #290
Sorry for simply jumping in here, but i believe this is the 2.9% fee issued by paypal in accordance with refunding and such. which basically has nothing to do with the actual purchase of an item. meaning it is not possible to separate it, but if you output to the user maybe a sum and calc 2.9% you can emulate a product list with the fee listed as a separate value so the buyer would know what those

[2017-10-21 13:24] Juksefantomet commented on #290
[https://www.paypal-community.com/t5/Fees-Archive/Fees-on-receiving-payment-from-money-request/td-p/200318](url)

sorry messed up on the provided link :D

[2017-10-23 16:01] xiaoleih41 commented on #314
Can you help me find out where `encType` is located at? I will report the issue.

[2017-10-23 22:15] #314 closed

[2017-10-23 22:15] bluk commented on #314
Thanks for the report. Will be part of the next release.

[2017-10-27 02:39] joseneto opened #315 "Undefined Methods currency_code and recipient_name"
* SDK/Library version:  1.6.1
* Environment: SandBox
* Language, language version, and OS: Ruby/Mac Os

I am getting this erros after agreement execute
[code]

My Hash for test
[code]

[2017-10-27 19:39] xiaoleih41 commented on #315
`currency_code` is not a plan attribute and I don't see `recipient_name` in the code.

[2017-10-27 19:48] joseneto commented on #315
Hi,

I put the currency_code using this thread solution https://github.com/paypal/PayPal-Ruby-SDK/issues/167

I got the same error if I remove currency_code from the code.

[2017-10-27 20:01] xiaoleih41 commented on #315
Please provide a `debugId` for us to take a look.  Please remove `currency_code` for sure as I don't see it is part of the plan object from the API reference [here](https://developer.paypal.com/docs/api/payments.billing-plans#definition-plan).

[2017-10-28 18:27] joseneto commented on #266
Ok, o dont see any debug id in my sandbox api call history, i can see only the url, but there is some debug id in my console.(I remove the currency_code)

[code]

**Here is the console part after call the agreament**

[code]

[2017-10-30 01:52] joseneto commented on #315
I remove currency_code from my hash. About the debugID, is blank in the paypal sandbox call history, but there is debug-id information in my log console, this first call is before authorization, the second is after I call the agreement.

**1° Call**
[code]

**2 ° Call**

[code]

[2017-10-30 13:41] pp-randy commented on #266
@joseneto I'm not sure what your issue is your reporting.  It looks like you created a recurring billing agreement here: I-UWG0F6LNJ5V2.  Can you file a new issue and we will look further?

The original issue is unrelated.

[2017-11-01 00:10] joseneto commented on #315
Hi,

I figure out creating this types in the Plan and Address DataTypes

[code]

[2017-11-01 20:06] xiaoleih41 commented on #315
Let me look into this and get back to you.

[2017-11-07 11:40] eliotsykes opened #316 "Billing Plan / Agreements - Add Ruby code samples to give parity with other supported langs"
The code samples linked to from the docs below are missing any Ruby samples (C#, JAVA, Node.js, PHP, Python links are provided)

https://developer.paypal.com/docs/api/payments.billing-plans

[2017-11-08 00:07] matthiassiegel commented on #315
If it helps, I can see this error too when getting existing agreements, although it doesn't seem to cause any issues:
[code]

[2017-11-10 14:42] pp-randy commented on #316
@eliotsykes will the spec test help you for now? https://github.com/paypal/PayPal-Ruby-SDK/blob/master/spec/subscription_examples_spec.rb

[2017-11-10 17:35] eliotsykes commented on #316
Hi @pp-randy, the https://github.com/paypal/PayPal-Ruby-SDK/tree/master/spec directory is helping, thanks 👍

[2017-11-13 22:04] sarge commented on #122
@jackphelps could it be that you are running under a multi-process app server like unicorn?

[2017-11-14 15:55] jackphelps commented on #122
How is that relevant? Each process has its own config, the wrapper is safe regardless.

[2017-11-14 22:12] SaimonL opened #318 "Refund no longer works"
Hi I was using this gem to purchase and do refund from PayPal. Suddenly few months back the refund just stopped working.

I checked the document and it matched what I had:
https://developer.paypal.com/docs/api/quickstart/refund-payment/

[code]

When using any order's transaction_id it always finds the order, however when I execute refund like above I always get this same error:
[code]

I went to

[2017-11-15 00:50] sarge commented on #122
I wanted to be sure I understood the environment the solution was designed for. This issue thread discusses both processes and threads.

As I understand it your solution looks valid for a process forking solution like Unicorn where each process is only dealing with a single web request at a time. In this case re-configuring before each call will should be ok.

Puma / Passenger or Sidekiq use a thr

[2017-11-15 16:45] xiaoleih41 commented on #318
Close the issue as the answer has been given.

[2017-11-15 16:45] #318 closed

[2017-11-15 16:50] SaimonL commented on #318
Thanks for looking into this.

The steps I took were:
1. Using developer.paypal.com create an account "buyer@example.com" as personal.
2. Using developer.paypal.com create an account "seller@example.com" as business.
3. Using developer.paypal.com create an App and linked it to "buyer@example.com".
4. Then get that Apps secret and client ID etc...
5. Is Rails web application purchase something usin

[2017-11-15 16:53] xiaoleih41 commented on #318
Please create a new one as the business account is at 'closed' status. You cannot do refund from a closed account.

[2017-11-15 17:00] SaimonL commented on #318
All this were done from business account that we has been using it in production since 2014.
We have over thousands of transactions in production that we do manual refund on.

[2017-11-16 16:01] alosada opened #319 "NoMethodError: undefined method `attributes_builder' for PayPal::SDK::REST::RequestDataType:Module"
Hello!

* SDK/Library version: paypal-sdk-rest (1.6.1) (from gemfile lock)
* Environment: Both
* `PayPal-Debug-ID` values:
* Language, language version, and OS: Rails 4.2.7, Ruby 2.3.4, OS: Ubuntu 16.04

### Issue description

This is an interesting one, I'm running into the error bellow running a rake task. Running the same code on the rails console works fails intermittently. No method calls upo

[2017-11-20 18:49] jackphelps commented on #122
the config is an instance and doesn't rely on the class vars, so the setters for the client id / secret should be perfectly thread safe.

I mean, as per above I can't guarantee anything for your environment (and please do check for yourself and understand the code), but it ought to work on both puma and unicorn with MRI (and we've used it on both as well as sidekiq in production.

[2017-11-21 13:15] boufalghala commented on #81
i need help future payment work in sandbox when i try live mode this is error

<img width="942" alt="capture d ecran 2017-11-20 a 14 51 57" src="https://user-images.githubusercontent.com/31658578/33074385-48a16640-cec6-11e7-8fd2-b5e06cf66eb5.png">
"debug_id" = 5ba196222d74f;
    "information_link" = "https://developer.paypal.com/docs/api/payments/#errors";
    message = "Unauthorized payment.";

[2017-11-21 16:52] xiaoleih41 commented on #81
@boufalghala Are you approved for future payment? Was it funded by credit card? You may contact www.paypal-techsupport.com  and provide more detail information. I suspect it's a  permission issue on your live app. I am closing this thread as your issue is different from the original issue on the thread.

[2017-11-21 17:49] xiaoleih41 commented on #318
You are correct. Based on the info you have provided, it found the sandbox account was closed.

[2017-11-22 03:05] regoje opened #320 "Hook for when user cancels through Paypal?"
Hi,

I can't find references to this anywhere it the docs:

Is there a hook that's triggered when a user cancels a subscription through Paypal or is the developer expected to periodically check for agreement state?

[2017-11-22 08:00] boufalghala commented on #81
@xiaoleih41 how to enable future payments I want pay with PayPal I am sure is not error from my code

[2017-11-22 16:35] xiaoleih41 commented on #320
You should get [BILLING.SUBSCRIPTION.CANCELLED](https://developer.paypal.com/docs/integration/direct/webhooks/event-names/#supported-webhook-events) once you subscribed the webhooks. You can always subscribe IPN at the same time to have double assurance.

[2017-11-22 17:11] xiaoleih41 commented on #81
Click the enable next to the future payment feature in your developer account.

[2017-11-22 23:34] regoje commented on #320
I honestly don't know how I missed that. Thanks.

[2017-11-22 23:34] regoje commented on #320
I honestly don't know how I missed that. Thanks.

[2017-11-22 23:34] #320 closed

[2017-11-23 21:51] sarge commented on #122
Thanks for the explanation @jackphelps I will dig in a little deeper.

[2017-11-28 16:14] heaven opened #324 "Getting no batch_id when creating a batch"
Gem version: 1.6.1

Hi, we do the following:

[code]

And this line returns nil `batch.batch_header.payout_batch_id`. No errors raised. We have an email address that constantly leads to this issue, others work well.

[2017-11-30 20:34] xiaoleih41 commented on #324
Are you saying it only happens to one PayPal email? Is this a production issue or sandbox issue. I would suggest you to contact www.paypal-techsupport.com if it's an account specific issue.

[2017-12-01 18:25] xiaoleih41 commented on #319
Do you have any debugId or anything I can take a look at?

[2017-12-01 18:28] xiaoleih41 commented on #315
This is an issue. I am going to reporting this issue and update this thread with the issue number.

[2017-12-05 17:48] jackphelps commented on #122
You're reading the part of the code where the class stores the default config. If you don't want to follow the code, try setting the config and you'll get back an instance of `PayPal::SDK::Core::Config < Object`. That's the config object the gem actually uses when making calls.

[2017-12-05 23:39] deashay commented on #122
Ok, so I did something similar, but maybe I'm missing something(not sure how to use your code exactly, so sorry if I did it wrong):
[code]
and the result:
[code]
Of course I'm using wrapper just once and do multiple operations inside, normally I'd just probably wrap one call, but if second thread is able to change my config in different thread the possibility of this happening grows as I add more

[2017-12-09 10:22] shime opened #328 "Billing agreements API"
Looks like there's no support for [Billing agreements API](https://developer.paypal.com/docs/api/payments.billing-agreements) or [Billing plans API](https://developer.paypal.com/docs/api/payments.billing-plans).

Any plans to add this soon?

[2017-12-10 12:38] jogaco commented on #312
Hello @xiaoleih41 How did you solve it?
I'm always getting a false return value from `WebhookEvent.verify`
Of course `params["paypal"]` is not correct in the example. I already noticed this. However, I am still getting always a false as result

[2017-12-11 02:14] LionYu commented on #312
@jogaco check the hidden information in https://github.com/paypal/PayPal-Ruby-SDK/issues/205#issuecomment-284143472 then you will figure out

[2017-12-11 06:39] jaypatel512 commented on #328
We do have [Plan API](https://github.com/paypal/PayPal-Ruby-SDK/blob/master/lib/paypal-sdk/rest/data_types.rb#L2073) and [Agreements](https://github.com/paypal/PayPal-Ruby-SDK/blob/master/lib/paypal-sdk/rest/data_types.rb#L2233)

[2017-12-11 08:26] shime commented on #328
Some documentation would be nice.

[2017-12-11 16:40] xiaoleih41 commented on #315
@matthiassiegel @joseneto Can you please try to reproduce and share a screenshot what it looks like?

[2017-12-11 16:59] jaypatel512 commented on #328
@shime ! You are correct. I assumed we had samples for those already. We will re-open this and keep this as a placeholder to add samples for billing plan and agreement. Thank you for pointing that out.

[2017-12-11 17:01] xiaoleih41 commented on #328
You can find the documentation on [billing agreement](https://developer.paypal.com/docs/api/payments.billing-agreements) and [billing plan](https://developer.paypal.com/docs/api/payments.billing-plans] from the developer.paypal.com.

[2017-12-11 17:09] shime commented on #328
@xiaoleih41 yeah that's the API documentation, I'm talking about documentation for this SDK.

[2017-12-11 19:51] jogaco commented on #312
@LionYu thanks for the tip

[2017-12-12 17:13] pp-randy commented on #315
@matthiassiegel @joseneto additional action on your part is not needed currently.

We are following up on getting these fields properly documented so they can be added to the SDK.

We will follow up further on the messaging being returned when new fields are in the API response that are not in the SDK as well.

[2017-12-13 15:14] pp-randy commented on #328
Closing as a duplicate of https://github.com/paypal/PayPal-Ruby-SDK/issues/316.  The test case might be helpful to you in the mean time https://github.com/paypal/PayPal-Ruby-SDK/tree/master/spec.

[2017-12-13 15:14] #328 closed

[2017-12-13 15:30] pp-randy commented on #324
Closing due to inactivity

[2017-12-13 15:43] heaven commented on #324
Hi, sorry missed your reply. We figured out this happened due to doo long `email_subject` field. I think there was an API error so the behavior is definitely wrong, instead of an empty `batch_id` I would expect the gem raising an error.

[2017-12-13 17:02] pp-randy commented on #324
Ok thank you for the information.  I will reopen so we can look further.

[2017-12-13 19:52] xiaoleih41 commented on #319
Close due to inactivity. Please reopen when additional info is provided.

[2017-12-13 19:52] #319 closed

[2017-12-18 11:19] Kitton opened #330 "Negative testing"
### Issue description

Is there a possibility to use negative testing now - https://developer.paypal.com/docs/api/nt-rest/ ?
Because looks like since recently it's impossible to use an old way with error codes (https://developer.paypal.com/docs/classic/api/errors/) against REST API.

[2017-12-18 15:00] pp-randy commented on #330
Yes, you pass in the header `PayPal-Mock-Response`  in the API request with the error you want back.  Shown in the Payments API example, in the Negative Testing Guide, the value would be a JSON string `{"mock_application_codes":"INSTRUMENT_DECLINED"}`.

I've seen some folks start to test this, and some learnings from that, is to not include the `PayPal-Mock-Response`  header in the get access toke

[2017-12-18 15:13] Kitton commented on #330
I mean can we do this by using gem only with `PayPal::SDK::REST::Order.authorize` or `PayPal::SDK::REST::Authorization.capture`?

[2017-12-18 15:30] pp-randy commented on #330
You should be able to add the header as shown here https://github.com/paypal/PayPal-Ruby-SDK/pull/199.   If that doesn't work for you, let me know and I will run some testing on my end.

[2018-01-02 16:33] pp-randy commented on #330
Closing due to inactivity

[2018-01-02 16:33] #330 closed

[2018-01-09 14:45] xiaoleih41 commented on #324
Can you reproduce the error and provide a debug ID?

[2018-01-11 20:07] jaypatel512 commented on #232
@mraidel @Kitton ! PayPal APIs are open, and can be directly called via CURL request or via our SDKs. To keep SDK operations transparent, we try not to change any behavior of a given API. In this case, the issue is that the API request does not accept `details` as a part of `amount`. The exception thrown back is given from server. Masking this exception by automatically removing `details` inside t

[2018-01-11 20:07] #232 closed

[2018-01-17 15:32] octopusinvitro opened #332 "README and SDK docs show two ways to configure the environment"
### General information

* SDK/Library version: 1.7.2
* Environment: sandbox or live
* `PayPal-Debug-ID` values: not applicable
* Language, language version, and OS: Ruby 2.4.1 on Ubuntu 16.04

### Issue description

Hello,
According to the gem's README, in order to configure the environment, one should invoke:

[code]

However, [according to the API docs](https://developer.paypal.com/docs/api/qui

[2018-01-18 18:19] bluk commented on #332
Hello, the recommended way is to use `PayPal::SDK::REST.set_config(` for new integrations. We will get the documentation updated.

[2018-01-18 18:19] #332 closed

[2018-01-24 15:36] pp-randy commented on #324
I tested looks to be returning a correct error.  Closing for now, unless you can help us reproduce.

[code]

[2018-01-24 15:36] #324 closed

[2018-01-25 00:34] matthiassiegel opened #333 "Sale objects return nil for parent_payment"
Ruby SDK 1.7.2
Production environment

According to the [docs](https://developer.paypal.com/docs/api/payments/#sale_get) you can call `parent_payment` on a sale object to get the ID of the parent payment.

I tried several sale IDs, both from one-off transactions and transactions that were created through billing agreements, and they always return `nil` for `parent_payment`.

[code]

[2018-01-25 14:44] octopusinvitro opened #334 "Using a custom button"
### General information

* SDK/Library version: 1.7.2
* Environment: sandbox or live
* `PayPal-Debug-ID` values: not applicable
* Language, language version, and OS: Ruby 2.4.1 on Ubuntu 16.04

### Issue description

Hello, this is not really an issue but more of a question, sorry to post here, feel free to redirect me.

We are trying to set up a payment and it looks like we can not do it 100% ser

[2018-01-25 15:19] xiaoleih41 commented on #334
Due to the overall customer experience regarding PayPal branding PayPal  will need you to integrate our hosted button to ensure the consistence of customer experience and avoid necessary confusion.  However we do have various options in term of button styles. Please take a look at [here](https://developer.paypal.com/docs/integration/direct/express-checkout/integration-jsv4/customize-button/) to se

[2018-01-25 15:30] xiaoleih41 commented on #333
Are these transaction parent payment transaction themselves?

[2018-01-25 15:41] octopusinvitro commented on #334
Thanks @xiaoleih41 .

Does that mean that there is absolutely no way to avoid the PayPal button. It would really break our design and hence our own branding.

We had already looked at the button styles page you point to but it doesn't solve the problem. The experience with Stripe is still consistent and creates no confusion for our users despite using our custom form. In fact, the presence of the

[2018-01-25 15:52] xiaoleih41 commented on #334
I know historically, we did allow customized button but we also found out that many customers were having trouble to click on those buttons as they didn't trust it was linked to their real PayPal account. I do not believe we have this option anymore but you can always contact our sales team and see if some legacy option is still available to certain merchant.

[2018-01-25 23:08] matthiassiegel commented on #333
I don't know what you mean. I have a transaction ID (note that in the NVP API this is called transaction ID, but in the REST API it appears to be a sale ID, super confusing) and I can use it to look up the sale object using the REST API, as shown above. But I want to look up the corresponding payment which has more information.

[2018-01-26 20:37] xiaoleih41 commented on #333
The **parent payment** is a read only field in the response when you query the **sale_id**

[2018-01-26 23:26] matthiassiegel commented on #333
Yes I know, and the problem is that the field is always `nil`. It should return the payment ID `PAY-xxxxx`.

After further investigation this looks like an API problem. The `parent_payment` field is not included in the API response when querying `https://api.paypal.com/v1/payments/sale/[sale_id]`.

I've opened a ticket [here](https://github.com/paypal/PayPal-REST-API-issues/issues/190). Closing th

[2018-01-26 23:26] #333 closed

[2018-01-29 15:59] pp-randy commented on #334
Closing the issue as the answer has been provided.

[2018-01-29 15:59] #334 closed

[2018-02-14 13:54] thedanielhanke commented on #316
news on this?

the spec https://github.com/paypal/PayPal-Ruby-SDK/blob/master/spec/subscription_examples_spec.rb is missing/xit-ing the important parts..

[2018-02-15 06:52] chibeepatag commented on #316
How do you find an agreement using the token?

After creating the agreement, the id is null. After the user approved the payment in the payPal site I redirect back to my page but how do I get hold of the agreeement without the id?

[2018-03-05 09:23] chibeepatag commented on #312
event_body  should be the request params without the additions of rails e.g. :controller, :action and the model corresponding to your controller.
[#205 (comment)](got it right!)

[2018-03-28 07:37] Sohair63 commented on #10
Ruby SDK Implemented this api?

[2018-03-28 08:25] Sohair63 commented on #10
I see that things are not documented properly for the SDK,
Playing with the SDK i am able to write some code
[code]

Now pass this `experience_profile.id` into the Payment API:

[code]

[2018-03-28 15:21] sqlninja opened #340 "Error on Billing Agreement Cancel"
### General information

* SDK/Library version: paypal-sdk-rest (1.5.0)
* Environment:
* `PayPal-Debug-ID` values: 86aaa351c3ba3, 2190e5d8606f, d596ec86e306
* Language, language version, and OS: Ruby

### Issue description
Receiving the following error when attempting to cancel a billing agreement:
`PayPal::SDK::Core::Exceptions::MethodNotAllowed: Failed. Response code = 405. Response message = Me

[2018-03-30 03:38] CicholGricenchos opened #341 "data type Transaction is not updated with official document"
### General information

* SDK/Library version: master

### Issue description
Here is a `reference_id` field in official document: https://developer.paypal.com/docs/api/payments/#definition-transaction.

However it doesn't appears in data type definition: https://github.com/paypal/PayPal-Ruby-SDK/blob/master/lib/paypal-sdk/rest/data_types.rb#L659.

[2018-04-02 15:37] xiaoleih41 commented on #340
I cannot find this debugId. Is it sandbox or live environment. What's the status of the billing agreement?

[2018-04-02 15:44] xiaoleih41 commented on #10
@Sohair63 Will you be interested in sending a pull request instead? We will be happy to review it. Thanks!

[2018-04-02 15:51] sqlninja commented on #340
Live, but it is likely that most of these agreements are now canceled because we gave the customers a workaround of logging into PayPal to cancel, and then we update our record via a webhook.
We are checking to see if there are any that are still active...

[2018-04-02 16:06] xiaoleih41 commented on #341
We are looking into this.

[2018-04-04 15:16] xiaoleih41 commented on #340
Does it happen all the time or it's one time issue. Do you have another debugId that you can share?

[2018-04-05 03:16] EnziinSystem opened #342 "Error ResourceNotFound when find model"
### General information

* SDK/Library version: paypal-sdk-rest (1.7.2)
* Environment: Sandbox
* `PayPal-Debug-ID` values: 934b22d820f3c, 934b22d820f3c
* Language, language version, and OS:
Ruby: 2.5.0
Rails: 5.1.5
Ubuntu 17
### Issue description
[code]
Please focus to:
`order = Order.find(1)`
The Order model is my model in the app, it's works very good.
I get an error:
[code]
Why it have my order

[2018-04-05 08:10] #342 closed

[2018-04-05 11:46] sqlninja commented on #340
We have not had any recent PayPal cancellations so I will update this issue
as soon as one comes in.
On Wed, Apr 4, 2018 at 10:16 AM Xiaolei Wheelock <notifications@github.com>
wrote:

--
*John Henderson*
CEO
615-482-5646
john.henderson@hendersimms.com

[2018-04-07 15:08] noctivityinc opened #343 "Refunds not working in sandbox"
### General information

* SDK/Library version: paypal-sdk-rest (1.7.2)
* Environment: sandbox
* `PayPal-Debug-ID` values: ?
* Language, language version, and OS: local dev on OSX

### Issue description

We are using the Express Checkout javascript to complete a sale and then storing that sale ID so that we can refund it later if needed.  All that works fine, except while testing in the sandbox we

[2018-04-09 17:11] xiaoleih41 commented on #343
The transaction was refunded on Apr 7, 2018 08:14:53 PDT.

[2018-04-10 18:29] xiaoleih41 commented on #340
Please let me know once you get the info.  I will close this issue for now. Please feel free to provide new debugID under this issue for me to do research. Thank you!

[2018-04-10 18:29] #340 closed

[2018-04-13 16:28] xiaoleih41 commented on #343
Close this issue as the cause has been given.

[2018-04-13 16:28] #343 closed

[2018-04-17 14:48] SaimonL commented on #228
I did something like this:

[code]

Now I don't know the last step on how to call PayPal to get the response.

[2018-04-17 15:42] xiaoleih41 commented on #228
There's no currency conversion API in REST API set. Are you using adaptive payment API?

[2018-04-17 17:34] SaimonL commented on #228
Oh sorry, I thought this gem had it by looking at the source code. Please disregard the post above.

[2018-04-18 13:05] oussama-sahloul opened #346 ""INTERNAL_SERVICE_ERROR" Paypal Paiment by Credit_Card"
i just tried to make validation for Credit Card before finale Sale,
Code is so simple , but i can't understand why it show that message to me
**"name":"INTERNAL_SERVICE_ERROR","message":"An internal service error occurred."**

`<?php
// 1. Autoload the SDK Package. This will include all the files and classes to your autoloader
include 'PayPal-PHP-SDK/autoload.php';
// 2. Provide your Secret Key. R

[2018-04-18 15:39] xiaoleih41 commented on #346
If the card number has been used before in Sandbox, it may trigger this 500 error. However, payment by direct credit card has been deprecated. No more new application will be approved. Please consider to integrate Braintree SDK instead. For detail, please refer to README. MD.

[2018-04-18 15:39] #346 closed

[2018-04-20 14:30] vsinghjodhpur commented on #231
Yes

[2018-04-20 14:32] vsinghjodhpur commented on #231
Yes its still have issue, I'm using Sandbox and trying to capture payment to saved credit card token but its always shows "INTERNAL_SERVICE_ERROR" while cut the payment.

[2018-04-20 15:03] xiaoleih41 commented on #231
@vsinghjodhpur try a brand new generated card from one of those card generator site and save it then try again to see if it will solve the issue as the sandbox will throw a 500 error when a sandbox credit card number is overused.

[2018-04-28 21:25] 9mm commented on #10
This is beyond retarded. This issue is from 2014 and you still cant disable shipping? Why even push the REST api in the docs to begin wtih if you can't do the most basic of features. Absolutely asinine waste of time so far. I'm glad I spent all day on this only to realize I can't do the most fundamental payment things because PayPal REST api is completely worthless

[2018-04-30 04:08] Sohair63 commented on #10
@xiaoleih41 I do not have access to push to this repo, can you give that? I have done the coding part.

[2018-04-30 20:37] xiaoleih41 commented on #10
Please [fork it](https://help.github.com/articles/fork-a-repo/) first, then make the change and push to the repo.

[2018-05-11 01:10] masudhossain opened #347 "Multiple payee's"
I have on issue with the current sdk, but i was curious if it's possible to add multiple payees.

Right now i specificy the payee as `:payee => { :email => "#{@lesson.recipient.paypal.email}" }` in my controller.

[2018-05-30 23:18] darkslab commented on #316
@chibeepatag I guess something like this works:
`PayPal::SDK::REST::Agreement.new({
  token: 'EC-XXXXXXXXXXXXXXXXX'
}).execute!
`

[2018-05-31 14:44] puneetpandey commented on #205
I am running into the same issue and `WebhookEvent.verify` always returns `false`.
Here's what I am doing:
1. Sandbox Account > Rest Apps > My App > Created a new Webhook (noted down the Webhook ID)
2. From https://developer.paypal.com/developer/webhooksSimulator/, I'd entered the URL and set the `event type = INVOICING INVOICE PAID`
3. Added entry in config/routes.rb
    resources :services do

[2018-05-31 14:53] puneetpandey commented on #205
I am running into the same issue and `WebhookEvent.verify` always returns `false`.
Here's what I am doing:
1. Sandbox Account > Rest Apps > My App > Created a new Webhook (noted down the Webhook ID)
2. From https://developer.paypal.com/developer/webhooksSimulator/, I'd entered the URL and set the `event type = INVOICING INVOICE PAID`
3. Added entry in config/routes.rb
[code]
4. Inside `/app/contro

[2018-05-31 19:12] puneetpandey commented on #312
I am following this thread and the linked thread very closely and setup the webhook in the recommended way. Still no luck! Please check this out:

I am running into the same issue and `WebhookEvent.verify` always returns `false`.
Here's what I am doing:
1. Sandbox Account > Rest Apps > My App > Created a new Webhook (noted down the Webhook ID)
2. From https://developer.paypal.com/developer/webhook

[2018-06-01 00:38] chibeepatag commented on #312
@puneetpandey what is inside  event_body = params["service"] ?

Also, could you check if those request.header keys exist? Because what works for me is Paypal-Transmission-Sig not HTTP_PAYPAL_TRANSMISSION_SIG.

[2018-06-01 07:36] puneetpandey commented on #312
@chibeepatag thanks for your reply. It seems to me that setup is ok, what I am trying to do here is, after configuring a listener > using a sample payload to simulate the webhook event. and from the description here: https://developer.paypal.com/docs/integration/direct/webhooks/rest-webhooks/#overview it looks like, I cannot verify the mock events.
So, I will be doing a payment for an invoice to s

[2018-06-01 08:17] chibeepatag commented on #312
Yes you cannot validate  events made from the webhook simulator.

[2018-06-01 13:00] puneetpandey opened #349 "WebhookEvent.resend not working"
For paypal notifications, I have the event ID and I want to re-send it, so that it comes to my server.
Here's the basic code I have:
[code]

When I run it `PaypalInvoiceWebhookEvent.new.trigger_again`, it throws: `undefined method 'resend' for PayPal::SDK::REST::DataTypes::WebhookEvent:Class`. Please see!

[2018-06-01 13:02] puneetpandey commented on #312
FINALLY! I am able to verify the webhook for the real time events.

[2018-06-01 13:05] puneetpandey commented on #349
Looks to me, it's an instance method https://github.com/paypal/PayPal-Ruby-SDK/pull/339/commits/f8351c6c232ce937798db865cfdeba8670ef66e5

[2018-06-01 13:31] puneetpandey commented on #349
When I tried with instance method:
[code]
I am getting 401

[code]

[2018-06-01 13:45] puneetpandey commented on #349
Okay, so finally this worked:

[code]

It would be best, if the examples outlined for notifications can have this basic info added

[2018-06-01 13:55] #349 closed

[2018-06-29 10:51] KjellMorgenstern commented on #143
Facing the same question, and after a good time of searching this thread is the only reference I found.
Anyone with a working implementation who can confirm it works?

[2018-07-28 19:20] indokathan commented on #342
Did you ever figure this one out? I am running into the same issue.

[2018-07-29 02:42] EnziinSystem commented on #342
@indokathan

I remove lines:

[code]
And call direct API
[code]
Convert all to
``
 PayPal::SDK::REST::Payment......
[code]

[2018-08-29 20:42] stefansedich opened #356 "Turn off request and response logging"
How does one turn off the INFO level request/response logging? I could use a null logger but it would still be nice to get errors, is it intended that these are not able to be disabled easily?

[2018-08-29 23:47] mapeveri opened #357 "Generate payment buttons to my users"
Hello, I have a platform where my users load products (we will charge, per user, and for the amount of products that the user upload). I want to use paypal to generate the payment buttons, but the money should go to the user's account. Is it possible to do this? If so, how could it be? In the documentation I found this (https://developer.paypal.com/docs/classic/button-manager/integration-guide/#gr

[2018-09-18 05:48] hlcfan commented on #356
Are you able to set the logger level? Like
[code]
or
[code]

[2018-09-21 02:55] choonggg opened #362 "Express Checkout redirects to paypal site, without executing payment endpoint on iOS"
* SDK/Library version: 1.6.0
* Environment: Production
* `PayPal-Debug-ID` values: none
* Language, language version, and OS: Ruby backend, iOS safari

### Issue description

Not sure if this is the place to discuss Express Checkout but I don't see anywhere else I can post this. Support site doesn't work.

Issue is happening on iOS safari Express Checkout without logging in using credit card. The

[2018-09-26 05:35] choonggg commented on #362
This is in the community forum, looks like the same issue on our end posted last year.
https://www.paypal-community.com/t5/About-Payments/BUG-in-express-checkout-new/m-p/1254807

[2018-12-03 13:51] mhamzajutt96 commented on #264
I don't know what is happening but I set the payment intent to "authorize" as this:
[code]
But when I run the Application I get the Payment ID, AS well as the Payer id using this:

`payment = Payment.find(payment.id)`

 `if payment.execute( :payer_id => "<pid>" )`

But I don't get any related resources on this line

`auth_id = payment.transactions[0].related_resources[0].authorization.id;`

It Alw

[2018-12-10 13:37] agrass opened #368 "Getting new payments"
Hello,

I'm trying to use the params to get the new payments but always getting the same old ones.  Can I use the params start_id or sort_order?

Thanks!

[2018-12-20 19:10] farzam-azhar commented on #205
I am running into the same issue and WebhookEvent.verify always returns false.

I have followed all the solutions in above comments. I am performing webhook testing from paypal sandbox account(not through webhook simulator).

This is how my code looks like:

actual_signature = request.headers["HTTP_PAYPAL_TRANSMISSION_SIG"]
auth_algo = request.headers["HTTP_PAYPAL_AUTH_ALGO"]
auth_algo.sub!(/withR

[2018-12-20 19:22] farzam-azhar commented on #205
Finally got it working, I had to delete `controller`, `action` and `referral` key from and params and then pass params.to_json to event_body. It worked after updating params hash like this.

[2019-01-21 16:50] pngnviko commented on #120
Hi! I have the same problem.

I create payouts with sync_mode=True, so I don't get payout_batch_id or payout_item_id in responce. All I have is sender_item_id and sender_batch_id. In some cases payouts have a status pending or another. How can I cancel those payouts?

[2019-01-21 16:59] pngnviko commented on #120
hi @ksylvest
have you overcome this problem? if yes, say me how, please.

[2019-01-22 15:28] ngetahun opened #369 "Add error message locale translation"
### General information

* SDK/Library version: paypal-sdk-rest (1.7.2)
* Environment: doesn't apply
* `PayPal-Debug-ID` values: doesn't apply
* Language, language version, and OS:

### Issue description

This is more of a feature request. The sdk lacks locale translation files and support for I18n for the error messages thrown. It would be great to have this available.

[2019-02-08 22:14] zachfeldman opened #372 "Is it possible to use checkout.js, then charge a card after the fact?"
Is it possible to have a customer checkout using checkout.js, then sometime after this charge their card using the Ruby API/this library? For instance, if a guest stayed in a hotel, then needed to be charged for incidentals.

I know this is possible with Stripe, but I've had a really hard time divining if it's possible with Paypal from the millions of questions and answers and thousands of pages o

[2019-02-21 16:22] sineed opened #373 "BadRequest exception does not act as an exception"
Hi! I have a quick question: recently I [noticed](https://github.com/paypal/PayPal-Ruby-SDK/blob/master/lib/paypal-sdk/core/api/rest.rb#L111) that `BadRequest` exceptions are rescued to return just response instead of raising this exception.

Is that the excepted behaviour? if so it will be much easier to get rid of the exception and replace it to just response. So [here](https://github.com/paypal

[2019-03-05 17:23] trungle1612 opened #374 "Can not create payment in env=test"
### General information
* SDK/Library version: v2
* Environment: Sandbox
* `PayPal-Debug-ID` values: nothing
* Language, language version, and OS: Ruby 2.4, Ubuntu: 16.04

### Issue description

I want to create payment in env=test, but i can't create a payment
Error message:
[code]

[2019-03-12 17:13] yegor256 opened #376 "where do I get client_id and client_secret?"
Would be great if you can explain in the README where should I get `client_id` and `client_secret`. I can't find the right place in PayPal [online documentation](https://developer.paypal.com/docs/api/overview/).

[2019-03-12 17:28] yegor256 opened #377 "how to send a payment to an email address?"
I can't understand after looking at your README, how can I send $5.00 to a friend, if I know his email address? Would be great if you give a sample Ruby code. "Create Payment" section doesn't mention anywhere an email address.

Cross-posted to [StackOverflow](https://stackoverflow.com/questions/55275141/how-to-use-paypal-payments-api-via-ruby-sdk).

[2019-03-13 07:30] madakopihub commented on #135
any update for this issue? @juwlee

[2019-03-22 17:20] yegor256 commented on #377
It seems that I have to use Payouts API

[2019-03-22 17:20] #377 closed

[2019-04-29 09:37] rwojnarowski commented on #376
https://developer.paypal.com -> Dashboard -> Create App

[2019-06-12 15:34] varyonic opened #378 "billing/subscriptions"
It appears this SDK is still using the `/v1/billing-plans` endpoint deprecated (April 2019?) in favor of `/v1/billing/subscriptions`. Is that correct? Any plans to add support? Would a PR be considered?

[2019-08-01 22:28] ahbou opened #381 "SDK out of sync with Documentation"
This SDK and the beta 2.0 are both out of sync with the subscription docs at: https://developer.paypal.com/docs/api/subscriptions/v1/

It still uses basic auth instead of the access token.
Also creating a plan isn't compatible with the smart banner.

### General information

* SDK/Library version: 1.7.2
* Environment: Both
* Language, language version, and OS: Ruby

[2019-08-30 00:31] varyonic commented on #378
My SDK extension to support subscriptions is now available from my profile and RubyGems. Please star if you find it useful or interesting.

[2019-10-02 18:15] ryanorrico commented on #138
This is old and I have no idea if It will help someone, but I got hung up and @thisisbalajibabu's comment helped me.

I just added a short random-string to the end of each sender_item_id and that fixed it. I don't know why I didn't realize I was assigning all of them the same id.

[2019-10-11 17:53] prakash-gangadharan commented on #376
Hi @yegor256, below is the link which has steps to generate REST API credentials for the sandbox and live environments.
https://developer.paypal.com/docs/api/overview/#get-credentials

[2019-10-11 17:53] #376 closed

[2019-10-25 06:42] Trupti21 commented on #378
@varyonic ,
If you have any query please reopen the issue.

Thanks

[2019-10-25 06:42] #378 closed

[2019-10-25 07:12] Trupti21 commented on #372
@zachfeldman ,
Can you be more precise  about your question?
Actually there are two checkouts available in paypal SDK's [check this](https://developer.paypal.com/docs/checkout/?mark=payment)
1. If customer is having paypal account.
2. Guest checkout.
And If you have ".js" extension file So you can use [Node SDK](https://github.com/paypal/PayPal-Node-SDK).

Thanks

[2019-10-25 07:22] prakash-gangadharan commented on #378
Hi @varyonic, current REST sdks still using below `Billing Plans API` which is  deprecated.
https://developer.paypal.com/docs/api/payments.billing-plans/v1/#billing-plans

**Deprecation notice**:

-  The /v1/billing-plans endpoints are deprecated.
- Use the /v1/billing/subscriptions endpoints instead.
- For details, see [Subscriptions Integration](https://developer.paypal.com/docs/subscriptions/in

[2019-10-25 07:35] prakash-gangadharan commented on #378
Hi @varyonic
* If you find solution to an [issue/improvements](https://github.com/paypal/PayPal-Ruby-SDK/issues) in sdk that would be helpful to everyone, feel free to send us a pull request.
* The ideal approach to create a fix would be to fork the repository, create a branch in your repository, and make a pull request out of it.
* It is desirable if there is enough comments/documentation and Tes

[2019-10-29 05:16] Trupti21 commented on #372
Close this ticket due to inactivity. Please resubmit if you have additional questions.

[2019-10-29 05:16] #372 closed

[2019-10-29 05:35] Trupti21 commented on #368
@agrass ,
Can you please  provide your request body?

Thanks

[2019-10-30 07:21] prakash-gangadharan commented on #362
Hi @choonggg, if this not an integration issue with PayPal-Ruby-SDK, refer the below link for merchant technical support.
https://www.paypal.com/in/smarthelp/article/how-do-i-get-merchant-technical-support,-such-as-for-paypal-product-integrations,-apis-or-sandbox-testing-faq3723

Please visit [Merchant Technical Support](https://www.paypal-techsupport.com/app/) and submit your question for merchan

[2019-10-30 10:52] #290 closed

[2019-11-01 05:13] Trupti21 commented on #368
close the issue due to inactivity. Please reopen the, if you need.

Thanks

[2019-11-01 05:13] #368 closed

[2019-11-01 05:14] #356 closed

[2019-11-06 08:58] #362 closed

[2019-12-11 12:12] anand-rajput commented on #222
It is still present
[Rollbar] Reporting exception: Failed.  Response code = 500.  Response message = Internal Server Error.
[Rollbar] Exception not reported because Rollbar is disabled

PayPal::SDK::Core::Exceptions::ServerError (Failed.  Response code = 500.  Response message = Internal Server Error.):

[2019-12-19 16:27] shanecav84 opened #386 "Feature request: A generic PayPal exception class"
### General information

* SDK/Library version: paypal-sdk-rest 1.7.3
* Environment: both
* `PayPal-Debug-ID` values: n/a
* Language, language version, and OS: n/a

### Issue description

I'd like to be able to rescue PayPal exceptions generally. It would be useful to have a generic `PayPal::Error` class from which all exceptions inherit.

[2019-12-20 11:26] sucithrashanu commented on #381
@ahbou
Currently we do not have any stipulated timeline for the v2.0.0 release, but it may be available in near future.

Please Check PayPal Community  (https://www.paypal-community.com )and  MTS ( https://paypal.com/mts )
Thanks!

[2019-12-20 11:26] #381 closed

[2019-12-20 11:26] sucithrashanu commented on #374
@trungle1612
Currently we do not have any stipulated timeline for the v2.0.0 release, but it may be available in near future.

Please Check PayPal Community  (https://www.paypal-community.com )and  MTS ( https://paypal.com/mts )
Thanks!

[2019-12-20 11:26] #374 closed

[2019-12-20 11:27] sucithrashanu commented on #369
@ngetahun

Currently we do not have any stipulated timeline for the v2.0.0 release, but it may be available in near future.

Please Check PayPal Community  (https://www.paypal-community.com )and  MTS ( https://paypal.com/mts )
Thanks!

[2019-12-20 11:27] #369 closed

[2019-12-20 11:27] sucithrashanu commented on #316
@eliotsykes
Currently we do not have any stipulated timeline for the v2.0.0 release, but it may be available in near future.

Please Check PayPal Community  (https://www.paypal-community.com )and  MTS ( https://paypal.com/mts )
Thanks!

[2019-12-20 11:27] #316 closed

[2019-12-20 11:27] sucithrashanu commented on #315
Currently we do not have any stipulated timeline for the v2.0.0 release, but it may be available in near future.

Please Check PayPal Community  (https://www.paypal-community.com )and  MTS ( https://paypal.com/mts )
Thanks!

[2019-12-20 11:27] #315 closed

[2019-12-20 11:28] sucithrashanu commented on #264
Currently we do not have any stipulated timeline for the v2.0.0 release, but it may be available in near future.

Please Check PayPal Community  (https://www.paypal-community.com )and  MTS ( https://paypal.com/mts )
Thanks!

[2019-12-20 11:28] #264 closed

[2019-12-20 11:28] sucithrashanu commented on #122
Currently we do not have any stipulated timeline for the v2.0.0 release, but it may be available in near future.

Please Check PayPal Community  (https://www.paypal-community.com )and  MTS ( https://paypal.com/mts )
Thanks!

[2019-12-20 11:28] #122 closed

[2020-02-10 15:38] franz-sotoleal opened #392 "PayPal::SDK::REST::WebhookEvent.verify always returns false"
I have read the issue [https://github.com/paypal/PayPal-Ruby-SDK/issues/312](https://github.com/paypal/PayPal-Ruby-SDK/issues/312) but I had no luck. (I am trying to verify webhook-events from the sandbox, not from the webhook simulator)

Code:
[code]
Variables
* actual_signature = FQlzVbTx82BOOQMuvNEgldHHik0q0TQR0ZwrsGXCVZnJYbaFrDOrzTG1/cn0SCNDcQxEsu+hR7feu14jnHC452ACEyDqYk2IeOIjzo2RDZ5S9FMZJ56Kv

[2020-02-10 15:46] franz-sotoleal commented on #392
I do not know if this might help, but I was debugging another webhook event and saw  "invalid encoding" when the signature was being verified.
![invalid_encoding](https://user-images.githubusercontent.com/32780564/74164811-09211f80-4c03-11ea-9b1c-21c3a25b971e.png)

[2020-02-11 17:51] markwatson opened #393 "Use of `openidconnect/userinfo` deprecated endpoint"
### General information

* SDK/Library version: 1.7.2
* Environment: Production
* Language, language version, and OS: Ruby 2.4.5 (effects any version though)

### Issue description

Both the stable version and the 2.0 beta version use deprecated `userinfo` endpoints to get the information about a user. See:
- https://github.com/paypal/PayPal-Ruby-SDK/blob/v1.7.2/lib/paypal-sdk/core/openid_connect.

[2020-02-16 10:07] erkie opened #394 "Certificate paypal.crt deprecated - Paypal IPN can't verify SSL certificate"
### General information

* SDK/Library version:
[code]
* Environment: Production
* Language, language version, and OS: Ruby, Ubuntu 18.04.4

### Issue description

[code]

Tried downloading and opening https://github.com/paypal/PayPal-Ruby-SDK/blob/master/data/paypal.crt on my mac and get this:

<img width="510" alt="Screenshot 2020-02-16 11 05 50" src="https://user-images.githubusercontent.com/21

[2020-02-16 10:49] erkie commented on #394
Workaround that works for now: Putting the `ssl_options.ca_file` configuration option to `nil` seems to fix it for now. Testing this in production now.

[code]

[2020-02-17 15:00] bladealslayer commented on #394
@erkie another option is to pass the path to your operating system's trusted CA bundle. For instance in Debian that would be `/etc/ssl/certs/ca-certificates.crt`. That way wouldn't be disabling SSL validation altogether.

[2020-02-18 16:08] erkie commented on #394
@bladealslayer nice! Honestly I just assumed `ca_file: nil` would force it to use the system ca file.

[2020-03-28 19:50] mikefaraponov opened #396 "Create Order API"
### General information

* SDK/Library version:
* Environment:
* `PayPal-Debug-ID` values:
* Language, language version, and OS:

### Issue description

[2020-03-31 18:58] #396 closed

[2020-05-07 17:24] Velora opened #398 "Expected currency from order api call to be USD, got EUR. Please ensure you are passing currency=EUR to the sdk url."
### General information

* SDK/Library version: Version 1.7.3 of this gem
* Environment: Sandbox
* `PayPal-Debug-ID` values:
* Language, language version, and OS: Ruby on Rails on latest Heroku stack

### Issue description

We just started getting an issue with our integration that hasn't happened before. Have there been changes?

We set the currency as described in the transaction and the amount,